# Library

In [2]:
import pandas as pd
import numpy as np
import os
from datetime import datetime
import datetime as dt
import time
import math
from tqdm import tqdm

In [3]:
pd.options.display.float_format = '{:.2f}'.format
# pd.reset_option('display.float_format')

In [4]:
start_time = time.time()

# Fold

In [5]:
raw_fold = 'D:/data/processing/multi_road/raw'
an_fold = 'D:/data/processing/multi_road/analysis'
img_fold = 'D:/data/processing/multi_road/img'

# xlsx to csv

In [8]:
root_dir = os.path.join(raw_fold, '통합측정기_길갈공업사 테스트_엑셀파일변환_20230918')
root_dir

'D:/data/processing/multi_road/raw\\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918'

In [9]:
for root, dirs, files in os.walk(root_dir):
    print(root)
    print(dirs)
    print(files)

D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918
['2월', '3월', '4월', '5월', '6월', '7월', '8월']
[]
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월
[]
['20230216_24구7277.xlsx', '20230216_76마9134.xlsx', '20230216_81라5008.xlsx', '20230216_84수4732.xlsx', '20230216_86우5729.xlsx', '20230216_90보7264.xlsx', '20230216_90오7614.xlsx', '20230216_92누1338.xlsx', '20230217_73로2796.xlsx', '20230217_81오9842.xlsx', '20230217_87부5462.xlsx', '20230218_57두5878.xlsx', '20230220_75오8358.xlsx', '20230220_82머4121.xlsx', '20230220_87모7949.xlsx', '20230220_87오9026.xlsx', '20230221_70버5367.xlsx', '20230221_73수2824.xlsx', '20230221_81두0862.xlsx', '20230221_81로7909.xlsx', '20230221_82고8389.xlsx', '20230221_82라6861.xlsx', '20230221_83고6076.xlsx', '20230221_84도9199.xlsx', '20230221_84머0673.xlsx', '20230221_90두9246.xlsx', '20230221_91루6684.xlsx', '20230222_74모8184.xlsx', '20230222_91도9205.xlsx', '20230222_91부7888.xlsx', '20230223_85서5531.xlsx', '20230223_98나1881.xlsx', '20230228_89도5183.xlsx']
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월
[]
['20230302_50라9787.xlsx', '20230306_58구1728.xlsx', '20230306_87오2149.xlsx', '20230307_07우0148.xlsx', '20230307_63거8629.xlsx', '20230313_72루5332.xlsx', '20230313_80루1733.xlsx', '20230313_82고1042.xlsx', '20230313_89라5782.xlsx', '20230313_89소9152.xlsx', '20230313_97머8860.xlsx', '20230314_81오8633.xlsx', '20230314_89러3487.xlsx', '20230314_90누1801.xlsx', '20230314_99가5555.xlsx', '20230315_70거3077.xlsx', '20230315_74고9603.xlsx', '20230315_76마3906.xlsx', '20230315_78도6405.xlsx', '20230315_81버9839.xlsx', '20230315_83버0836.xlsx', '20230315_89루0375.xlsx', '20230316_49구8504.xlsx', '20230316_52로3577.xlsx', '20230316_70서8544.xlsx', '20230316_81너2892.xlsx', '20230316_82보6838.xlsx', '20230316_90누1907.xlsx', '20230316_91라6957.xlsx', '20230316_93머2693.xlsx', '20230317_39어6012.xlsx', '20230317_42노9057.xlsx', '20230317_62누4670.xlsx', '20230317_76어4689.xlsx', '20230317_82너2776.xlsx', '20230317_86무5744.xlsx', '20230317_87보2605.xlsx', '20230317_93머0837.xlsx', '20230318_01나4138.xlsx', '20230318_05수5677.xlsx', '20230318_18구2093.xlsx', '20230318_288저1140.xlsx', '20230318_50로5947.xlsx', '20230318_71노4785.xlsx', '20230318_79러3154.xlsx', '20230318_81너6121.xlsx', '20230320_05두1250.xlsx', '20230320_40가5416.xlsx', '20230320_51저4328.xlsx', '20230320_64로2991.xlsx', '20230320_821부3371.xlsx', '20230320_82버1468.xlsx', '20230320_83가6293.xlsx', '20230320_86누8165.xlsx', '20230320_92무2108.xlsx', '20230320_92무4745.xlsx', '20230320_95보3226.xlsx', '20230320_경기82바9370.xlsx', '20230320_경기86배3181.xlsx', '20230321_19다7947.xlsx', '20230321_79누4856.xlsx', '20230321_86누4039.xlsx', '20230321_86수4148.xlsx', '20230321_95모7096.xlsx', '20230322_77가7823.xlsx', '20230322_88머4154.xlsx', '20230322_90마8537.xlsx', '20230327_27어6898.xlsx', '20230327_35우8025.xlsx', '20230327_43우0148.xlsx', '20230327_87우5378.xlsx', '20230327_91노6798.xlsx', '20230327_92수4594.xlsx', '20230327_93버3269.xlsx', '20230327_95거2558.xlsx', '20230327_95수3004.xlsx', '20230328_35마4653.xlsx', '20230328_45다8202.xlsx', '20230328_51주6030.xlsx', '20230328_53더0270.xlsx', '20230328_73어3157.xlsx', '20230328_74모8118.xlsx', '20230328_86모3002.xlsx', '20230328_경기91배1575.xlsx', '20230329_68소3661.xlsx', '20230329_73러9442.xlsx', '20230329_74모8396.xlsx', '20230329_90누1841.xlsx', '20230329_90보5224.xlsx', '20230329_92거7424.xlsx', '20230330_97더7830.xlsx', '20230331_92어4126.xlsx']
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월
[]
['20230401_73다4123.xlsx', '20230401_74모8138.xlsx', '20230401_90두4867.xlsx', '20230401_경기94자5184.xlsx', '20230403_70서8572.xlsx', '20230403_73구8908.xlsx', '20230403_80너8968.xlsx', '20230403_83노2864.xlsx', '20230403_83더8304.xlsx', '20230403_83무4716.xlsx', '20230403_84머0622.xlsx', '20230403_90너1178.xlsx', '20230403_93다5775.xlsx', '20230403_94라8400.xlsx', '20230403_94무0763.xlsx', '20230403_96로7938.xlsx', '20230403_경기89사5308.xlsx', '20230404_82러1773.xlsx', '20230404_87머6645.xlsx', '20230404_89주3909.xlsx', '20230404_91주9703.xlsx', '20230404_95수3120.xlsx', '20230405_40로1872.xlsx', '20230405_70서8907.xlsx', '20230405_79러3094.xlsx', '20230405_83누5115.xlsx', '20230405_83라8371.xlsx', '20230405_83소4374.xlsx', '20230405_85도6828.xlsx', '20230405_92노0130.xlsx', '20230405_92수3206.xlsx', '20230405_94주2623.xlsx', '20230407_70오2725.xlsx', '20230407_74모8003.xlsx', '20230407_86나7574.xlsx', '20230407_89구9848.xlsx', '20230407_89도7498.xlsx', '20230407_92소1877.xlsx', '20230407_93러0146.xlsx', '20230408_74소7221.xlsx', '20230408_81노8565.xlsx', '20230408_97로4470.xlsx', '20230410_39어1763.xlsx', '20230410_75나8348.xlsx', '20230410_76마1323.xlsx', '20230410_83무4694.xlsx', '20230410_85수8802.xlsx', '20230410_90두9057.xlsx', '20230410_97수4956.xlsx', '20230410_경기86사1798.xlsx', '20230411_55무3658.xlsx', '20230411_81라5155.xlsx', '20230411_82러6790.xlsx', '20230411_83무2238.xlsx', '20230411_83무6125.xlsx', '20230411_89로3968.xlsx', '20230411_93로3558.xlsx', '20230411_94소4570.xlsx', '20230411_97조5534.xlsx', '20230412_11저2191.xlsx', '20230412_23모9881.xlsx', '20230412_71더3620.xlsx', '20230412_74다8725.xlsx', '20230412_76고2357.xlsx', '20230412_82라7218.xlsx', '20230412_83도5228.xlsx', '20230412_84조1868.xlsx', '20230412_91구6671.xlsx', '20230412_91더8479.xlsx', '20230412_97수1761.xlsx', '20230413_25루7357.xlsx', '20230413_72오8121.xlsx', '20230413_75보9627.xlsx', '20230413_88도9551.xlsx', '20230413_90도8658.xlsx', '20230413_90두9057.xlsx', '20230413_91라8722.xlsx', '20230413_94부2104.xlsx', '20230413_97고1591.xlsx', '20230414_74소3752.xlsx', '20230414_80더9165.xlsx', '20230414_83버7349.xlsx', '20230414_84주1490.xlsx', '20230414_85어8644.xlsx', '20230414_91도9929.xlsx', '20230414_92거7486.xlsx', '20230414_92누8892.xlsx', '20230414_94나7255.xlsx', '20230414_94로1072.xlsx', '20230414_97누9291.xlsx', '20230415_87고5434.xlsx', '20230415_91라8722.xlsx', '20230417_50고7247.xlsx', '20230417_50주3512.xlsx', '20230417_73마7380.xlsx', '20230417_75보4540.xlsx', '20230417_83주1836.xlsx', '20230417_90저5870.xlsx', '20230417_92도8636.xlsx', '20230417_92무4653.xlsx', '20230417_92어4706.xlsx', '20230417_93너2953.xlsx', '20230417_94나2427.xlsx', '20230418_09너9126.xlsx', '20230418_65노1725.xlsx', '20230418_70어4221.xlsx', '20230418_81거9383.xlsx', '20230418_82노8376.xlsx', '20230418_83마2194.xlsx', '20230418_84머6500.xlsx', '20230418_87부4289.xlsx', '20230418_90수5160.xlsx', '20230418_97로4519.xlsx', '20230419_31두9361.xlsx', '20230419_64거3460.xlsx', '20230419_74다8850.xlsx', '20230419_75구5316.xlsx', '20230419_78보3289.xlsx', '20230419_81머5531.xlsx', '20230419_81우6567.xlsx', '20230419_82고1167.xlsx', '20230419_87오8146.xlsx', '20230419_89더0744.xlsx', '20230419_91라9289.xlsx', '20230419_92고7082.xlsx', '20230419_94나2148.xlsx', '20230419_97어8878.xlsx', '20230419_97조7760.xlsx', '20230420_46우4268.xlsx', '20230420_73고7381.xlsx', '20230420_78로9437.xlsx', '20230420_87우5843.xlsx', '20230420_89노8476.xlsx', '20230420_97두8358.xlsx', '20230421_17무5283.xlsx', '20230421_36머1621.xlsx', '20230421_66고3592.xlsx', '20230421_88서0863.xlsx', '20230421_91도6567.xlsx', '20230421_98구2722.xlsx', '20230421_98저9928.xlsx', '20230422_47라9381.xlsx', '20230422_827구1840.xlsx', '20230422_827구1842.xlsx', '20230422_827구1848.xlsx', '20230422_827구1853.xlsx', '20230424_19우2588.xlsx', '20230424_29어1454.xlsx', '20230424_38우8885.xlsx', '20230424_81보7290.xlsx', '20230424_86너5868.xlsx', '20230424_86로7272.xlsx', '20230424_86머0523.xlsx', '20230424_86수6363.xlsx', '20230424_91도3601.xlsx', '20230424_92무4614.xlsx', '20230424_97두8591.xlsx', '20230424_97보8493.xlsx', '20230425_24너6914.xlsx', '20230425_72나3802.xlsx', '20230425_73마1885.xlsx', '20230425_77너8329.xlsx', '20230425_80머6588.xlsx', '20230425_81라2999.xlsx', '20230425_83저9177.xlsx', '20230425_86러8381.xlsx', '20230425_89저6323.xlsx', '20230425_90러6184.xlsx', '20230425_92어0659.xlsx', '20230425_경기86배1212.xlsx', '20230426_04가5584.xlsx', '20230426_23더1080.xlsx', '20230426_74서2006.xlsx', '20230426_75보5555.xlsx', '20230426_91부7180.xlsx', '20230426_93다5786.xlsx', '20230426_95모8543.xlsx', '20230427_42어6827.xlsx', '20230427_72루9328.xlsx', '20230427_82노5347.xlsx', '20230427_84수2856.xlsx', '20230427_86나6534.xlsx', '20230427_86로7491.xlsx', '20230427_89라7001.xlsx', '20230427_89루5850.xlsx', '20230427_90오8281.xlsx', '20230427_92무6357.xlsx', '20230427_96머8732.xlsx', '20230427_97보8448.xlsx']
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\5월
[]
['20230502_12더1500.xlsx', '20230502_31가6532.xlsx', '20230502_34우1440.xlsx', '20230502_38가6638.xlsx', '20230502_74무8062.xlsx', '20230502_82노8627.xlsx', '20230502_95주5727.xlsx', '20230502_97두5740.xlsx', '20230503_14모6519.xlsx', '20230503_39우3400.xlsx', '20230503_48보2045.xlsx', '20230503_74우8643.xlsx', '20230503_85도9765.xlsx', '20230503_87로8981.xlsx', '20230504_06저8628.xlsx', '20230504_11보9230.xlsx', '20230504_68너3455.xlsx', '20230504_70보8860.xlsx', '20230506_78마2284.xlsx', '20230508_28더9826.xlsx', '20230508_67저1641.xlsx', '20230508_79가6840.xlsx', '20230508_83로2685.xlsx', '20230522_57머9832.xlsx', '20230522_64로6009.xlsx', '20230522_76라6066.xlsx', '20230522_79로1458.xlsx', '20230522_86두6532.xlsx', '20230522_89저8701.xlsx', '20230522_97두7957.xlsx', '20230522_경기57너3134.xlsx', '20230523_74서2214.xlsx', '20230523_90오0925.xlsx', '20230524_86도4225.xlsx', '20230525_11로7315.xlsx', '20230525_72로2016.xlsx', '20230525_85저2504.xlsx', '20230525_90두1851.xlsx', '20230525_92조0228.xlsx', '20230526_92구3856.xlsx', '20230530_46모6692.xlsx', '20230530_57머9832.xlsx', '20230530_78거5168.xlsx', '20230530_87수2689.xlsx', '20230531_96고9266.xlsx']
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\6월
[]
['20230601_36호8139.xlsx', '20230601_80주3965.xlsx', '20230601_89두2068.xlsx', '20230601_89소4671.xlsx', '20230601_89어6093.xlsx', '20230602_45서6980.xlsx', '20230602_82가8246.xlsx', '20230605_14우5631.xlsx', '20230609_72러5843.xlsx', '20230612_814구3929.xlsx', '20230612_83우0672.xlsx', '20230612_88너0714.xlsx', '20230612_91보1511.xlsx', '20230612_97주0871.xlsx', '20230613_68구5153.xlsx', '20230613_89나1777.xlsx', '20230613_89도4660.xlsx', '20230613_90모7149.xlsx', '20230614_76라6452.xlsx', '20230614_78라8209.xlsx', '20230614_83나1176.xlsx', '20230614_83모2552.xlsx', '20230614_87부7547.xlsx', '20230615_81노9409.xlsx', '20230615_96머8147.xlsx', '20230616_74도9980.xlsx', '20230616_81보7976.xlsx', '20230616_87저9414.xlsx', '20230616_89누0585.xlsx', '20230616_96다4848.xlsx', '20230616_96머8867.xlsx', '20230616_97조6888.xlsx', '20230617_215무9639.xlsx', '20230619_107루2668.xlsx', '20230619_90버8282.xlsx', '20230620_19다7333.xlsx', '20230620_52소1241.xlsx', '20230621_90로8626.xlsx', '20230622_82고1184.xlsx', '20230630_86무9964.xlsx']
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\7월
[]
['20230701_70다9602.xlsx', '20230701_79누6079.xlsx', '20230701_81무8697.xlsx', '20230701_84어6214.xlsx', '20230703_08고7112.xlsx', '20230703_31무3966.xlsx', '20230703_71보8183.xlsx', '20230703_86오8999.xlsx', '20230728_68누5932.xlsx', '20230728_81구8307.xlsx', '20230728_81보8078.xlsx', '20230728_82고3033.xlsx', '20230728_84고3653.xlsx']
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\8월
[]
['20230802_57오0139.xlsx', '20230802_83로2395.xlsx', '20230802_89라3877.xlsx', '20230802_89수3017.xlsx', '20230802_89수7300.xlsx', '20230802_93더4807.xlsx', '20230802_96누9273.xlsx', '20230803_75모9718.xlsx', '20230804_81가9404.xlsx', '20230804_97다6974.xlsx', '20230805_80더4441.xlsx', '20230807_89조6557.xlsx', '20230807_92저5420.xlsx', '20230807_경기91배1098.xlsx', '20230808_82버2616.xlsx', '20230808_85보3551.xlsx', '20230808_96오7831.xlsx', '20230808_97저9849.xlsx', '20230809_29두0546.xlsx', '20230809_43가1713.xlsx', '20230809_92다9317.xlsx', '20230810_80무1659.xlsx', '20230810_82서6891.xlsx', '20230810_91오5705.xlsx', '20230811_75어2421.xlsx', '20230816_204거9794.xlsx', '20230816_67머8013.xlsx', '20230816_71가1070.xlsx', '20230816_81구4194.xlsx', '20230817_86조5059.xlsx', '20230817_94부6771.xlsx', '20230821_81버2554.xlsx', '20230821_경기84바4837.xlsx', '20230821_경기91바1963.xlsx', '20230822_167로4353.xlsx', '20230822_91주8608.xlsx', '20230822_93도9547.xlsx', '20230822_99가5554.xlsx', '20230823_90오3200.xlsx', '20230824_81로9501.xlsx', '20230824_83오5869.xlsx', '20230824_89수7287.xlsx', '20230824_91노5481.xlsx', '20230824_92수4513.xlsx', '20230825_90우2162.xlsx', '20230825_94버2473.xlsx', '20230828_60도6080.xlsx', '20230828_62가0517.xlsx', '20230828_84두0329.xlsx', '20230829_23하5287.xlsx', '20230829_89마6556.xlsx', '20230830_90어9150.xlsx', '20230831_25서1553.xlsx']

In [10]:
for root, dirs, files in os.walk(root_dir):
    if len(files) != 0:
        for file in files:
            print(os.path.join(root, file))

D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230216_24구7277.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230216_76마9134.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230216_81라5008.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230216_84수4732.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230216_86우5729.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230216_90보7264.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230216_90오7614.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230216_92누1338.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230217_73로2796.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230217_81오9842.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230217_87부5462.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230218_57두5878.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230220_75오8358.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230220_82머4121.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230220_87모7949.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230220_87오9026.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230221_70버5367.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230221_73수2824.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230221_81두0862.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230221_81로7909.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230221_82고8389.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230221_82라6861.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230221_83고6076.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230221_84도9199.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230221_84머0673.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230221_90두9246.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230221_91루6684.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230222_74모8184.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230222_91도9205.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230222_91부7888.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230223_85서5531.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230223_98나1881.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\2월\20230228_89도5183.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230302_50라9787.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230306_58구1728.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230306_87오2149.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230307_07우0148.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230307_63거8629.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230313_72루5332.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230313_80루1733.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230313_82고1042.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230313_89라5782.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230313_89소9152.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230313_97머8860.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230314_81오8633.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230314_89러3487.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230314_90누1801.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230314_99가5555.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230315_70거3077.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230315_74고9603.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230315_76마3906.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230315_78도6405.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230315_81버9839.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230315_83버0836.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230315_89루0375.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230316_49구8504.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230316_52로3577.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230316_70서8544.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230316_81너2892.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230316_82보6838.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230316_90누1907.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230316_91라6957.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230316_93머2693.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230317_39어6012.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230317_42노9057.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230317_62누4670.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230317_76어4689.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230317_82너2776.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230317_86무5744.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230317_87보2605.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230317_93머0837.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230318_01나4138.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230318_05수5677.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230318_18구2093.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230318_288저1140.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230318_50로5947.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230318_71노4785.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230318_79러3154.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230318_81너6121.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230320_05두1250.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230320_40가5416.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230320_51저4328.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230320_64로2991.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230320_821부3371.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230320_82버1468.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230320_83가6293.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230320_86누8165.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230320_92무2108.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230320_92무4745.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230320_95보3226.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230320_경기82바9370.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230320_경기86배3181.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230321_19다7947.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230321_79누4856.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230321_86누4039.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230321_86수4148.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230321_95모7096.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230322_77가7823.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230322_88머4154.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230322_90마8537.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230327_27어6898.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230327_35우8025.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230327_43우0148.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230327_87우5378.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230327_91노6798.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230327_92수4594.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230327_93버3269.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230327_95거2558.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230327_95수3004.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230328_35마4653.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230328_45다8202.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230328_51주6030.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230328_53더0270.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230328_73어3157.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230328_74모8118.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230328_86모3002.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230328_경기91배1575.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230329_68소3661.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230329_73러9442.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230329_74모8396.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230329_90누1841.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230329_90보5224.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230329_92거7424.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230330_97더7830.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\3월\20230331_92어4126.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230401_73다4123.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230401_74모8138.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230401_90두4867.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230401_경기94자5184.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230403_70서8572.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230403_73구8908.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230403_80너8968.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230403_83노2864.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230403_83더8304.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230403_83무4716.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230403_84머0622.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230403_90너1178.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230403_93다5775.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230403_94라8400.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230403_94무0763.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230403_96로7938.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230403_경기89사5308.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230404_82러1773.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230404_87머6645.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230404_89주3909.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230404_91주9703.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230404_95수3120.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230405_40로1872.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230405_70서8907.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230405_79러3094.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230405_83누5115.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230405_83라8371.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230405_83소4374.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230405_85도6828.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230405_92노0130.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230405_92수3206.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230405_94주2623.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230407_70오2725.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230407_74모8003.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230407_86나7574.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230407_89구9848.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230407_89도7498.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230407_92소1877.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230407_93러0146.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230408_74소7221.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230408_81노8565.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230408_97로4470.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230410_39어1763.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230410_75나8348.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230410_76마1323.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230410_83무4694.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230410_85수8802.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230410_90두9057.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230410_97수4956.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230410_경기86사1798.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230411_55무3658.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230411_81라5155.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230411_82러6790.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230411_83무2238.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230411_83무6125.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230411_89로3968.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230411_93로3558.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230411_94소4570.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230411_97조5534.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230412_11저2191.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230412_23모9881.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230412_71더3620.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230412_74다8725.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230412_76고2357.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230412_82라7218.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230412_83도5228.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230412_84조1868.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230412_91구6671.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230412_91더8479.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230412_97수1761.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230413_25루7357.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230413_72오8121.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230413_75보9627.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230413_88도9551.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230413_90도8658.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230413_90두9057.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230413_91라8722.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230413_94부2104.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230413_97고1591.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230414_74소3752.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230414_80더9165.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230414_83버7349.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230414_84주1490.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230414_85어8644.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230414_91도9929.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230414_92거7486.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230414_92누8892.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230414_94나7255.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230414_94로1072.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230414_97누9291.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230415_87고5434.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230415_91라8722.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230417_50고7247.xlsx
D:/data/processing/multi_road/raw\통합측정기_길갈공업사 테스트_엑셀파일변환_20230918\4월\20230417_50주3512.xlsx

In [6]:
tp = pd.read_excel('D:/data/processing/multi_road/raw/통합측정기_길갈공업사 테스트_엑셀파일변환_20230918/2월/20230216_24구7277.xlsx')

In [7]:
tp.shape

(162, 16)

In [14]:
tp.head(12)

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
0,NaN,NaN,디젤NOx분석기 DNA-1000 자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S/N 번호,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,모델번호,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,C:\JDevicesUnit\Data\202302\2023021676마9134_그랜...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,사업장명:,(주)자스텍,NaN,NaN,차량번호:,76마9134,NaN,년 식:,2012.00,정격출력:,174.00,차량중량:,NaN,NaN,출력날짜:,2023-06-20
4,접수번호:,H1532023021600161,NaN,NaN,차 명:,그랜드 스타렉스(GRAN,NaN,주행거리:,NaN,정격 RPM:,3600.00,설정마력:,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),NaN,NaN,NaN,NaN,속도(km/h),출력(PS),토크(Kgf m),매연Env (%)
7,평균,161.80,16.70,178.50,10.86,2.90,958,NaN,NaN,NaN,NaN,NaN,51.42,11.60,6.10,0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
[chr(x) for x in range(65, 65 + tp.shape[1])]

['A',
 'B',
 'C',
 'D',
 'E',
 'F',
 'G',
 'H',
 'I',
 'J',
 'K',
 'L',
 'M',
 'N',
 'O',
 'P']

In [16]:
tp.columns = [chr(x) for x in range(65, 65 + tp.shape[1])]
tp.columns

Index(['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N',
       'O', 'P'],
      dtype='object')

In [17]:
tp.head(10)

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
0,NaN,NaN,디젤NOx분석기 DNA-1000 자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S/N 번호,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,모델번호,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,C:\JDevicesUnit\Data\202302\2023021676마9134_그랜...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,사업장명:,(주)자스텍,NaN,NaN,차량번호:,76마9134,NaN,년 식:,2012.00,정격출력:,174.00,차량중량:,NaN,NaN,출력날짜:,2023-06-20
4,접수번호:,H1532023021600161,NaN,NaN,차 명:,그랜드 스타렉스(GRAN,NaN,주행거리:,NaN,정격 RPM:,3600.00,설정마력:,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),NaN,NaN,NaN,NaN,속도(km/h),출력(PS),토크(Kgf m),매연Env (%)
7,평균,161.80,16.70,178.50,10.86,2.90,958,NaN,NaN,NaN,NaN,NaN,51.42,11.60,6.10,0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
tp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 162 entries, 0 to 161
Data columns (total 16 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   A       154 non-null    object
 1   B       154 non-null    object
 2   C       153 non-null    object
 3   D       152 non-null    object
 4   E       154 non-null    object
 5   F       154 non-null    object
 6   G       153 non-null    object
 7   H       153 non-null    object
 8   I       1 non-null      float64
 9   J       2 non-null      object
 10  K       2 non-null      float64
 11  L       2 non-null      object
 12  M       152 non-null    object
 13  N       154 non-null    object
 14  O       153 non-null    object
 15  P       3 non-null      object
dtypes: float64(2), object(14)
memory usage: 20.4+ KB

In [19]:
tp['A'].dtype

dtype('O')

In [20]:
tp.loc[tp['A'] == '사업장명:']

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
3,사업장명:,(주)자스텍,NaN,NaN,차량번호:,76마9134,NaN,년 식:,2012.00,정격출력:,174.00,차량중량:,NaN,NaN,출력날짜:,2023-06-20

In [21]:
tp.loc[tp['A'].str.contains('사업장명', na=False)]

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
3,사업장명:,(주)자스텍,NaN,NaN,차량번호:,76마9134,NaN,년 식:,2012.00,정격출력:,174.00,차량중량:,NaN,NaN,출력날짜:,2023-06-20

In [22]:
tp.loc[tp['A'].str.contains('사업장명', na=False), 'B'].values[0]

'(주)자스텍'

In [23]:
tp.loc[tp['A'].str.contains('사업장명', na=False), 'B']

3    (주)자스텍
Name: B, dtype: object

In [24]:
tp.loc[tp['E'].str.contains('차량번호', na=False), 'F']

3    76마9134
Name: F, dtype: object

In [25]:
tp.loc[tp['E'].str.contains('차 ', na=False), 'F']

4    그랜드 스타렉스(GRAN
Name: F, dtype: object

In [26]:
tp.loc[tp['H'].str.contains('년 ', na=False), 'I']

3   2012.00
Name: I, dtype: float64

In [27]:
tp.loc[tp['J'].str.contains('정격출력', na=False), 'K']

3   174.00
Name: K, dtype: float64

In [28]:
tp.loc[tp['J'].str.contains('정격 RPM', na=False), 'K']

4   3600.00
Name: K, dtype: float64

In [29]:
tp.loc[tp['L'].str.contains('차량중량', na=False), 'M']

3    NaN
Name: M, dtype: object

In [30]:
tp.loc[tp['O'].str.contains('출력날짜', na=False), 'P']

3    2023-06-20
Name: P, dtype: object

In [31]:
tp.loc[tp['A'].str.contains(r'평균|시간', na=False), 'A':'O']

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O
6,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),NaN,NaN,NaN,NaN,속도(km/h),출력(PS),토크(Kgf m)
7,평균,161.80,16.70,178.50,10.86,2.90,958,NaN,NaN,NaN,NaN,NaN,51.42,11.60,6.10

In [32]:
tp.loc[tp['A'].str.contains(r'평균|시간', na=False), 'A':'O'].dropna(axis=1, how='all')

,A,B,C,D,E,F,G,H,M,N,O
6,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),속도(km/h),출력(PS),토크(Kgf m)
7,평균,161.80,16.70,178.50,10.86,2.90,958,NaN,51.42,11.60,6.10

In [33]:
tp.loc[tp['A'].str.contains(r'평균|시간', na=False), 'A':'O'].dropna(axis=1, how='all').reset_index(drop=True).loc[1, 'B':'O'].to_list()

[161.8, 16.7, 178.5, 10.86, 2.9, 958, nan, 51.42, 11.6, 6.1]

In [34]:
tp.head(12)

,A,B,C,D,E,F,G,H,I,J,K,L,M,N,O,P
0,NaN,NaN,디젤NOx분석기 DNA-1000 자료,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,S/N 번호,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,모델번호,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,C:\JDevicesUnit\Data\202302\2023021676마9134_그랜...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,사업장명:,(주)자스텍,NaN,NaN,차량번호:,76마9134,NaN,년 식:,2012.00,정격출력:,174.00,차량중량:,NaN,NaN,출력날짜:,2023-06-20
4,접수번호:,H1532023021600161,NaN,NaN,차 명:,그랜드 스타렉스(GRAN,NaN,주행거리:,NaN,정격 RPM:,3600.00,설정마력:,NaN,NaN,NaN,NaN
5,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6,시간,NO(ppm),NO2(ppm),NOx(ppm),산소(%),유량(lpm),압력(mbar),매연Die (%),NaN,NaN,NaN,NaN,속도(km/h),출력(PS),토크(Kgf m),매연Env (%)
7,평균,161.80,16.70,178.50,10.86,2.90,958,NaN,NaN,NaN,NaN,NaN,51.42,11.60,6.10,0
8,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
11,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [35]:
cols = ['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량', '설정마력', '출력날짜', '평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)']
vals = []
vals.append(tp.loc[tp['A'].str.contains('사업장명', na=False), 'B'].values[0])
vals.append(tp.loc[tp['A'].str.contains('접수번호', na=False), 'B'].values[0])

vals.append(tp.loc[tp['E'].str.contains('차량번호', na=False), 'F'].values[0])
vals.append(tp.loc[tp['E'].str.contains('차 ', na=False), 'F'].values[0])

vals.append(tp.loc[tp['H'].str.contains('년 ', na=False), 'I'].values[0])
vals.append(tp.loc[tp['H'].str.contains('주행거리', na=False), 'I'].values[0])

vals.append(tp.loc[tp['J'].str.contains('정격출력', na=False), 'K'].values[0])
vals.append(tp.loc[tp['J'].str.contains('정격 RPM', na=False), 'K'].values[0])

vals.append(tp.loc[tp['L'].str.contains('차량중량', na=False), 'M'].values[0])
vals.append(tp.loc[tp['L'].str.contains('설정마력', na=False), 'M'].values[0])

vals.append(tp.loc[tp['O'].str.contains('출력날짜', na=False), 'P'].values[0])

vals += tp.loc[tp['A'].str.contains(r'평균|시간', na=False), 'A':'O'].dropna(axis=1, how='all').reset_index(drop=True).loc[1, 'B':'O'].to_list()

In [36]:
len(cols), len(vals)

(21, 21)

In [37]:
cols

['사업장명',
 '접수번호',
 '차량번호',
 '차명',
 '연식',
 '주행거리',
 '정격출력',
 '정격 RPM',
 '차량중량',
 '설정마력',
 '출력날짜',
 '평균NO(ppm)',
 '평균NO2(ppm)',
 '평균NOx(ppm)',
 '평균산소(%)',
 '평균유량(lpm)',
 '평균압력(mbar)',
 '평균매연Die(%)',
 '평균속도(km/h)',
 '평균출력(PS)',
 '평균토크(Kgf m)']

In [38]:
vals

['(주)자스텍',
 'H1532023021600161',
 '76마9134',
 '그랜드 스타렉스(GRAN',
 2012.0,
 nan,
 174.0,
 3600.0,
 nan,
 nan,
 '2023-06-20',
 161.8,
 16.7,
 178.5,
 10.86,
 2.9,
 958,
 nan,
 51.42,
 11.6,
 6.1]

In [39]:
file.split('_')[0]

'20230216'

In [40]:
temp = pd.DataFrame(columns=cols)
temp.loc[temp.shape[0]] = vals
temp['측정날짜'] = '20230109'
# temp['측정날짜'] = file.split('_')[0]
temp

,사업장명,접수번호,차량번호,차명,연식,주행거리,정격출력,정격 RPM,차량중량,설정마력,...,평균NO2(ppm),평균NOx(ppm),평균산소(%),평균유량(lpm),평균압력(mbar),평균매연Die(%),평균속도(km/h),평균출력(PS),평균토크(Kgf m),측정날짜
0,(주)자스텍,H1532023021600161,76마9134,그랜드 스타렉스(GRAN,2012.00,NaN,174.00,3600.00,NaN,NaN,...,16.70,178.50,10.86,2.90,958,NaN,51.42,11.60,6.10,20230109

## 정보병합

In [11]:
# 예시 파일 1개
tp = pd.read_excel('D:/data/processing/multi_road/raw/통합측정기_길갈공업사 테스트_엑셀파일변환_20230918/2월/20230216_24구7277.xlsx')
tp.shape

(162, 16)

In [47]:
# 33s
df = pd.DataFrame()
tp_cols = [chr(x) for x in range(65, 65 + tp.shape[1])]
cols = ['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량', '설정마력', '출력날짜', '평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)']
count = 0
for root, dirs, files in tqdm(os.walk(root_dir)):
    if len(files) != 0:
        for file in files:
            tp = pd.read_excel(os.path.join(root, file))
            tp.columns = tp_cols
            
            vals = []
            vals.append(tp.loc[tp['A'].str.contains('사업장명', na=False), 'B'].values[0])
            vals.append(tp.loc[tp['A'].str.contains('접수번호', na=False), 'B'].values[0])

            vals.append(tp.loc[tp['E'].str.contains('차량번호', na=False), 'F'].values[0])
            vals.append(tp.loc[tp['E'].str.contains('차 ', na=False), 'F'].values[0])

            vals.append(tp.loc[tp['H'].str.contains('년 ', na=False), 'I'].values[0])
            vals.append(tp.loc[tp['H'].str.contains('주행거리', na=False), 'I'].values[0])

            vals.append(tp.loc[tp['J'].str.contains('정격출력', na=False), 'K'].values[0])
            vals.append(tp.loc[tp['J'].str.contains('정격 RPM', na=False), 'K'].values[0])

            vals.append(tp.loc[tp['L'].str.contains('차량중량', na=False), 'M'].values[0])
            vals.append(tp.loc[tp['L'].str.contains('설정마력', na=False), 'M'].values[0])

            vals.append(tp.loc[tp['O'].str.contains('출력날짜', na=False), 'P'].values[0])

            vals += tp.loc[tp['A'].str.contains(r'평균|시간', na=False), 'A':'O'].dropna(axis=1, how='all').reset_index(drop=True).loc[1, 'B':'O'].to_list()

            temp = pd.DataFrame(columns=cols)
            temp.loc[temp.shape[0]] = vals
            temp['측정날짜'] = file.split('_')[0]

            df = pd.concat([df, temp], ignore_index=False)
            count += 1
count

8it [00:26,  3.36s/it]

465

In [48]:
# 2 ~ 8 : 465개
33+92+189+45+40+13+53

465

In [49]:
df.shape

(465, 22)

In [50]:
df.columns.to_list()

['사업장명',
 '접수번호',
 '차량번호',
 '차명',
 '연식',
 '주행거리',
 '정격출력',
 '정격RPM',
 '차량중량',
 '설정마력',
 '출력날짜',
 '평균NO(ppm)',
 '평균NO2(ppm)',
 '평균NOx(ppm)',
 '평균산소(%)',
 '평균유량(lpm)',
 '평균압력(mbar)',
 '평균매연Die(%)',
 '평균속도(km/h)',
 '평균출력(PS)',
 '평균토크(Kgf_m)',
 '측정날짜']

In [51]:
df = df[[
    '사업장명',
    '접수번호',
    '차량번호',
    '차명',
    '연식',
    '주행거리',
    '정격출력',
    '정격RPM',
    '차량중량',
    '설정마력',
    '출력날짜',
    '평균NO(ppm)',
    '평균NO2(ppm)',
    '평균NOx(ppm)',
    '평균산소(%)',
    '평균유량(lpm)',
    '평균압력(mbar)',
    '평균매연Die(%)',
    '평균속도(km/h)',
    '평균출력(PS)',
    '평균토크(Kgf_m)',
    '측정날짜'
]]

In [52]:
df[['출력날짜', '측정날짜']].head()

         출력날짜      측정날짜
0  2023-06-20  20230216
0  2023-06-20  20230216
0  2023-06-20  20230216
0  2023-06-20  20230216
0  2023-06-20  20230216

In [53]:
df[['출력날짜', '측정날짜']].tail()

         출력날짜      측정날짜
0  2023-08-28  20230828
0  2023-09-04  20230829
0  2023-09-04  20230829
0  2023-09-04  20230830
0  2023-09-04  20230831

In [54]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 465 entries, 0 to 0
Data columns (total 22 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   사업장명         465 non-null    object
 1   접수번호         465 non-null    object
 2   차량번호         465 non-null    object
 3   차명           465 non-null    object
 4   연식           465 non-null    float64
 5   주행거리         0 non-null      float64
 6   정격출력         465 non-null    float64
 7   정격RPM        465 non-null    float64
 8   차량중량         0 non-null      float64
 9   설정마력         0 non-null      float64
 10  출력날짜         465 non-null    object
 11  평균NO(ppm)    465 non-null    float64
 12  평균NO2(ppm)   465 non-null    float64
 13  평균NOx(ppm)   465 non-null    float64
 14  평균산소(%)      465 non-null    float64
 15  평균유량(lpm)    465 non-null    float64
 16  평균압력(mbar)   465 non-null    int64
 17  평균매연Die(%)   0 non-null      float64
 18  평균속도(km/h)   465 non-null    float64
 19  평균출력(PS)     465 non-null    float64
 20  평균토크(Kgf_m)  465 non-null    float64
 21  측정날짜         465 non-null    object
dtypes: float64(15), int64(1), object(6)
memory usage: 83.6+ KB

In [55]:
df.head()

,사업장명,접수번호,차량번호,차명,연식,주행거리,정격출력,정격RPM,차량중량,설정마력,...,평균NO2(ppm),평균NOx(ppm),평균산소(%),평균유량(lpm),평균압력(mbar),평균매연Die(%),평균속도(km/h),평균출력(PS),평균토크(Kgf_m),측정날짜
0,(주)자스텍,H1532023021600261,24구7277,쏘렌토,2015.00,NaN,186.00,4000.00,NaN,NaN,...,57.90,195.10,9.19,2.90,965,NaN,52.19,10.10,5.50,20230216
0,(주)자스텍,H1532023021600161,76마9134,그랜드 스타렉스(GRAN,2012.00,NaN,174.00,3600.00,NaN,NaN,...,16.70,178.50,10.86,2.90,958,NaN,51.42,11.60,6.10,20230216
0,(주)자스텍,H1532023021600351,81라5008,포터Ⅱ (PORTERⅡ),2014.00,NaN,132.00,3800.00,NaN,NaN,...,42.20,211.50,9.51,2.90,967,NaN,51.67,11.80,6.30,20230216
0,(주)자스텍,H1532023021600401,84수4732,봉고Ⅲ 1톤,2015.00,NaN,132.00,3800.00,NaN,NaN,...,47.60,101.90,15.31,3.00,987,NaN,51.24,11.60,6.20,20230216
0,(주)자스텍,H1532023021600201,86우5729,봉고Ⅲ 1톤,2014.00,NaN,132.00,3800.00,NaN,NaN,...,17.50,91.50,16.60,2.90,981,NaN,51.50,11.80,6.30,20230216

## [출력] 통합측정기_길갈공업사_데이터

In [78]:
today_date = datetime.today().strftime("%Y%m%d")
today_date

'20231004'

In [79]:
# 0.2s
name = '통합측정기_길갈공업사_데이터(2023년2~8월)(20230918)'
file_name = f'{name}({today_date}).csv'
df.to_csv(os.path.join(raw_fold, file_name), index=False)

In [80]:
file_name

'통합측정기_길갈공업사_데이터(2023년2~8월)(20231004).csv'

## 통합측정기 검사차량정보

In [140]:
# # 1s
# name = '매연.NOx_통합측정기_현장테스트_검사차량정보_20230918'
# file_name = f'{name}.xlsx'
# mc = pd.read_excel(os.path.join(raw_fold, file_name))
# mc.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 467 entries, 0 to 466
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   자스텍_통합측정기 길갈공업사 테스트   466 non-null    object
 1   Unnamed: 1            466 non-null    object
 2   Unnamed: 2            466 non-null    object
 3   Unnamed: 3            466 non-null    object
dtypes: object(4)
memory usage: 14.7+ KB

In [141]:
# mc.head(10)

  자스텍_통합측정기 길갈공업사 테스트  Unnamed: 1 Unnamed: 2 Unnamed: 3
0                  NaN        NaN        NaN        NaN
1                   구분       차량번호         년식         차명
2                    1    24구7277       2015        쏘렌토
3                    2    76마9134       2012   그랜드 스타렉스
4                    3    81라5008       2014        포터2
5                    4    84수4732       2015        봉고3
6                    5    86우5729       2014        봉고3
7                    6    90보7264       2017     코란도스포츠
8                    7    90오7614       2009        포터2
9                    8    92누1338       2015        포터2

In [142]:
# mc.columns = mc.iloc[1, :]
# mc.columns

Index(['구분', '차량번호', '년식', '차명'], dtype='object', name=1)

In [143]:
# mc.head()

1   구분     차량번호    년식        차명
0  NaN      NaN   NaN       NaN
1   구분     차량번호    년식        차명
2    1  24구7277  2015       쏘렌토
3    2  76마9134  2012  그랜드 스타렉스
4    3  81라5008  2014       포터2

In [144]:
# mc.shape

(467, 4)

In [145]:
# mc = mc.iloc[2:].reset_index(drop=True)
# mc.shape

(465, 4)

In [146]:
# mc.head()

1 구분     차량번호    년식        차명
0  1  24구7277  2015       쏘렌토
1  2  76마9134  2012  그랜드 스타렉스
2  3  81라5008  2014       포터2
3  4  84수4732  2015       봉고3
4  5  86우5729  2014       봉고3

In [147]:
# mc.isnull().sum()

1
구분      0
차량번호    0
년식      0
차명      0
dtype: int64

### [출력] 통합측정기 검사차량정보

In [148]:
# # 0.2s
# name = '통합측정기_검사차량정보(20230918)'
# file_name = f'{name}({today_date}).csv'
# mc.to_csv(os.path.join(raw_fold, file_name), index=False)

In [149]:
# file_name

'통합측정기_검사차량정보(20230918)(20230920).csv'

# Load

## 통합측정기 측정 정보

In [81]:
# 1s
name = '통합측정기_길갈공업사_데이터(2023년1~8월)(20230930)(20231004)'
file_name = f'{name}.csv'
ms = pd.read_csv(os.path.join(raw_fold, file_name))
ms.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 808 entries, 0 to 807
Data columns (total 33 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   사업장명         808 non-null    object
 1   접수번호         808 non-null    object
 2   차량번호         808 non-null    object
 3   차명           808 non-null    object
 4   연식           808 non-null    float64
 5   주행거리         0 non-null      float64
 6   정격출력         808 non-null    float64
 7   정격RPM        808 non-null    float64
 8   차량중량         0 non-null      float64
 9   설정마력         0 non-null      float64
 10  출력날짜         808 non-null    object
 11  평균NO(ppm)    808 non-null    object
 12  최대NO(ppm)    808 non-null    int64
 13  판정NO(ppm)    808 non-null    int64
 14  평균NO2(ppm)   808 non-null    float64
 15  최대NO2(ppm)   808 non-null    int64
 16  판정NO2(ppm)   808 non-null    int64
 17  평균NOx(ppm)   808 non-null    object
 18  최대NOx(ppm)   808 non-null    int64
 19  판정NOx(ppm)   808 non-null    int64
 20  평균산소(%)      808 non-null    float64
 21  평균유량(lpm)    808 non-null    float64
 22  평균압력(mbar)   808 non-null    object
 23  평균매연Die(%)   0 non-null      float64
 24  최대매연Die(%)   808 non-null    int64
 25  판정매연Die(%)   808 non-null    int64
 26  평균속도(km/h)   808 non-null    float64
 27  평균출력(PS)     808 non-null    float64
 28  평균토크(Kgf_m)  808 non-null    float64
 29  평균매연Env(%)   788 non-null    float64
 30  최대매연Env(%)   808 non-null    int64
 31  판정매연Env(%)   808 non-null    int64
 32  측정날짜         808 non-null    int64
dtypes: float64(14), int64(11), object(8)
memory usage: 208.4+ KB

In [82]:
ms.columns

Index(['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량',
       '설정마력', '출력날짜', '평균NO(ppm)', '최대NO(ppm)', '판정NO(ppm)', '평균NO2(ppm)',
       '최대NO2(ppm)', '판정NO2(ppm)', '평균NOx(ppm)', '최대NOx(ppm)', '판정NOx(ppm)',
       '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '최대매연Die(%)',
       '판정매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)',
       '최대매연Env(%)', '판정매연Env(%)', '측정날짜'],
      dtype='object')

In [83]:
ms.head()

,사업장명,접수번호,차량번호,차명,연식,주행거리,정격출력,정격RPM,차량중량,설정마력,...,평균매연Die(%),최대매연Die(%),판정매연Die(%),평균속도(km/h),평균출력(PS),평균토크(Kgf_m),평균매연Env(%),최대매연Env(%),판정매연Env(%),측정날짜
0,(주)자스텍,H1532023010900311,81주2475,포터Ⅱ (PORTERⅡ),2017.00,NaN,132.00,3600.00,NaN,NaN,...,NaN,6,2,52.86,11.80,6.30,NaN,0,0,20230109
1,(주)자스텍,H1532023010900071,91도2605,봉고Ⅲ 1톤,2008.00,NaN,126.00,3800.00,NaN,NaN,...,NaN,15,11,52.88,14.30,7.80,NaN,0,0,20230109
2,(주)자스텍,H1532023011000241,92버5997,그랜드 스타렉스(GRAN,2015.00,NaN,174.00,3600.00,NaN,NaN,...,NaN,9,3,52.16,11.85,6.29,NaN,0,0,20230110
3,(주)자스텍,H1532023011100381,83저9417,그랜드 스타렉스(GRAN,2016.00,NaN,174.00,3600.00,NaN,NaN,...,NaN,0,0,52.86,11.80,6.20,NaN,0,0,20230111
4,(주)자스텍,H1532023011100061,88너8204,포터Ⅱ(PORTERⅡ),2011.00,NaN,126.00,3800.00,NaN,NaN,...,NaN,5,1,52.47,11.80,6.30,NaN,0,0,20230111

## 통합측정기 검사차량정보

In [81]:
# # 1s
# name = '통합측정기_검사차량정보(20230918)(20230920)'
# file_name = f'{name}.csv'
# mcar = pd.read_csv(os.path.join(raw_fold, file_name))
# mcar.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 465 entries, 0 to 464
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   구분      465 non-null    int64
 1   차량번호    465 non-null    object
 2   년식      465 non-null    object
 3   차명      465 non-null    object
dtypes: int64(1), object(3)
memory usage: 14.7+ KB

In [82]:
# mcar.head()

   구분     차량번호    년식        차명
0   1  24구7277  2015       쏘렌토
1   2  76마9134  2012  그랜드 스타렉스
2   3  81라5008  2014       포터2
3   4  84수4732  2015       봉고3
4   5  86우5729  2014       봉고3

## 등록정보(2023.07.08 기준)

In [84]:
car_cdict = {
    'EXHST_GAS_CERT_NO':'배출가스인증번호',
    'EXHST_GAS_GRD_CD':'배출가스등급', 
    'FRST_REG_YMD':'최초등록일자',
    'MANP_MNG_NO':'제원관리번호', 
    'MDFCN_DT':'수정일시', 
    'VHCL_ERSR_YN':'차량말소YN',
    'VHCL_FBCTN_YMD':'차량제작일자',
    # 'YRIDNW':'차량연식', 
    'VHCTY_CD':'차종', 
    'VIN':'차대번호', 
    'VHRNO':'자동차등록번호',
    # 'BSPL_STDG_CD':'법정동코드', 
    # 'PURPS_CD2':'용도', 
    # 'VHCL_MNG_NO':'차량관리번호', 
    # 'VHCL_OWNR_CL_CD':'소유자구분', 
}
len(car_cdict)

10

In [85]:
# 2m 30s
name = 'STD_CEG_CAR_MIG(20230821)'
file_name = f'{name}.csv'
car = pd.read_csv(os.path.join(raw_fold, file_name), usecols=car_cdict.keys())
car.info()

C:\Users\kbjung\AppData\Local\Temp\ipykernel_9616\2069508936.py:4: DtypeWarning: Columns (8,18) have mixed types. Specify dtype option on import or set low_memory=False.
  car = pd.read_csv(os.path.join(raw_fold, file_name), usecols=car_cdict.keys())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 30625663 entries, 0 to 30625662
Data columns (total 10 columns):
 #   Column             Dtype
---  ------             -----
 0   EXHST_GAS_CERT_NO  object
 1   EXHST_GAS_GRD_CD   object
 2   FRST_REG_YMD       object
 3   MANP_MNG_NO        object
 4   MDFCN_DT           object
 5   VHCL_ERSR_YN       object
 6   VHCL_FBCTN_YMD     object
 7   VHCTY_CD           object
 8   VIN                object
 9   VHRNO              object
dtypes: object(10)
memory usage: 2.3+ GB

In [86]:
car_cdict.values()

dict_values(['배출가스인증번호', '배출가스등급', '최초등록일자', '제원관리번호', '수정일시', '차량말소YN', '차량제작일자', '차종', '차대번호', '자동차등록번호'])

In [87]:
# 4s
carr = car.rename(columns=car_cdict)
carr.columns

Index(['배출가스인증번호', '배출가스등급', '최초등록일자', '제원관리번호', '수정일시', '차량말소YN', '차량제작일자',
       '차종', '차대번호', '자동차등록번호'],
      dtype='object')

## 제원정보

In [88]:
src_cdict = {
    'MANP_MNG_NO':'제원관리번호', 
    'FUEL_CD':'연료',
    # 'VHCTY_CD':'차종', 
    'VHCTY_TY_CD2':'차종유형', 
    # 'MNFCTR_NM':'제작사명', 
    # 'VHCNM':'차명', 
    'VHCL_FRM':'자동차형식', 
    'EGIN_TY':'엔진형식', 
    'VHCTY_CL_CD':'차종분류',
    'TOTL_WGHT':'총중량',
    # 'CRYNG_WGHT':'적재중량',
    'DSPLVL':'배기량', 
    'EGIN_OTPT':'엔진출력', 
}
len(src_cdict)

9

In [89]:
# 2s
name = 'STD_CEG_CAR_SRC_MIG(20230821)'
file_name = f'{name}.csv'
src = pd.read_csv(os.path.join(raw_fold, file_name), usecols=src_cdict.keys())
src.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 566615 entries, 0 to 566614
Data columns (total 9 columns):
 #   Column        Non-Null Count   Dtype
---  ------        --------------   -----
 0   VHCL_FRM      536460 non-null  object
 1   DSPLVL        530949 non-null  float64
 2   EGIN_OTPT     491335 non-null  float64
 3   EGIN_TY       517013 non-null  object
 4   FUEL_CD       545937 non-null  object
 5   MANP_MNG_NO   566615 non-null  object
 6   TOTL_WGHT     563088 non-null  float64
 7   VHCTY_CL_CD   551140 non-null  object
 8   VHCTY_TY_CD2  553038 non-null  object
dtypes: float64(3), object(6)
memory usage: 38.9+ MB

In [90]:
srcr = src.rename(columns=src_cdict)
srcr.columns

Index(['자동차형식', '배기량', '엔진출력', '엔진형식', '연료', '제원관리번호', '총중량', '차종분류', '차종유형'], dtype='object')

## 정밀검사

In [91]:
eet_cdict = {
    'VIN':'차대번호', 
    # 'PRCINSP_JGMT':'검사판정', 
    'PREC_NLOD_SMO_MSTVL1':'무부하매연측정치1', # CO(매연)
    'PREC_NLOD_SMO_JT_YN1':'무부하매연판정1', 
    'PREC_NLOD_SMO_PRMVL1':'무부하매연허용치1', 
    'PREC_NLOD_SMO_MSTVL2':'무부하매연측정치2', # HC
    'PREC_NLOD_SMO_JT_YN2':'무부하매연판정2', 
    'PREC_NLOD_SMO_PRMVL2':'무부하매연허용치2', 
    'PREC_NLOD_SMO_MSTVL3':'무부하매연측정치3', # NOx
    'PREC_NLOD_SMO_JT_YN3':'무부하매연판정3', 
    'PREC_NLOD_SMO_PRMVL3':'무부하매연허용치3', 
    # 'PRCINSP_KND_CD':'검사종류', 
    'PRCINSP_MSRMT_MTHD_CD':'검사방법', 
    'PRCINSP_YMD':'검사일자',
    # 'PRCINSP_DRVNG_DSTNC':'주행거리', 
}
len(eet_cdict)

12

In [92]:
# 2m 38.7s
name = 'STD_TB_EET_HIS_ME(part)(20230918)'
file_name = f'{name}.csv'
eet = pd.read_csv(os.path.join(raw_fold, file_name), usecols=eet_cdict.keys())
eet.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 102191938 entries, 0 to 102191937
Data columns (total 12 columns):
 #   Column                 Dtype
---  ------                 -----
 0   VIN                    object
 1   PREC_NLOD_SMO_MSTVL1   float64
 2   PREC_NLOD_SMO_JT_YN1   object
 3   PREC_NLOD_SMO_PRMVL1   float64
 4   PREC_NLOD_SMO_MSTVL2   float64
 5   PREC_NLOD_SMO_JT_YN2   object
 6   PREC_NLOD_SMO_PRMVL2   float64
 7   PREC_NLOD_SMO_MSTVL3   float64
 8   PREC_NLOD_SMO_JT_YN3   object
 9   PREC_NLOD_SMO_PRMVL3   float64
 10  PRCINSP_MSRMT_MTHD_CD  object
 11  PRCINSP_YMD            int64
dtypes: float64(6), int64(1), object(5)
memory usage: 9.1+ GB

In [93]:
# 12s
eetr = eet.rename(columns=eet_cdict)
eetr.columns

Index(['차대번호', '무부하매연측정치1', '무부하매연판정1', '무부하매연허용치1', '무부하매연측정치2', '무부하매연판정2',
       '무부하매연허용치2', '무부하매연측정치3', '무부하매연판정3', '무부하매연허용치3', '검사방법', '검사일자'],
      dtype='object')

In [94]:
eetr['검사일자'].describe()

count   102191938.00
mean     20150152.16
std         55240.81
min      20020520.00
25%      20101023.00
50%      20151223.00
75%      20200718.00
max      20230731.00
Name: 검사일자, dtype: float64

# Preprocessing

## 통합측정정보

In [95]:
ms.columns

Index(['사업장명', '접수번호', '차량번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량',
       '설정마력', '출력날짜', '평균NO(ppm)', '최대NO(ppm)', '판정NO(ppm)', '평균NO2(ppm)',
       '최대NO2(ppm)', '판정NO2(ppm)', '평균NOx(ppm)', '최대NOx(ppm)', '판정NOx(ppm)',
       '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '최대매연Die(%)',
       '판정매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)',
       '최대매연Env(%)', '판정매연Env(%)', '측정날짜'],
      dtype='object')

In [96]:
ms[['측정날짜', '출력날짜']].head()

       측정날짜        출력날짜
0  20230109  2023-01-09
1  20230109  2023-01-09
2  20230110  2023-01-10
3  20230111  2023-01-11
4  20230111  2023-01-11

In [97]:
ms[['측정날짜', '출력날짜']].dtypes

측정날짜     int64
출력날짜    object
dtype: object

In [98]:
ms[['측정날짜', '출력날짜']].isnull().sum()

측정날짜    0
출력날짜    0
dtype: int64

In [99]:
ms['측정날짜'] = pd.to_datetime(ms['측정날짜'], format="%Y%m%d")

In [100]:
ms[['측정날짜', '출력날짜']].head()

        측정날짜        출력날짜
0 2023-01-09  2023-01-09
1 2023-01-09  2023-01-09
2 2023-01-10  2023-01-10
3 2023-01-11  2023-01-11
4 2023-01-11  2023-01-11

In [101]:
ms[['측정날짜', '출력날짜']].tail()

          측정날짜        출력날짜
803 2023-08-30  2023-08-30
804 2023-08-31  2023-08-31
805 2023-08-31  2023-08-31
806 2023-08-31  2023-08-31
807 2023-08-31  2023-08-31

In [102]:
ms.head()

,사업장명,접수번호,차량번호,차명,연식,주행거리,정격출력,정격RPM,차량중량,설정마력,...,평균매연Die(%),최대매연Die(%),판정매연Die(%),평균속도(km/h),평균출력(PS),평균토크(Kgf_m),평균매연Env(%),최대매연Env(%),판정매연Env(%),측정날짜
0,(주)자스텍,H1532023010900311,81주2475,포터Ⅱ (PORTERⅡ),2017.00,NaN,132.00,3600.00,NaN,NaN,...,NaN,6,2,52.86,11.80,6.30,NaN,0,0,2023-01-09
1,(주)자스텍,H1532023010900071,91도2605,봉고Ⅲ 1톤,2008.00,NaN,126.00,3800.00,NaN,NaN,...,NaN,15,11,52.88,14.30,7.80,NaN,0,0,2023-01-09
2,(주)자스텍,H1532023011000241,92버5997,그랜드 스타렉스(GRAN,2015.00,NaN,174.00,3600.00,NaN,NaN,...,NaN,9,3,52.16,11.85,6.29,NaN,0,0,2023-01-10
3,(주)자스텍,H1532023011100381,83저9417,그랜드 스타렉스(GRAN,2016.00,NaN,174.00,3600.00,NaN,NaN,...,NaN,0,0,52.86,11.80,6.20,NaN,0,0,2023-01-11
4,(주)자스텍,H1532023011100061,88너8204,포터Ⅱ(PORTERⅡ),2011.00,NaN,126.00,3800.00,NaN,NaN,...,NaN,5,1,52.47,11.80,6.30,NaN,0,0,2023-01-11

In [103]:
ms = ms.rename(columns={'차량번호':'자동차등록번호'})
ms.columns

Index(['사업장명', '접수번호', '자동차등록번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량',
       '설정마력', '출력날짜', '평균NO(ppm)', '최대NO(ppm)', '판정NO(ppm)', '평균NO2(ppm)',
       '최대NO2(ppm)', '판정NO2(ppm)', '평균NOx(ppm)', '최대NOx(ppm)', '판정NOx(ppm)',
       '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '최대매연Die(%)',
       '판정매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)',
       '최대매연Env(%)', '판정매연Env(%)', '측정날짜'],
      dtype='object')

## 등록정보

In [104]:
carr['수정일시'].dtype

dtype('O')

In [105]:
carr['수정일시'].head()

0    2021-04-28 04:04:09.000000
1    2022-10-13 04:10:15.000000
2    2020-01-14 04:01:33.000000
3                           NaN
4                           NaN
Name: 수정일시, dtype: object

In [106]:
carr['수정일시'].describe()

count                       25062854
unique                         17291
top       2023-06-14 05:06:39.000000
freq                          872014
Name: 수정일시, dtype: object

In [107]:
# # 9s
# # 말소 제거
# carr = carr[carr['차량말소YN'] == 'N'].reset_index(drop=True)
# carr.shape

In [108]:
carr['차량말소YN'].value_counts(dropna=False)

N    25795579
Y     4830084
Name: 차량말소YN, dtype: int64

In [109]:
carr.shape

(30625663, 10)

In [110]:
# 중복 자동차등록번호 제거(최신 수정일시 남기기)
# 2m 18s
carr = carr.sort_values('수정일시', ascending=False).drop_duplicates('자동차등록번호').reset_index(drop=True)
carr.shape

(30460136, 10)

In [111]:
carr[carr['자동차등록번호'].duplicated(keep=False)].shape

(0, 10)

In [112]:
carr['차량말소YN'].value_counts(dropna=False)

N    25788638
Y     4671498
Name: 차량말소YN, dtype: int64

In [113]:
# 21s
# 배출가스등급 코드 변환
grd_dict = {
    'A0501':'1', 
    'A0502':'2', 
    'A0503':'3', 
    'A0504':'4', 
    'A0505':'5', 
    'A05T2':'2',
    'A05T3':'3', 
    'A05T4':'4', 
    'A05T5':'5', 
    'A05X':'X', 
}
carr['배출가스등급'] = carr['배출가스등급'].replace(grd_dict)
carr['배출가스등급'].unique()

array(['1', '3', '2', nan, '4', '5'], dtype=object)

In [114]:
# 16.1s
# 차종 코드 변환
cd_dict = {
    'A31M':'이륜', 
    'A31P':'승용', 
    'A31S':'특수', 
    'A31T':'화물', 
    'A31V':'승합'
}
carr['차종'] = carr['차종'].replace(cd_dict)
carr['차종'].unique()

array(['승용', '화물', '특수', '승합'], dtype=object)

In [115]:
carr.columns

Index(['배출가스인증번호', '배출가스등급', '최초등록일자', '제원관리번호', '수정일시', '차량말소YN', '차량제작일자',
       '차종', '차대번호', '자동차등록번호'],
      dtype='object')

In [116]:
# ## 용도 코드 변환
# purps_dict = {
#     'A08P':'개인용', 
#     'A08B':'영업용', 
#     'A08O':'관용',
# }
# carr['용도'] = carr['용도'].replace(purps_dict)
# carr['용도'].unique()

In [117]:
# ## 소유자구분 코드 변환
# ownr_dict = {
#     'A27B':'사업자', 
#     'A27F':'외국인', 
#     'A27L':'법인', 
#     'A27O':'기타', 
#     'A27R':'주민', 
# }
# carr['소유자구분'] = carr['소유자구분'].replace(ownr_dict)
# carr['소유자구분'].unique()

## 제원정보

In [118]:
## 연료 코드 변환
fuel_dict = {
    'A90GS':'휘발유', 
    'A91DS':'경유',
    'A92LP':'LPG', 
    'A90GH':'휘발유_하이브리드', 
    'A93EV':'전기', 
    'A91DH':'경유_하이브리드', 
    'A92CN':'CNG', 
    'A93HD':'수소', 
    'A92LH':'LPG_하이브리드', 
    'A94OT':'기타연료', 
    'A92CH':'CNG_하이브리드',
    'A90AC':'알코올', 
    'A93SH':'태양열', 
    'A91KS':'등유', 
    'A92LN':'LNG', 
    'A90PH':'플러그인_하이브리드', 
}
srcr['연료'] = srcr['연료'].replace(fuel_dict)
srcr['연료'].unique()

array(['휘발유', '경유', '기타연료', 'LPG', nan, '휘발유_하이브리드', 'CNG', '등유', '태양열',
       '경유_하이브리드', '전기', '알코올', 'LPG_하이브리드', '수소', 'LNG', 'CNG_하이브리드'],
      dtype=object)

In [119]:
# # 7s
# # 차종 코드 변환
# cd_dict = {
#     'A31M':'이륜', 
#     'A31P':'승용', 
#     'A31S':'특수', 
#     'A31T':'화물', 
#     'A31V':'승합'
# }
# srcr['차종'] = srcr['차종'].replace(cd_dict)
# srcr['차종'].unique()

In [120]:
## 차종유형 코드 변환
ty_dict = {
    'A30C':'경형', 
    'A30L':'대형', 
    'A30M':'중형', 
    'A30S':'소형',
}
srcr['차종유형'] = srcr['차종유형'].replace(ty_dict)
srcr['차종유형'].unique()

array(['대형', '중형', '소형', '경형', nan], dtype=object)

## 정밀검사

In [121]:
eetr.shape

(102191938, 12)

In [122]:
# ## 검사종류 코드 변환
# # 27.5s
# knd_dict = {
#     'A21P01':'정밀검사', 
#     'A1904':'정기검사', 
#     'A21T06':'종합검사(경과)', 
#     'A21T05':'종합검사', 
#     'A21S01':'특정검사', 
#     'A1902':'재검사(2부재검사)',
#     'A21R02':'2부재검사(종합)', 
#     'A21P02':'정밀검사(경과)', 
#     'A1903':'정기(경과)검사', 
#     'A21S04':'특정재검사(배출)', 
#     'A21E01':'배출재검사', 
#     'A21R01':'1부재검사(종합)',
#     'A21C02':'구조변경검사', 
#     'A21002':'관능재검사(임시)', 
#     'A21S03':'특정재검사(관능)', 
#     'A21S02':'특정검사(경과)', 
#     'A1901':'재검사(1부재검사)', 
#     'A21T02':'종합(정밀)',
#     'A21E02':'배출재검사(구변)', 
#     'A21T01':'종합(경과:정밀)', 
#     'A21T04':'종합(정밀) 2부재검사', 
#     'A21001':'관능재검사', 
#     'A21T03':'종합(정밀) 1부재검사', 
#     'A21TMP':'임시검사', 
# }
# eetr['검사종류'] = eetr['검사종류'].replace(knd_dict)
# eetr['검사종류'].unique()

In [123]:
## 검사방법 코드 변환
# 14.9s
mth_dict = {
    'A18A':'무부하검사(TSI)', 
    'A18B':'무부하검사(급가속)', 
    'A18C':'무부하검사(정지가동)',
    'A2301':'무부하검사(급가속)', 
    'A2302':'무부하검사(정지가동)',
    'A2303':'무부하검사(TSI)', 
    'A2304':'부하검사(LUG DOWN)', 
    'A2305':'부하검사(ASM-Idling)', 
    'A2306':'부하검사(KD-147)', 
    'A2307':'부하검사(ASM2525)', 
}
eetr['검사방법'] = eetr['검사방법'].replace(mth_dict)
eetr['검사방법'].unique()

array(['부하검사(ASM-Idling)', '부하검사(KD-147)', '무부하검사(급가속)', '부하검사(LUG DOWN)',
       '무부하검사(TSI)', '무부하검사(정지가동)', '부하검사(ASM2525)', nan], dtype=object)

In [124]:
# 2.1s
eetr['검사일자'] = pd.to_datetime(eetr['검사일자'], format="%Y%m%d")

In [125]:
eetr['검사일자'].isnull().sum()

0

In [126]:
eetr['검사일자'].head()

0   2023-04-22
1   2023-04-22
2   2023-04-22
3   2023-04-22
4   2023-04-22
Name: 검사일자, dtype: datetime64[ns]

### 최신검사만

In [127]:
# 27.6s
# 102191938, 26723911
eetr.shape[0], len(eetr['차대번호'].unique())

(102191938, 26723911)

In [128]:
# 1m 43.4s
eetr = eetr.sort_values('검사일자', ascending=False).drop_duplicates('차대번호').reset_index(drop=True)
eetr.shape

(26723911, 12)

### 2022년 10월부터 사용

In [129]:
eetr['검사일자'].head()

0   2023-07-31
1   2023-07-31
2   2023-07-31
3   2023-07-31
4   2023-07-31
Name: 검사일자, dtype: datetime64[ns]

In [130]:
# 3.0s
eetr = eetr[eetr['검사일자'] >= '2022-10-01'].reset_index(drop=True)
eetr.shape

(6944518, 12)

## 측정&등록

In [132]:
ms.columns

Index(['사업장명', '접수번호', '자동차등록번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량',
       '설정마력', '출력날짜', '평균NO(ppm)', '최대NO(ppm)', '판정NO(ppm)', '평균NO2(ppm)',
       '최대NO2(ppm)', '판정NO2(ppm)', '평균NOx(ppm)', '최대NOx(ppm)', '판정NOx(ppm)',
       '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '최대매연Die(%)',
       '판정매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)',
       '최대매연Env(%)', '판정매연Env(%)', '측정날짜'],
      dtype='object')

In [131]:
ms.shape

(808, 33)

In [133]:
# 1m 13.9s
mc = ms.merge(carr, on='자동차등록번호', how='left')
mc.shape

(808, 42)

In [134]:
mc['차대번호'].isnull().sum()

1

In [135]:
mc.loc[mc['차대번호'].isnull() == True, '자동차등록번호']

359    70버7163
Name: 자동차등록번호, dtype: object

In [136]:
mc.shape[0], len(mc['차대번호'].unique())

(808, 804)

In [137]:
mc.shape[0], len(mc['제원관리번호'].unique())

(808, 480)

## 측정&등록&제원

In [138]:
mcs = mc.merge(srcr, on='제원관리번호', how='left')
mcs.shape

(808, 50)

## 측정&등록&제원&정밀

In [139]:
mcs.shape

(808, 50)

In [140]:
# 7.3s
mcse = mcs.merge(eetr, on='차대번호', how='left')
mcse.shape

(808, 61)

In [141]:
mcse.columns

Index(['사업장명', '접수번호', '자동차등록번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량',
       '설정마력', '출력날짜', '평균NO(ppm)', '최대NO(ppm)', '판정NO(ppm)', '평균NO2(ppm)',
       '최대NO2(ppm)', '판정NO2(ppm)', '평균NOx(ppm)', '최대NOx(ppm)', '판정NOx(ppm)',
       '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '최대매연Die(%)',
       '판정매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)',
       '최대매연Env(%)', '판정매연Env(%)', '측정날짜', '배출가스인증번호', '배출가스등급', '최초등록일자',
       '제원관리번호', '수정일시', '차량말소YN', '차량제작일자', '차종', '차대번호', '자동차형식', '배기량',
       '엔진출력', '엔진형식', '연료', '총중량', '차종분류', '차종유형', '무부하매연측정치1', '무부하매연판정1',
       '무부하매연허용치1', '무부하매연측정치2', '무부하매연판정2', '무부하매연허용치2', '무부하매연측정치3',
       '무부하매연판정3', '무부하매연허용치3', '검사방법', '검사일자'],
      dtype='object')

### [출력] 원격&등록&제원&정밀

In [142]:
mcse.columns

Index(['사업장명', '접수번호', '자동차등록번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량',
       '설정마력', '출력날짜', '평균NO(ppm)', '최대NO(ppm)', '판정NO(ppm)', '평균NO2(ppm)',
       '최대NO2(ppm)', '판정NO2(ppm)', '평균NOx(ppm)', '최대NOx(ppm)', '판정NOx(ppm)',
       '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '최대매연Die(%)',
       '판정매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)',
       '최대매연Env(%)', '판정매연Env(%)', '측정날짜', '배출가스인증번호', '배출가스등급', '최초등록일자',
       '제원관리번호', '수정일시', '차량말소YN', '차량제작일자', '차종', '차대번호', '자동차형식', '배기량',
       '엔진출력', '엔진형식', '연료', '총중량', '차종분류', '차종유형', '무부하매연측정치1', '무부하매연판정1',
       '무부하매연허용치1', '무부하매연측정치2', '무부하매연판정2', '무부하매연허용치2', '무부하매연측정치3',
       '무부하매연판정3', '무부하매연허용치3', '검사방법', '검사일자'],
      dtype='object')

In [143]:
mcse_cols = [
    # 통합측정정보
    '사업장명', 
    '접수번호', 
    '자동차등록번호', 
    '차명', 
    '연식', 
    '주행거리', 
    '정격출력', 
    '정격RPM',
    '차량중량',
    '설정마력',
    '출력날짜', 
    '평균NO(ppm)', 
    '최대NO(ppm)', 
    '판정NO(ppm)', 
    '평균NO2(ppm)', 
    '최대NO2(ppm)', 
    '판정NO2(ppm)', 
    '평균NOx(ppm)', 
    '최대NOx(ppm)', 
    '판정NOx(ppm)', 
    '평균산소(%)', 
    '평균유량(lpm)', 
    '평균압력(mbar)', 
    '평균매연Die(%)', 
    '최대매연Die(%)', 
    '판정매연Die(%)', 
    '평균속도(km/h)', 
    '평균출력(PS)', 
    '평균토크(Kgf_m)',
    '평균매연Env(%)',
    '최대매연Env(%)', 
    '판정매연Env(%)', 
    '측정날짜',
    
    # 등록, 제원정보
    '배출가스등급',
    '연료',
    '최초등록일자',
    '배기량',
    '차종',
    '총중량',
    '엔진형식',
    '차대번호',
    '차량말소YN',
    
    # 정밀검사
    '검사일자',
    '무부하매연판정1', # CO(매연)
    '무부하매연측정치1', 
    '무부하매연허용치1', 
    '무부하매연판정3', # NOx
    '무부하매연측정치3', 
    '무부하매연허용치3',
    ]
len(mcse_cols)

49

In [144]:
today_date = datetime.today().strftime("%Y%m%d")
today_date

'20231004'

In [145]:
# 0.2s
file_name = f'통합측정_등록_제원_정밀({today_date}).csv'
mcse[mcse_cols].to_csv(os.path.join(raw_fold, file_name), index=False)
print(f'{file_name} 출력 완료.')

통합측정_등록_제원_정밀(20231004).csv 출력 완료.

# Load csv

## 측정_등록_제원_정밀 데이터

In [255]:
df = mcse.copy()

In [256]:
# name = '통합측정_등록_제원_정밀(20231004)'
# file_name = f'{name}.csv'
# df = pd.read_csv(os.path.join(raw_fold, file_name))
# df.info()

### 전처리
- 측정값 숫자형으로 변환
- 배기량, 차량중량, 속도 구간 설정

#### 측정값 숫자형 변환

In [257]:
df[['평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균매연Die(%)']].dtypes

평균NO(ppm)      object
평균NO2(ppm)    float64
평균NOx(ppm)     object
평균매연Die(%)    float64
dtype: object

In [258]:
df['평균NO(ppm)'] = pd.to_numeric(df['평균NO(ppm)'], errors='coerce')
df['평균NOx(ppm)'] = pd.to_numeric(df['평균NOx(ppm)'], errors='coerce')

In [259]:
df[['평균NO(ppm)', '평균NO2(ppm)', '평균NOx(ppm)', '평균매연Die(%)']].dtypes

평균NO(ppm)     float64
평균NO2(ppm)    float64
평균NOx(ppm)    float64
평균매연Die(%)    float64
dtype: object

#### 구간 설정
- 배기량, 차량중량, 속도, 매연, NOx

##### 배기량
- 1000 단위

In [260]:
df['배기량'].isnull().sum()

1

In [261]:
df['배기량'].describe()

count    807.00
mean    2390.51
std      315.02
min      796.00
25%     2199.00
50%     2497.00
75%     2497.00
max     3933.00
Name: 배기량, dtype: float64

In [262]:
div = 1000
n = 1
num = math.ceil(df['배기량'].max())
for i in range(1000, num, div):
    print(f'{n} : {i} ~ {i + div}')
    n += 1

1 : 1000 ~ 2000
2 : 2000 ~ 3000
3 : 3000 ~ 4000

In [263]:
div = 1000
n = 1
num = math.ceil(df['배기량'].max())
for i in range(1000, num, div):
    df.loc[(df['배기량'] >= i) & (df['배기량'] < i + div), '배기량구분'] = f'{i}이상 {i + div}미만'
    df.loc[(df['배기량'] >= i) & (df['배기량'] < i + div), '배기량구분인덱스'] = n
    n += 1

In [264]:
df['배기량구분'].unique()

array(['2000이상 3000미만', '1000이상 2000미만', '3000이상 4000미만', nan],
      dtype=object)

In [265]:
df['배기량구분인덱스'].unique()

array([ 2.,  1.,  3., nan])

##### 총중량(차량중량)
- 1000 단위

In [266]:
df['총중량'].isnull().sum()

1

In [267]:
df['총중량'].describe()

count    807.00
mean    2847.09
std      499.72
min     1445.00
25%     2720.00
50%     2925.00
75%     3107.50
max     5965.00
Name: 총중량, dtype: float64

In [268]:
div = 1000
n = 1
num = math.ceil(df['총중량'].max())
for i in range(1000, num, div):
    print(f'{n} : {i} ~ {i + div}')
    n += 1

1 : 1000 ~ 2000
2 : 2000 ~ 3000
3 : 3000 ~ 4000
4 : 4000 ~ 5000
5 : 5000 ~ 6000

In [269]:
div = 1000
n = 1
num = math.ceil(df['총중량'].max())
for i in range(0, num, div):
    df.loc[(df['총중량'] >= i) & (df['총중량'] < i + div), '총중량구분'] = f'{i}이상 {i + div}미만'
    df.loc[(df['총중량'] >= i) & (df['총중량'] < i + div), '총중량구분인덱스'] = n
    n += 1

In [270]:
df['총중량구분'].unique()

array(['2000이상 3000미만', '3000이상 4000미만', '1000이상 2000미만', '5000이상 6000미만',
       nan], dtype=object)

In [271]:
df['총중량구분인덱스'].unique()

array([ 3.,  4.,  2.,  6., nan])

##### 평균속도
- 10단위

In [272]:
df['평균속도(km/h)'].describe()

count   808.00
mean     51.34
std       5.26
min       0.00
25%      51.92
50%      52.31
75%      52.62
max      53.61
Name: 평균속도(km/h), dtype: float64

In [273]:
df['평균속도(km/h)'].isnull().sum()

0

In [274]:
math.ceil(df['평균속도(km/h)'].max())

54

In [275]:
div = 10
n = 1
num = math.ceil(df['평균속도(km/h)'].max())
for i in range(0, num, div):
    print(f'{n} : {i} ~ {i + div}')
    n += 1

1 : 0 ~ 10
2 : 10 ~ 20
3 : 20 ~ 30
4 : 30 ~ 40
5 : 40 ~ 50
6 : 50 ~ 60

In [276]:
# 속도 구간 나누기(10단위)
div = 10
n = 1
num = math.ceil(df['평균속도(km/h)'].max())
for i in range(0, num, div):
    df.loc[(df['평균속도(km/h)'] >= i) & (df['평균속도(km/h)'] < i + div), '속도구분'] = f'{i}이상 {i + div}미만'
    df.loc[(df['평균속도(km/h)'] >= i) & (df['평균속도(km/h)'] < i + div), '속도구분인덱스'] = n
    n += 1

In [277]:
df['속도구분'].unique()

array(['50이상 60미만', '40이상 50미만', '30이상 40미만', '0이상 10미만'], dtype=object)

In [278]:
df['속도구분인덱스'].unique()

array([6., 5., 4., 1.])

##### 매연(평균매연Die(%))
- 농도구분 : 0 이상 0.5미만, …, 40 ~

In [295]:
df['평균매연Die(%)'].describe()

count   0.00
mean     NaN
std      NaN
min      NaN
25%      NaN
50%      NaN
75%      NaN
max      NaN
Name: 평균매연Die(%), dtype: float64

In [296]:
div = 0.5
n = 0
for i in range(9):
    print(f'{i + 1} : {n} ~ {n + div}')
    n += div

1 : 0 ~ 0.5
2 : 0.5 ~ 1.0
3 : 1.0 ~ 1.5
4 : 1.5 ~ 2.0
5 : 2.0 ~ 2.5
6 : 2.5 ~ 3.0
7 : 3.0 ~ 3.5
8 : 3.5 ~ 4.0
9 : 4.0 ~ 4.5

In [297]:
div = 0.5
n = 0
for i in range(9):
    df.loc[(df['평균매연Die(%)'] >= n) & (df['평균매연Die(%)'] < n + div), '매연구분'] = f'{n}이상 {n + div}미만'
    df.loc[(df['평균매연Die(%)'] >= n) & (df['평균매연Die(%)'] < n + div), '매연구분인덱스'] = i + 1
    n += div
df.loc[df['평균매연Die(%)'] >= n, '매연구분'] = f'{n}이상'
df.loc[df['평균매연Die(%)'] >= n, '매연구분인덱스'] = i + 2

In [298]:
df['매연구분'].unique()

array([nan], dtype=object)

In [299]:
df['매연구분인덱스'].unique()

array([nan])

##### NOx(평균NOx(ppm))
- 농도구분 : 0이상 500미만, 500~1000, ..., 3000~

In [300]:
df['평균NOx(ppm)'].describe()

count   798.00
mean    329.11
std     216.53
min       0.00
25%     160.03
50%     273.35
75%     454.65
max     996.90
Name: 평균NOx(ppm), dtype: float64

In [301]:
div = 500
n = 0
for i in range(7):
    print(f'{i + 1} : {n} ~ {n + div}')
    n += div

1 : 0 ~ 500
2 : 500 ~ 1000
3 : 1000 ~ 1500
4 : 1500 ~ 2000
5 : 2000 ~ 2500
6 : 2500 ~ 3000
7 : 3000 ~ 3500

In [302]:
div = 500
n = 0
for i in range(7):
    df.loc[(df['평균NOx(ppm)'] >= n) & (df['평균NOx(ppm)'] < n + div), 'NOx구분'] = f'{n}이상 {n + div}미만'
    df.loc[(df['평균NOx(ppm)'] >= n) & (df['평균NOx(ppm)'] < n + div), 'NOx구분인덱스'] = i + 1
    n += div
df.loc[df['평균NOx(ppm)'] >= n, 'NOx구분'] = f'{n}이상'
df.loc[df['평균NOx(ppm)'] >= n, 'NOx구분인덱스'] = i + 2

In [303]:
df['NOx구분'].unique()

array(['0이상 500미만', '500이상 1000미만', nan], dtype=object)

In [304]:
df['NOx구분인덱스'].unique()

array([ 1.,  2., nan])

# Analysis

## 매연 측정 평균

In [279]:
df.columns

Index(['사업장명', '접수번호', '자동차등록번호', '차명', '연식', '주행거리', '정격출력', '정격RPM', '차량중량',
       '설정마력', '출력날짜', '평균NO(ppm)', '최대NO(ppm)', '판정NO(ppm)', '평균NO2(ppm)',
       '최대NO2(ppm)', '판정NO2(ppm)', '평균NOx(ppm)', '최대NOx(ppm)', '판정NOx(ppm)',
       '평균산소(%)', '평균유량(lpm)', '평균압력(mbar)', '평균매연Die(%)', '최대매연Die(%)',
       '판정매연Die(%)', '평균속도(km/h)', '평균출력(PS)', '평균토크(Kgf_m)', '평균매연Env(%)',
       '최대매연Env(%)', '판정매연Env(%)', '측정날짜', '배출가스인증번호', '배출가스등급', '최초등록일자',
       '제원관리번호', '수정일시', '차량말소YN', '차량제작일자', '차종', '차대번호', '자동차형식', '배기량',
       '엔진출력', '엔진형식', '연료', '총중량', '차종분류', '차종유형', '무부하매연측정치1', '무부하매연판정1',
       '무부하매연허용치1', '무부하매연측정치2', '무부하매연판정2', '무부하매연허용치2', '무부하매연측정치3',
       '무부하매연판정3', '무부하매연허용치3', '검사방법', '검사일자', '배기량구분', '배기량구분인덱스', '총중량구분',
       '총중량구분인덱스', '속도구분', '속도구분인덱스'],
      dtype='object')

In [280]:
df.shape

(808, 67)

In [281]:
df['연료'].value_counts(dropna=False).reset_index()

  index   연료
0    경유  806
1   LPG    1
2   NaN    1

In [282]:
die = df[df['연료'] == '경유'].reset_index(drop=True)
die.shape

(806, 67)

In [283]:
die['평균매연Die(%)'].isnull().sum()

806

### 1\. 경유 > 차종별

In [284]:
grp1 = die.groupby(['차종'], dropna=False).agg({'평균매연Die(%)':'mean', '자동차등록번호':'count'}).reset_index()
grp1 = grp1.rename(columns={'평균매연Die(%)':'매연_평균(%)', '자동차등록번호':'측정건수'})
grp1.loc[grp1.shape[0]] = ['총계', np.nan, grp1['측정건수'].sum()]
grp1

   차종  매연_평균(%)  측정건수
0  승용       NaN   195
1  승합       NaN   118
2  특수       NaN     6
3  화물       NaN   487
4  총계       NaN   806

### 2\. 경유 > 연식별

In [285]:
grp2 = die.groupby(['연식'], dropna=False).agg({'평균매연Die(%)':'mean', '자동차등록번호':'count'}).reset_index()
grp2 = grp2.rename(columns={'평균매연Die(%)':'매연_평균(%)', '자동차등록번호':'측정건수'})
grp2.loc[grp2.shape[0]] = ['총계', np.nan, grp2['측정건수'].sum()]
grp2

        연식  매연_평균(%)  측정건수
0  2001.00       NaN     1
1  2002.00       NaN     2
2  2003.00       NaN     5
3  2004.00       NaN     5
4  2005.00       NaN     9
5  2006.00       NaN    11
6  2007.00       NaN    25
7  2008.00       NaN    26
8  2009.00       NaN    43
9  2010.00       NaN    40
10 2011.00       NaN    84
11 2012.00       NaN    76
12 2013.00       NaN    54
13 2014.00       NaN    88
14 2015.00       NaN    97
15 2016.00       NaN    89
16 2017.00       NaN    95
17 2018.00       NaN    56
18      총계       NaN   806

### 3\. 경유 > 배출가스등급별

In [286]:
grp3 = die.groupby(['배출가스등급'], dropna=False).agg({'평균매연Die(%)':'mean', '자동차등록번호':'count'}).reset_index()
grp3 = grp3.rename(columns={'평균매연Die(%)':'매연_평균(%)', '자동차등록번호':'측정건수'})
grp3.loc[grp3.shape[0]] = ['총계', np.nan, grp3['측정건수'].sum()]
grp3

  배출가스등급  매연_평균(%)  측정건수
0      3       NaN   547
1      4       NaN   212
2      5       NaN    44
3    NaN       NaN     3
4     총계       NaN   806

### 4\. 경유 > 배기량별

In [287]:
grp4 = die.groupby(['배기량구분인덱스', '배기량구분'], dropna=False).agg({'평균매연Die(%)':'mean', '자동차등록번호':'count'}).reset_index()
grp4 = grp4.rename(columns={'평균매연Die(%)':'매연_평균(%)', '자동차등록번호':'측정건수'})
grp4.loc[grp4.shape[0]] = [grp4['배기량구분인덱스'].max() + 1, '총계', np.nan, grp4['측정건수'].sum()]
grp4 = grp4.drop('배기량구분인덱스', axis=1)
grp4

           배기량구분  매연_평균(%)  측정건수
0  1000이상 2000미만       NaN   153
1  2000이상 3000미만       NaN   646
2  3000이상 4000미만       NaN     7
3             총계       NaN   806

### 5\. 경유 > 차량중량별

In [288]:
grp5 = die.groupby(['총중량구분인덱스', '총중량구분'], dropna=False).agg({'평균매연Die(%)':'mean', '자동차등록번호':'count'}).reset_index()
grp5 = grp5.rename(columns={'총중량구분':'차량중량구분', '평균매연Die(%)':'매연_평균(%)', '자동차등록번호':'측정건수'})
grp5.loc[grp5.shape[0]] = [grp5['총중량구분인덱스'].max() + 1, '총계', np.nan, grp5['측정건수'].sum()]
grp5 = grp5.drop('총중량구분인덱스', axis=1)
grp5

          차량중량구분  매연_평균(%)  측정건수
0  1000이상 2000미만       NaN    73
1  2000이상 3000미만       NaN   482
2  3000이상 4000미만       NaN   244
3  5000이상 6000미만       NaN     7
4             총계       NaN   806

### 6\. 경유 > 종합검사 매연허용기준별
- '무부하매연허용치1' 8미만 제외

In [289]:
grp6 = die[die['무부하매연허용치1'] >= 8].groupby(['무부하매연허용치1'], dropna=False).agg({'평균매연Die(%)':'mean', '자동차등록번호':'count'}).reset_index()
grp6 = grp6.rename(columns={'평균매연Die(%)':'매연_평균(%)', '자동차등록번호':'측정건수'})
grp6.loc[grp6.shape[0]] = ['총계', np.nan, grp6['측정건수'].sum()]
grp6

  무부하매연허용치1  매연_평균(%)  측정건수
0      8.00       NaN   102
1     15.00       NaN   506
2     20.00       NaN    35
3     25.00       NaN    13
4        총계       NaN   656

## NOx 측정 평균, 측정건수

### 7\. 경유 > 차종별

In [290]:
grp7 = die.groupby(['차종'], dropna=False).agg({'평균NOx(ppm)':'mean', '자동차등록번호':'count'}).reset_index()
grp7 = grp7.rename(columns={'평균NOx(ppm)':'NOx_평균(ppm)', '자동차등록번호':'측정건수'})
grp7.loc[grp7.shape[0]] = ['총계', np.nan, grp7['측정건수'].sum()]
grp7

   차종  NOx_평균(ppm)  측정건수
0  승용       490.46   195
1  승합       450.77   118
2  특수       218.15     6
3  화물       237.79   487
4  총계          NaN   806

### 8\. 경유 > 연식별

In [291]:
grp8 = die.groupby(['연식'], dropna=False).agg({'평균NOx(ppm)':'mean', '자동차등록번호':'count'}).reset_index()
grp8 = grp8.rename(columns={'평균NOx(ppm)':'NOx_평균(ppm)', '자동차등록번호':'측정건수'})
grp8.loc[grp8.shape[0]] = ['총계', np.nan, grp8['측정건수'].sum()]
grp8

        연식  NOx_평균(ppm)  측정건수
0  2001.00       172.90     1
1  2002.00       212.35     2
2  2003.00       481.68     5
3  2004.00       224.00     5
4  2005.00       328.53     9
5  2006.00       342.57    11
6  2007.00       400.70    25
7  2008.00       303.75    26
8  2009.00       363.55    43
9  2010.00       398.38    40
10 2011.00       355.21    84
11 2012.00       337.06    76
12 2013.00       340.94    54
13 2014.00       294.66    88
14 2015.00       285.02    97
15 2016.00       351.35    89
16 2017.00       258.57    95
17 2018.00       379.73    56
18      총계          NaN   806

### 9\. 경유 > 배출가스등급별

In [292]:
grp9 = die.groupby(['배출가스등급'], dropna=False).agg({'평균NOx(ppm)':'mean', '자동차등록번호':'count'}).reset_index()
grp9 = grp9.rename(columns={'평균NOx(ppm)':'NOx_평균(ppm)', '자동차등록번호':'측정건수'})
grp9.loc[grp9.shape[0]] = ['총계', np.nan, grp9['측정건수'].sum()]
grp9

  배출가스등급  NOx_평균(ppm)  측정건수
0      3       322.59   547
1      4       346.66   212
2      5       320.72    44
3    NaN       173.00     3
4     총계          NaN   806

### 10\. 경유 > 배기량별

In [293]:
grp10 = die.groupby(['배기량구분인덱스', '배기량구분'], dropna=False).agg({'평균NOx(ppm)':'mean', '자동차등록번호':'count'}).reset_index()
grp10 = grp10.rename(columns={'평균NOx(ppm)':'NOx_평균(ppm)', '자동차등록번호':'측정건수'})
grp10.loc[grp10.shape[0]] = [grp10['배기량구분인덱스'].max() + 1, '총계', np.nan, grp10['측정건수'].sum()]
grp10 = grp10.drop('배기량구분인덱스', axis=1)
grp10

           배기량구분  NOx_평균(ppm)  측정건수
0  1000이상 2000미만       455.37   153
1  2000이상 3000미만       297.15   646
2  3000이상 4000미만       368.44     7
3             총계          NaN   806

### 11\. 경유 > 차량중량별

In [294]:
grp11 = die.groupby(['총중량구분인덱스', '총중량구분'], dropna=False).agg({'평균NOx(ppm)':'mean', '자동차등록번호':'count'}).reset_index()
grp11 = grp11.rename(columns={'평균NOx(ppm)':'NOx_평균(ppm)', '자동차등록번호':'측정건수'})
grp11.loc[grp11.shape[0]] = [grp11['총중량구분인덱스'].max() + 1, '총계', np.nan, grp11['측정건수'].sum()]
grp11 = grp11.drop('총중량구분인덱스', axis=1)
grp11

           총중량구분  NOx_평균(ppm)  측정건수
0  1000이상 2000미만       472.50    73
1  2000이상 3000미만       347.68   482
2  3000이상 4000미만       246.14   244
3  5000이상 6000미만       368.44     7
4             총계          NaN   806

## 매연농도별 측정건수 분포

### 12\. 매연농도별 데이터 수량

In [674]:
grp12 = df.groupby(['매연구분인덱스', '매연구분'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp12 = grp12.rename(columns={'자동차등록번호':'측정건수', '매연구분':'매연(%)'})
grp12.loc[grp12.shape[0]] = [grp12['매연구분인덱스'].max() + 1, '총합', grp12['측정건수'].sum()]
grp12 = grp12.drop('매연구분인덱스', axis=1)
grp12

           매연구분    측정건수
0     0이상 0.5미만   52595
1   0.5이상 1.0미만   30398
2   1.0이상 1.5미만   12682
3   1.5이상 2.0미만    4832
4   2.0이상 2.5미만    2370
5   2.5이상 3.0미만    1342
6   3.0이상 3.5미만     917
7   3.5이상 4.0미만     679
8   4.0이상 4.5미만     540
9         4.5이상     490
10           총계  106845

### 13\. 매연농도, 차종별 데이터 수량

In [675]:
grp13 = df.groupby(['매연구분인덱스', '매연구분', '차종'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp13 = grp13.rename(columns={'자동차등록번호':'측정건수(건)', '매연구분':'매연(%)'})
grp13.loc[grp13.shape[0]] = [grp13['매연구분인덱스'].max() + 1, '총합', np.nan, grp13['측정건수(건)'].sum()]
grp13 = grp13.drop('매연구분인덱스', axis=1)
grp13

           매연구분   차종    측정건수
0     0이상 0.5미만   승용   28310
1     0이상 0.5미만   승합    2658
2     0이상 0.5미만   특수     725
3     0이상 0.5미만   화물   20902
4   0.5이상 1.0미만   승용   16561
5   0.5이상 1.0미만   승합    2026
6   0.5이상 1.0미만   특수     312
7   0.5이상 1.0미만   화물   11499
8   1.0이상 1.5미만   승용    6899
9   1.0이상 1.5미만   승합     982
10  1.0이상 1.5미만   특수     133
11  1.0이상 1.5미만   화물    4668
12  1.5이상 2.0미만   승용    2680
13  1.5이상 2.0미만   승합     484
14  1.5이상 2.0미만   특수      41
15  1.5이상 2.0미만   화물    1627
16  2.0이상 2.5미만   승용    1287
17  2.0이상 2.5미만   승합     240
18  2.0이상 2.5미만   특수      26
19  2.0이상 2.5미만   화물     817
20  2.5이상 3.0미만   승용     704
21  2.5이상 3.0미만   승합     168
22  2.5이상 3.0미만   특수      10
23  2.5이상 3.0미만   화물     460
24  3.0이상 3.5미만   승용     466
25  3.0이상 3.5미만   승합     103
26  3.0이상 3.5미만   특수      15
27  3.0이상 3.5미만   화물     333
28  3.5이상 4.0미만   승용     359
29  3.5이상 4.0미만   승합      83
30  3.5이상 4.0미만   특수       9
31  3.5이상 4.0미만   화물     228
32  4.0이상 4.5미만   승용     270
33  4.0이상 4.5미만   승합      69
34  4.0이상 4.5미만   특수       5
35  4.0이상 4.5미만   화물     196
36        4.5이상   승용     245
37        4.5이상   승합      62
38        4.5이상   특수       9
39        4.5이상   화물     174
40           총계  NaN  106845

In [676]:
grp13 = df.groupby(['매연구분인덱스', '매연구분', '차종'], dropna=False).agg({'자동차등록번호':'count'}).unstack('차종').reset_index()
grp13 = grp13.rename(columns={'매연구분':'매연(%)', '자동차등록번호':'차종'})
grp13['합계'] = grp13.iloc[:, 2:].sum(axis=1)
grp13.loc[grp13.shape[0]] = [grp13['매연구분인덱스'].max() + 1, '총합'] + grp13.iloc[:, 2:].sum().to_list()
grp13 = grp13.drop('매연구분인덱스', axis=1, level=0)
grp13

           매연구분     승용    승합     화물    특수      합계
0     0이상 0.5미만  28310  2658  20902   725   52595
1   0.5이상 1.0미만  16561  2026  11499   312   30398
2   1.0이상 1.5미만   6899   982   4668   133   12682
3   1.5이상 2.0미만   2680   484   1627    41    4832
4   2.0이상 2.5미만   1287   240    817    26    2370
5   2.5이상 3.0미만    704   168    460    10    1342
6   3.0이상 3.5미만    466   103    333    15     917
7   3.5이상 4.0미만    359    83    228     9     679
8   4.0이상 4.5미만    270    69    196     5     540
9         4.5이상    245    62    174     9     490
10           총계  57781  6875  40904  1285  106845

### 14\. 매연농도, 연식별 데이터 수량

In [677]:
grp14 = df.groupby(['매연구분인덱스', '매연구분', '차량연식'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp14 = grp14.rename(columns={'자동차등록번호':'측정건수(건)', '매연구분':'매연(%)'})
grp14.loc[grp14.shape[0]] = [grp14['매연구분인덱스'].max() + 1, '총합', np.nan, grp14['측정건수(건)'].sum()]
grp14 = grp14.drop('매연구분인덱스', axis=1)
grp14

          매연구분    차량연식    측정건수
0    0이상 0.5미만 1983.00       1
1    0이상 0.5미만 1990.00       2
2    0이상 0.5미만 1991.00       1
3    0이상 0.5미만 1992.00       1
4    0이상 0.5미만 1994.00       1
..         ...     ...     ...
275      4.5이상 2020.00      33
276      4.5이상 2021.00      27
277      4.5이상 2022.00      24
278      4.5이상 2023.00      20
279         총계     NaN  106845

[280 rows x 3 columns]

In [678]:
grp14 = df.groupby(['매연구분인덱스', '매연구분', '차량연식'], dropna=False).agg({'자동차등록번호':'count'}).unstack('차량연식').reset_index()
grp14 = grp14.rename(columns={'매연구분':'매연(%)', '자동차등록번호':'차량연식(년)'})
grp14 = grp14.rename_axis(columns={'차량연식':'차량연식(년)'})
grp14['합계'] = grp14.iloc[:, 2:].sum(axis=1)
grp14.loc[grp14.shape[0]] = [grp14['매연구분인덱스'].max() + 1, '총합'] + grp14.iloc[:, 2:].sum().to_list()
grp14 = grp14.drop('매연구분인덱스', axis=1, level=0)
grp14

C:\Users\kbjung\AppData\Local\Temp\ipykernel_20332\3782541445.py:4: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp13 = grp13.drop('매연구분인덱스', axis=1)

             매연구분 자동차등록번호                                                   \
차량연식               1983.0 1990.0 1991.0 1992.0 1993.0 1994.0 1995.0 1996.0
0       0이상 0.5미만    1.00   2.00   1.00   1.00    NaN   1.00  13.00  10.00
1     0.5이상 1.0미만     NaN    NaN    NaN    NaN    NaN    NaN   1.00    NaN
2     1.0이상 1.5미만     NaN    NaN    NaN    NaN    NaN    NaN   1.00    NaN
3     1.5이상 2.0미만     NaN    NaN    NaN    NaN    NaN    NaN    NaN   3.00
4     2.0이상 2.5미만     NaN    NaN    NaN    NaN    NaN    NaN    NaN   1.00
5     2.5이상 3.0미만     NaN    NaN    NaN    NaN    NaN    NaN    NaN   2.00
6     3.0이상 3.5미만     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
7     3.5이상 4.0미만     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
8     4.0이상 4.5미만     NaN    NaN    NaN    NaN   1.00    NaN   3.00   1.00
9           4.5이상     NaN    NaN   1.00    NaN    NaN    NaN    NaN    NaN
10             총계    1.00   2.00   2.00   1.00   1.00   1.00  18.00  17.00

             ...                                                             \
차량연식 1997.0  ...   2016.0  2017.0   2018.0   2019.0  2020.0  2021.0  2022.0
0     16.00  ...  5192.00 4279.00  5423.00  5852.00 4488.00 3619.00 3769.00
1      4.00  ...  3147.00 2590.00  3092.00  3327.00 2345.00 1887.00 1932.00
2      3.00  ...  1234.00 1073.00  1246.00  1251.00  855.00  761.00  751.00
3      4.00  ...   449.00  395.00   460.00   476.00  328.00  300.00  247.00
4      1.00  ...   208.00  211.00   213.00   212.00  137.00  145.00  141.00
5      1.00  ...   115.00  111.00   128.00   109.00   79.00   76.00   71.00
6       NaN  ...    75.00   72.00    83.00    85.00   58.00   54.00   49.00
7      1.00  ...    60.00   51.00    56.00    62.00   36.00   50.00   27.00
8       NaN  ...    44.00   34.00    38.00    34.00   30.00   33.00   35.00
9      1.00  ...    45.00   38.00    39.00    44.00   33.00   27.00   24.00
10    31.00  ... 10569.00 8854.00 10778.00 11452.00 8389.00 6952.00 7046.00

                           합계
차량연식  2023.0 2024.0
0    2568.00  82.00  52595.00
1    1294.00  28.00  30398.00
2     494.00  13.00  12682.00
3     160.00   9.00   4832.00
4      74.00   2.00   2370.00
5      48.00    NaN   1342.00
6      41.00    NaN    917.00
7      32.00   1.00    679.00
8      23.00   2.00    540.00
9      20.00    NaN    490.00
10   4754.00 137.00 106845.00

[11 rows x 38 columns]

### 15\. 매연농도, 측정속도별 데이터 분포

In [681]:
grp15 = df.groupby(['매연구분인덱스', '매연구분', '속도구분인덱스', '속도구분'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp15 = grp15.rename(columns={'자동차등록번호':'측정건수(건)', '매연구분':'매연(%)', '속도구분':'속도(km/h)'})
grp15.loc[grp15.shape[0]] = [grp15['매연구분인덱스'].max() + 1, '총계', np.nan, np.nan, grp15['측정건수'].sum()]
grp15 = grp15.drop(['매연구분인덱스', '속도구분인덱스'], axis=1)
grp15

          매연구분         속도구분    측정건수
0    0이상 0.5미만     0이상 10미만      19
1    0이상 0.5미만    10이상 20미만      77
2    0이상 0.5미만    20이상 30미만     462
3    0이상 0.5미만    30이상 40미만    1310
4    0이상 0.5미만    40이상 50미만    4033
..         ...          ...     ...
112      4.5이상    80이상 90미만      44
113      4.5이상   90이상 100미만       9
114      4.5이상  100이상 110미만       7
115      4.5이상  110이상 120미만       1
116         총계          NaN  106845

[117 rows x 3 columns]

In [682]:
grp15 = df.groupby(['매연구분인덱스', '매연구분', '속도구분인덱스', '속도구분'], dropna=False).agg({'자동차등록번호':'count'}).unstack(['속도구분인덱스', '속도구분']).reset_index()
grp15 = grp15.rename(columns={'매연구분':'매연(%)', '자동차등록번호':'속도(km/h)'})
grp15 = grp15.rename_axis(columns={'속도구분':'속도(km/h)'})
grp15['합계'] = grp15.iloc[:, 2:].sum(axis=1)
grp15.loc[grp15.shape[0]] = [grp15['매연구분인덱스'].max() + 1, '총합'] + grp15.iloc[:, 2:].sum().to_list()
grp15 = grp15.drop('매연구분인덱스', axis=1, level=0)
grp15.columns = grp15.columns.droplevel(1)
grp15

C:\Users\kbjung\AppData\Local\Temp\ipykernel_20332\3087019106.py:4: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp14 = grp14.drop(['매연구분인덱스', '속도구분인덱스'], axis=1)

           매연구분  자동차등록번호                                              \
속도구분            0이상 10미만 100이상 110미만 10이상 20미만 110이상 120미만 20이상 30미만
0     0이상 0.5미만    19.00         NaN       NaN         NaN       NaN
1     0이상 0.5미만      NaN         NaN     77.00         NaN       NaN
2     0이상 0.5미만      NaN         NaN       NaN         NaN    462.00
3     0이상 0.5미만      NaN         NaN       NaN         NaN       NaN
4     0이상 0.5미만      NaN         NaN       NaN         NaN       NaN
..          ...      ...         ...       ...         ...       ...
112       4.5이상      NaN         NaN       NaN         NaN       NaN
113       4.5이상      NaN         NaN       NaN         NaN       NaN
114       4.5이상      NaN        7.00       NaN         NaN       NaN
115       4.5이상      NaN         NaN       NaN        1.00       NaN
116          총계    51.00     1312.00    204.00      298.00   1213.00

                                                                             \
속도구분 30이상 40미만 40이상 50미만 50이상 60미만 60이상 70미만 70이상 80미만 80이상 90미만 90이상 100미만
0          NaN       NaN       NaN       NaN       NaN       NaN        NaN
1          NaN       NaN       NaN       NaN       NaN       NaN        NaN
2          NaN       NaN       NaN       NaN       NaN       NaN        NaN
3      1310.00       NaN       NaN       NaN       NaN       NaN        NaN
4          NaN   4033.00       NaN       NaN       NaN       NaN        NaN
..         ...       ...       ...       ...       ...       ...        ...
112        NaN       NaN       NaN       NaN       NaN     44.00        NaN
113        NaN       NaN       NaN       NaN       NaN       NaN       9.00
114        NaN       NaN       NaN       NaN       NaN       NaN        NaN
115        NaN       NaN       NaN       NaN       NaN       NaN        NaN
116    3167.00   8792.00  22402.00  30465.00  23220.00  11642.00    4079.00

            합계
속도구분
0        19.00
1        77.00
2       462.00
3      1310.00
4      4033.00
..         ...
112      44.00
113       9.00
114       7.00
115       1.00
116  106845.00

[117 rows x 14 columns]

### 16\. 매연농도, 배출가스등급별

In [683]:
grp16 = df.groupby(['매연구분인덱스', '매연구분', '배출가스등급'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp16 = grp16.rename(columns={'자동차등록번호':'측정건수(건)', '매연구분':'매연(%)'})
grp16.loc[grp16.shape[0]] = [grp16['매연구분인덱스'].max() + 1, '총계', np.nan, grp16['측정건수'].sum()]
grp16 = grp16.drop('매연구분인덱스', axis=1)
grp16

           매연구분 배출가스등급    측정건수
0     0이상 0.5미만      3   45879
1     0이상 0.5미만      4    3089
2     0이상 0.5미만      5    1204
3     0이상 0.5미만    NaN    2423
4   0.5이상 1.0미만      3   26130
5   0.5이상 1.0미만      4    2429
6   0.5이상 1.0미만      5     645
7   0.5이상 1.0미만    NaN    1194
8   1.0이상 1.5미만      3   10565
9   1.0이상 1.5미만      4    1250
10  1.0이상 1.5미만      5     407
11  1.0이상 1.5미만    NaN     460
12  1.5이상 2.0미만      3    3943
13  1.5이상 2.0미만      4     547
14  1.5이상 2.0미만      5     188
15  1.5이상 2.0미만    NaN     154
16  2.0이상 2.5미만      3    1894
17  2.0이상 2.5미만      4     290
18  2.0이상 2.5미만      5     108
19  2.0이상 2.5미만    NaN      78
20  2.5이상 3.0미만      3    1092
21  2.5이상 3.0미만      4     145
22  2.5이상 3.0미만      5      64
23  2.5이상 3.0미만    NaN      41
24  3.0이상 3.5미만      3     730
25  3.0이상 3.5미만      4     107
26  3.0이상 3.5미만      5      43
27  3.0이상 3.5미만    NaN      37
28  3.5이상 4.0미만      3     536
29  3.5이상 4.0미만      4      85
30  3.5이상 4.0미만      5      35
31  3.5이상 4.0미만    NaN      23
32  4.0이상 4.5미만      3     411
33  4.0이상 4.5미만      4      71
34  4.0이상 4.5미만      5      36
35  4.0이상 4.5미만    NaN      22
36        4.5이상      3     395
37        4.5이상      4      55
38        4.5이상      5      23
39        4.5이상    NaN      17
40           총계    NaN  106845

In [684]:
grp16 = df.groupby(['매연구분인덱스', '매연구분', '배출가스등급'], dropna=False).agg({'자동차등록번호':'count'}).unstack('배출가스등급').reset_index()
grp16 = grp16.rename(columns={'매연구분':'매연(%)', '자동차등록번호':'배출가스등급'})
grp16['합계'] = grp16.iloc[:, 2:].sum(axis=1)
grp16.loc[grp16.shape[0]] = [grp16['매연구분인덱스'].max() + 1, '총합'] + grp16.iloc[:, 2:].sum().to_list()
grp16 = grp16.drop('매연구분인덱스', axis=1)
grp16

C:\Users\kbjung\AppData\Local\Temp\ipykernel_20332\4153312148.py:4: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp15 = grp15.drop('매연구분인덱스', axis=1)

               매연구분 자동차등록번호                        합계
배출가스등급                    3     4     5   NaN
0         0이상 0.5미만   45879  3089  1204  2423   52595
1       0.5이상 1.0미만   26130  2429   645  1194   30398
2       1.0이상 1.5미만   10565  1250   407   460   12682
3       1.5이상 2.0미만    3943   547   188   154    4832
4       2.0이상 2.5미만    1894   290   108    78    2370
5       2.5이상 3.0미만    1092   145    64    41    1342
6       3.0이상 3.5미만     730   107    43    37     917
7       3.5이상 4.0미만     536    85    35    23     679
8       4.0이상 4.5미만     411    71    36    22     540
9             4.5이상     395    55    23    17     490
10               총계   91575  8068  2753  4449  106845

### 17\. 매연농도, 배기량별

In [685]:
grp17 = df.groupby(['매연구분인덱스', '매연구분', '배기량구분인덱스', '배기량구분'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp17 = grp17.rename(columns={'자동차등록번호':'측정건수(건)', '매연구분':'매연(%)'})
grp17.loc[grp17.shape[0]] = [grp17['매연구분인덱스'].max() + 1, '총계', np.nan, np.nan, grp17['측정건수'].sum()]
grp17 = grp17.drop(['매연구분인덱스', '배기량구분인덱스'], axis=1)
grp17

          매연구분            배기량구분    측정건수
0    0이상 0.5미만    1000이상 2000미만   17220
1    0이상 0.5미만    2000이상 3000미만   29719
2    0이상 0.5미만    3000이상 4000미만    1852
3    0이상 0.5미만    4000이상 5000미만     124
4    0이상 0.5미만    5000이상 6000미만     855
..         ...              ...     ...
122      4.5이상   9000이상 10000미만      20
123      4.5이상  10000이상 11000미만       3
124      4.5이상  12000이상 13000미만       7
125      4.5이상  14000이상 15000미만       1
126         총계              NaN  106845

[127 rows x 3 columns]

In [686]:
grp17 = df.groupby(['매연구분인덱스', '매연구분', '배기량구분인덱스', '배기량구분'], dropna=False).agg({'자동차등록번호':'count'}).unstack('배기량구분').reset_index()
grp17['합계'] = grp17.iloc[:, 3:].sum(axis=1)
grp17.loc[grp17.shape[0]] = [grp17['매연구분인덱스'].max() + 1, '총계', np.nan] + grp17.iloc[:, 3:].sum().to_list()
grp17 = grp17.drop(['매연구분인덱스', '배기량구분인덱스'], axis=1)
grp17

C:\Users\kbjung\AppData\Local\Temp\ipykernel_20332\908840807.py:4: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp16 = grp16.drop(['매연구분인덱스', '배기량구분인덱스'], axis=1)

            매연구분         자동차등록번호                                \
배기량구분            10000이상 11000미만 1000이상 2000미만 11000이상 12000미만
0      0이상 0.5미만             NaN      17220.00             NaN
1      0이상 0.5미만             NaN           NaN             NaN
2      0이상 0.5미만             NaN           NaN             NaN
3      0이상 0.5미만             NaN           NaN             NaN
4      0이상 0.5미만             NaN           NaN             NaN
..           ...             ...           ...             ...
122        4.5이상             NaN           NaN             NaN
123        4.5이상            3.00           NaN             NaN
124        4.5이상             NaN           NaN             NaN
125        4.5이상             NaN           NaN             NaN
126           총계          255.00      35240.00          167.00

                                                                       \
배기량구분 12000이상 13000미만 14000이상 15000미만 15000이상 16000미만 16000이상 17000미만
0                 NaN             NaN             NaN             NaN
1                 NaN             NaN             NaN             NaN
2                 NaN             NaN             NaN             NaN
3                 NaN             NaN             NaN             NaN
4                 NaN             NaN             NaN             NaN
..                ...             ...             ...             ...
122               NaN             NaN             NaN             NaN
123               NaN             NaN             NaN             NaN
124              7.00             NaN             NaN             NaN
125               NaN            1.00             NaN             NaN
126           1273.00           13.00           15.00           26.00

                                                                             \
배기량구분 2000이상 3000미만 3000이상 4000미만 4000이상 5000미만 5000이상 6000미만 6000이상 7000미만
0               NaN           NaN           NaN           NaN           NaN
1          29719.00           NaN           NaN           NaN           NaN
2               NaN       1852.00           NaN           NaN           NaN
3               NaN           NaN        124.00           NaN           NaN
4               NaN           NaN           NaN        855.00           NaN
..              ...           ...           ...           ...           ...
122             NaN           NaN           NaN           NaN           NaN
123             NaN           NaN           NaN           NaN           NaN
124             NaN           NaN           NaN           NaN           NaN
125             NaN           NaN           NaN           NaN           NaN
126        60831.00       4065.00        227.00       1376.00       2297.00

                                                        합계
배기량구분 7000이상 8000미만 8000이상 9000미만 9000이상 10000미만
0               NaN           NaN            NaN  17220.00
1               NaN           NaN            NaN  29719.00
2               NaN           NaN            NaN   1852.00
3               NaN           NaN            NaN    124.00
4               NaN           NaN            NaN    855.00
..              ...           ...            ...       ...
122             NaN           NaN          20.00     20.00
123             NaN           NaN            NaN      3.00
124             NaN           NaN            NaN      7.00
125             NaN           NaN            NaN      1.00
126          126.00        189.00         745.00 106845.00

[127 rows x 17 columns]

### 18\. 매연농도, 차량중량별

In [687]:
grp18 = df.groupby(['매연구분인덱스', '매연구분', '총중량구분인덱스', '총중량구분'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp18 = grp18.rename(columns={'총중량구분':'차량중량(kg)', '자동차등록번호':'측정건수(건)', '매연구분':'매연(%)'})
grp18.loc[grp18.shape[0]] = [grp18['매연구분인덱스'].max() + 1, '총계', np.nan, np.nan, grp18['측정건수'].sum()]
grp18 = grp18.drop(['매연구분인덱스', '총중량구분인덱스'], axis=1)
grp18

          매연구분           차량중량구분    측정건수
0    0이상 0.5미만    1000이상 2000미만    8614
1    0이상 0.5미만    2000이상 3000미만   28100
2    0이상 0.5미만    3000이상 4000미만   10188
3    0이상 0.5미만    4000이상 5000미만       7
4    0이상 0.5미만    5000이상 6000미만     601
..         ...              ...     ...
250      4.5이상  14000이상 15000미만       9
251      4.5이상  15000이상 16000미만       7
252      4.5이상  16000이상 17000미만       3
253      4.5이상  37000이상 38000미만       1
254         총계              NaN  106845

[255 rows x 3 columns]

In [688]:
grp18 = df.groupby(['매연구분인덱스', '매연구분', '총중량구분인덱스', '총중량구분'], dropna=False).agg({'자동차등록번호':'count'}).unstack('총중량구분').reset_index()
grp18['합계'] = grp18.iloc[:, 3:].sum(axis=1)
grp18.loc[grp18.shape[0]] = [grp18['매연구분인덱스'].max() + 1, '총계', np.nan] + grp18.iloc[:, 3:].sum().to_list()
grp18 = grp18.drop(['매연구분인덱스', '총중량구분인덱스'], axis=1)
grp18

C:\Users\kbjung\AppData\Local\Temp\ipykernel_20332\1830679386.py:4: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp17 = grp17.drop(['매연구분인덱스', '총중량구분인덱스'], axis=1)

            매연구분         자동차등록번호                                \
총중량구분            10000이상 11000미만 1000이상 2000미만 11000이상 12000미만
0      0이상 0.5미만             NaN       8614.00             NaN
1      0이상 0.5미만             NaN           NaN             NaN
2      0이상 0.5미만             NaN           NaN             NaN
3      0이상 0.5미만             NaN           NaN             NaN
4      0이상 0.5미만             NaN           NaN             NaN
..           ...             ...           ...             ...
250        4.5이상             NaN           NaN             NaN
251        4.5이상             NaN           NaN             NaN
252        4.5이상             NaN           NaN             NaN
253        4.5이상             NaN           NaN             NaN
254           총계          837.00      17521.00          725.00

                                                                       \
총중량구분 12000이상 13000미만 13000이상 14000미만 14000이상 15000미만 15000이상 16000미만
0                 NaN             NaN             NaN             NaN
1                 NaN             NaN             NaN             NaN
2                 NaN             NaN             NaN             NaN
3                 NaN             NaN             NaN             NaN
4                 NaN             NaN             NaN             NaN
..                ...             ...             ...             ...
250               NaN             NaN            9.00             NaN
251               NaN             NaN             NaN            7.00
252               NaN             NaN             NaN             NaN
253               NaN             NaN             NaN             NaN
254            516.00          761.00          913.00          818.00

                                       ...                                  \
총중량구분 16000이상 17000미만 17000이상 18000미만  ... 37000이상 38000미만 38000이상 39000미만
0                 NaN             NaN  ...             NaN             NaN
1                 NaN             NaN  ...             NaN             NaN
2                 NaN             NaN  ...             NaN             NaN
3                 NaN             NaN  ...             NaN             NaN
4                 NaN             NaN  ...             NaN             NaN
..                ...             ...  ...             ...             ...
250               NaN             NaN  ...             NaN             NaN
251               NaN             NaN  ...             NaN             NaN
252              3.00             NaN  ...             NaN             NaN
253               NaN             NaN  ...            1.00             NaN
254            222.00           63.00  ...           68.00          215.00

                                                                               \
총중량구분 39000이상 40000미만 4000이상 5000미만 5000이상 6000미만 6000이상 7000미만 7000이상 8000미만
0                 NaN           NaN           NaN           NaN           NaN
1                 NaN           NaN           NaN           NaN           NaN
2                 NaN           NaN           NaN           NaN           NaN
3                 NaN          7.00           NaN           NaN           NaN
4                 NaN           NaN        601.00           NaN           NaN
..                ...           ...           ...           ...           ...
250               NaN           NaN           NaN           NaN           NaN
251               NaN           NaN           NaN           NaN           NaN
252               NaN           NaN           NaN           NaN           NaN
253               NaN           NaN           NaN           NaN           NaN
254            287.00         25.00       1487.00        674.00       1765.00

                                          합계
총중량구분 8000이상 9000미만 9000이상 10000미만
0               NaN            NaN   8614.00
1               NaN            NaN  28100.00
2               NaN            NaN  10188.00
3               NaN            NaN      7.00
4               NaN            NaN    601.00
..              ...            ...       ...
250             NaN            NaN      9.00
251             NaN            NaN      7.00
252             NaN            NaN      3.00
253             NaN            NaN      1.00
254          402.00         316.00 106845.00

[255 rows x 41 columns]

### 19\. 매연농도, 종합검사 매연허용기준별

In [689]:
grp19 = df.groupby(['매연구분인덱스', '매연구분', '무부하매연허용치1'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp19 = grp19.rename(columns={'무부하매연허용치1':'매연허용기준(%)', '자동차등록번호':'측정건수(건)', '매연구분':'매연(%)'})
grp19.loc[grp19.shape[0]] = [grp19['매연구분인덱스'].max() + 1, '총계', np.nan, grp19['측정건수(건)'].sum()]
grp19 = grp19.drop('매연구분인덱스', axis=1)
grp19

         매연구분  매연허용치    측정건수
0   0이상 0.5미만   0.56       3
1   0이상 0.5미만   2.13       3
2   0이상 0.5미만   2.18       1
3   0이상 0.5미만   2.46       2
4   0이상 0.5미만   8.00    8809
..        ...    ...     ...
92      4.5이상  20.00      24
93      4.5이상  25.00      31
94      4.5이상  50.00       1
95      4.5이상    NaN     184
96         총계    NaN  106845

[97 rows x 3 columns]

In [690]:
grp19 = df.groupby(['매연구분인덱스', '매연구분', '무부하매연허용치1'], dropna=False).agg({'자동차등록번호':'count'}).unstack('무부하매연허용치1').reset_index()
grp19['합계'] = grp19.iloc[:, 2:].sum(axis=1)
grp19.loc[grp19.shape[0]] = [grp19['매연구분인덱스'].max() + 1, '총계'] + grp19.iloc[:, 2:].sum().to_list()
grp19 = grp19.drop('매연구분인덱스', axis=1)
grp19

C:\Users\kbjung\AppData\Local\Temp\ipykernel_20332\2670126428.py:4: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp18 = grp18.drop('매연구분인덱스', axis=1)

                  매연구분 자동차등록번호                                                 \
무부하매연허용치1                 0.49 0.56 1.77 2.13 2.18 2.46 3.26      8.0    10.0
0            0이상 0.5미만     NaN 3.00  NaN 3.00 1.00 2.00  NaN  8809.00  692.00
1          0.5이상 1.0미만    1.00 4.00  NaN  NaN 2.00  NaN 1.00  5263.00  358.00
2          1.0이상 1.5미만     NaN 1.00 1.00  NaN 1.00  NaN 1.00  2061.00  146.00
3          1.5이상 2.0미만     NaN  NaN  NaN  NaN  NaN  NaN 1.00   733.00   53.00
4          2.0이상 2.5미만     NaN  NaN  NaN  NaN  NaN  NaN 1.00   350.00   31.00
5          2.5이상 3.0미만     NaN  NaN  NaN  NaN  NaN  NaN  NaN   213.00   10.00
6          3.0이상 3.5미만     NaN  NaN  NaN  NaN  NaN  NaN  NaN   139.00   11.00
7          3.5이상 4.0미만     NaN  NaN  NaN  NaN  NaN  NaN  NaN    93.00    5.00
8          4.0이상 4.5미만     NaN  NaN  NaN  NaN  NaN  NaN  NaN    67.00    4.00
9                4.5이상     NaN  NaN  NaN  NaN  NaN  NaN  NaN    61.00    9.00
10                  총계    1.00 8.00 1.00 3.00 4.00 2.00 4.00 17789.00 1319.00

                                                                         \
무부하매연허용치1     15.0    20.0    25.0  30.0 35.0  40.0  45.0 50.0      NaN
0         16005.00 1905.00 1830.00  7.00 1.00  9.00 16.00 1.00 23311.00
1          9898.00 1010.00 1123.00  2.00  NaN 19.00 12.00 1.00 12704.00
2          4331.00  519.00  538.00  3.00  NaN  8.00  7.00  NaN  5065.00
3          1658.00  218.00  228.00  3.00  NaN  7.00  3.00 1.00  1927.00
4           860.00  112.00  104.00   NaN  NaN  2.00   NaN  NaN   910.00
5           468.00   56.00   57.00   NaN  NaN  2.00  1.00  NaN   535.00
6           316.00   44.00   52.00   NaN  NaN   NaN  1.00  NaN   354.00
7           234.00   33.00   29.00   NaN  NaN   NaN  1.00  NaN   284.00
8           205.00   31.00   34.00   NaN  NaN   NaN   NaN  NaN   199.00
9           180.00   24.00   31.00   NaN  NaN   NaN   NaN 1.00   184.00
10        34155.00 3952.00 4026.00 15.00 1.00 47.00 41.00 4.00 45473.00

                 합계
무부하매연허용치1
0          52595.00
1          30398.00
2          12682.00
3           4832.00
4           2370.00
5           1342.00
6            917.00
7            679.00
8            540.00
9            490.00
10        106845.00

## NOx 농도별 측정건수 분포

### 20\. NOx농도별 데이터 수량

In [307]:
grp20 = df.groupby(['NOx구분인덱스', 'NOx구분'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp20 = grp20.rename(columns={'자동차등록번호':'측정건수(건)', 'NOx구분':'NOx(ppm)'})
grp20.loc[grp20.shape[0]] = [grp20['NOx구분인덱스'].max() + 1, '총계', grp20['측정건수(건)'].sum()]
grp20 = grp20.drop('NOx구분인덱스', axis=1)
grp20

       NOx(ppm)  측정건수(건)
0     0이상 500미만      637
1  500이상 1000미만      161
2           NaN       10
3            총계      808

### 21\. NOx농도, 차종별 데이터 수량

In [308]:
grp21 = df.groupby(['NOx구분인덱스', 'NOx구분', '차종'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp21 = grp21.rename(columns={'자동차등록번호':'측정건수(건)', 'NOx구분':'NOx(ppm)'})
grp21.loc[grp21.shape[0]] = [grp21['NOx구분인덱스'].max() + 1, '총계', np.nan, grp21['측정건수(건)'].sum()]
grp21 = grp21.drop('NOx구분인덱스', axis=1)
grp21

        NOx(ppm)   차종  측정건수(건)
0      0이상 500미만   승용      102
1      0이상 500미만   승합       73
2      0이상 500미만   특수        6
3      0이상 500미만   화물      456
4   500이상 1000미만   승용       88
5   500이상 1000미만   승합       40
6   500이상 1000미만   화물       32
7   500이상 1000미만  NaN        1
8            NaN   승용        5
9            NaN   승합        5
10            총계  NaN      808

### 22\. NOx농도, 연식별 데이터 수량

In [309]:
grp22 = df.groupby(['NOx구분인덱스', 'NOx구분', '연식'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp22 = grp22.rename(columns={'자동차등록번호':'측정건수(건)', 'NOx구분':'NOx(ppm)'})
grp22.loc[grp22.shape[0]] = [grp22['NOx구분인덱스'].max() + 1, '총계', np.nan, grp22['측정건수(건)'].sum()]
grp22 = grp22.drop('NOx구분인덱스', axis=1)
grp22

        NOx(ppm)      연식  측정건수(건)
0      0이상 500미만 2001.00        1
1      0이상 500미만 2002.00        2
2      0이상 500미만 2003.00        3
3      0이상 500미만 2004.00        5
4      0이상 500미만 2005.00        8
5      0이상 500미만 2006.00       10
6      0이상 500미만 2007.00       20
7      0이상 500미만 2008.00       22
8      0이상 500미만 2009.00       29
9      0이상 500미만 2010.00       25
10     0이상 500미만 2011.00       60
11     0이상 500미만 2012.00       62
12     0이상 500미만 2013.00       44
13     0이상 500미만 2014.00       75
14     0이상 500미만 2015.00       82
15     0이상 500미만 2016.00       63
16     0이상 500미만 2017.00       86
17     0이상 500미만 2018.00       40
18  500이상 1000미만 2003.00        2
19  500이상 1000미만 2005.00        1
20  500이상 1000미만 2006.00        1
21  500이상 1000미만 2007.00        5
22  500이상 1000미만 2008.00        4
23  500이상 1000미만 2009.00       14
24  500이상 1000미만 2010.00       13
25  500이상 1000미만 2011.00       21
26  500이상 1000미만 2012.00       14
27  500이상 1000미만 2013.00       10
28  500이상 1000미만 2014.00       15
29  500이상 1000미만 2015.00       14
30  500이상 1000미만 2016.00       25
31  500이상 1000미만 2017.00        9
32  500이상 1000미만 2018.00       13
33           NaN 2010.00        2
34           NaN 2011.00        3
35           NaN 2015.00        1
36           NaN 2016.00        1
37           NaN 2018.00        3
38            총계     NaN      808

In [310]:
grp22 = df.groupby(['NOx구분인덱스', 'NOx구분', '연식'], dropna=False).agg({'자동차등록번호':'count'}).unstack('연식').reset_index()
grp22['합계'] = grp22.iloc[:, 2:].sum(axis=1)
grp22.loc[grp22.shape[0]] = [grp22['NOx구분인덱스'].max() + 1, '총계'] + grp22.iloc[:, 2:].sum().to_list()
grp22 = grp22.drop('NOx구분인덱스', axis=1)
grp22 = grp22.rename(columns={'NOx구분':'NOx(ppm)', '자동차등록번호':'차량연식(년)'})
# grp22 = grp22.rename_axis(columns={'연식':'차량연식(년)'})
grp22

C:\Users\kbjung\AppData\Local\Temp\ipykernel_9616\220592962.py:4: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp22 = grp22.drop('NOx구분인덱스', axis=1)

        NOx(ppm) 차량연식(년)                                                   \
연식                2001.0 2002.0 2003.0 2004.0 2005.0 2006.0 2007.0 2008.0
0      0이상 500미만    1.00   2.00   3.00   5.00   8.00  10.00  20.00  22.00
1   500이상 1000미만     NaN    NaN   2.00    NaN   1.00   1.00   5.00   4.00
2            NaN     NaN    NaN    NaN    NaN    NaN    NaN    NaN    NaN
3             총계    1.00   2.00   5.00   5.00   9.00  11.00  25.00  26.00

                                                                          \
연식 2009.0 2010.0 2011.0 2012.0 2013.0 2014.0 2015.0 2016.0 2017.0 2018.0
0   29.00  25.00  60.00  62.00  44.00  75.00  82.00  63.00  86.00  40.00
1   14.00  13.00  21.00  14.00  10.00  15.00  14.00  25.00   9.00  13.00
2     NaN   2.00   3.00    NaN    NaN    NaN   1.00   1.00    NaN   3.00
3   43.00  40.00  84.00  76.00  54.00  90.00  97.00  89.00  95.00  56.00

       합계
연식
0  637.00
1  161.00
2   10.00
3  808.00

### 23\. NOx농도, 측정속도 데이터 분포

In [311]:
grp23 = df.groupby(['NOx구분인덱스', 'NOx구분', '속도구분인덱스', '속도구분'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp23 = grp23.rename(columns={'자동차등록번호':'측정건수(건)', 'NOx구분':'NOx(ppm)'})
grp23.loc[grp23.shape[0]] = [grp23['NOx구분인덱스'].max() + 1, '총계', np.nan, np.nan, grp23['측정건수(건)'].sum()]
grp23 = grp23.drop(['NOx구분인덱스', '속도구분인덱스'], axis=1)
grp23

       NOx(ppm)       속도구분  측정건수(건)
0     0이상 500미만   0이상 10미만        7
1     0이상 500미만  30이상 40미만        3
2     0이상 500미만  40이상 50미만       58
3     0이상 500미만  50이상 60미만      569
4  500이상 1000미만  30이상 40미만        2
5  500이상 1000미만  40이상 50미만        4
6  500이상 1000미만  50이상 60미만      155
7           NaN  40이상 50미만        1
8           NaN  50이상 60미만        9
9            총계        NaN      808

In [329]:
grp23 = df.groupby(['NOx구분인덱스', 'NOx구분', '속도구분인덱스', '속도구분'], dropna=False).agg({'자동차등록번호':'count'}).unstack(['속도구분인덱스', '속도구분']).reset_index()
grp23 = grp23.rename(columns={'NOx구분':'NOx(ppm)', '자동차등록번호':'속도(km/h)'})
grp23['합계'] = grp23.iloc[:, 2:].sum(axis=1)
grp23.loc[grp23.shape[0]] = [grp23['NOx구분인덱스'].max() + 1, '총계'] + grp23.iloc[:, 2:].sum().to_list()
grp23 = grp23.drop(['NOx구분인덱스'], axis=1)
grp23.columns = grp23.columns.droplevel(1)
grp23

C:\Users\kbjung\AppData\Local\Temp\ipykernel_9616\1332177662.py:5: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp23 = grp23.drop(['NOx구분인덱스'], axis=1)

          NOx(ppm) 속도(km/h)                                   합계
속도구분               0이상 10미만 30이상 40미만 40이상 50미만 50이상 60미만
0        0이상 500미만     7.00      3.00     58.00    569.00 637.00
1     500이상 1000미만      NaN      2.00      4.00    155.00 161.00
2              NaN      NaN       NaN      1.00      9.00  10.00
3               총계     7.00      5.00     63.00    733.00 808.00

### 24\. NOx농도, 배출가스등급별

In [313]:
grp24 = df.groupby(['NOx구분인덱스', 'NOx구분', '배출가스등급'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp24 = grp24.rename(columns={'자동차등록번호':'측정건수(건)', 'NOx구분':'NOx(ppm)'})
grp24.loc[grp24.shape[0]] = [grp24['NOx구분인덱스'].max() + 1, '총계', np.nan, grp24['측정건수(건)'].sum()]
grp24 = grp24.drop('NOx구분인덱스', axis=1)
grp24

        NOx(ppm) 배출가스등급  측정건수(건)
0      0이상 500미만      3      435
1      0이상 500미만      4      158
2      0이상 500미만      5       41
3      0이상 500미만    NaN        3
4   500이상 1000미만      2        1
5   500이상 1000미만      3      107
6   500이상 1000미만      4       49
7   500이상 1000미만      5        3
8   500이상 1000미만    NaN        1
9            NaN      3        5
10           NaN      4        5
11            총계    NaN      808

In [314]:
grp24 = df.groupby(['NOx구분인덱스', 'NOx구분', '배출가스등급'], dropna=False).agg({'자동차등록번호':'count'}).unstack('배출가스등급').reset_index()
grp24['합계'] = grp24.iloc[:, 2:].sum(axis=1)
grp24.loc[grp24.shape[0]] = [grp24['NOx구분인덱스'].max() + 1, '총계'] + grp24.iloc[:, 2:].sum().to_list()
grp24 = grp24.drop('NOx구분인덱스', axis=1)
grp24 = grp24.rename(columns={'NOx구분':'NOx(ppm)', '자동차등록번호':'배출가스등급'})
grp24

C:\Users\kbjung\AppData\Local\Temp\ipykernel_9616\875286464.py:4: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp24 = grp24.drop('NOx구분인덱스', axis=1)

            NOx(ppm) 배출가스등급                              합계
배출가스등급                    2      3      4     5  NaN
0          0이상 500미만    NaN 435.00 158.00 41.00 3.00 637.00
1       500이상 1000미만   1.00 107.00  49.00  3.00 1.00 161.00
2                NaN    NaN   5.00   5.00   NaN  NaN  10.00
3                 총계   1.00 547.00 212.00 44.00 4.00 808.00

### 25\. NOx농도, 배기량별

In [317]:
grp25 = df.groupby(['NOx구분인덱스', 'NOx구분', '배기량구분인덱스', '배기량구분'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp25 = grp25.rename(columns={'자동차등록번호':'측정건수(건)', 'NOx구분':'NOx(ppm)'})
grp25.loc[grp25.shape[0]] = [grp25['NOx구분인덱스'].max() + 1, '총계', np.nan, np.nan, grp25['측정건수(건)'].sum()]
grp25 = grp25.drop(['NOx구분인덱스', '배기량구분인덱스'], axis=1)
grp25 = grp25.rename(columns={'NOx구분':'NOx(ppm)', '자동차등록번호':'배기량(cc)', '배기량구분':'배기량(cc)'})
grp25

       NOx(ppm)        배기량(cc)  측정건수(건)
0     0이상 500미만  1000이상 2000미만       94
1     0이상 500미만  2000이상 3000미만      536
2     0이상 500미만  3000이상 4000미만        7
3  500이상 1000미만  1000이상 2000미만       59
4  500이상 1000미만  2000이상 3000미만      100
5  500이상 1000미만            NaN        2
6           NaN  2000이상 3000미만       10
7            총계            NaN      808

In [326]:
grp25 = df.groupby(['NOx구분인덱스', 'NOx구분', '배기량구분인덱스', '배기량구분'], dropna=False).agg({'자동차등록번호':'count'}).unstack(['배기량구분인덱스', '배기량구분']).reset_index()
grp25 = grp25.rename(columns={'NOx구분':'NOx(ppm)', '자동차등록번호':'배기량(cc)'})
grp25['합계'] = grp25.iloc[:, 2:].sum(axis=1)
grp25.loc[grp25.shape[0]] = [grp25['NOx구분인덱스'].max() + 1, '총계'] + grp25.iloc[:, 2:].sum().to_list()
grp25 = grp25.drop(['NOx구분인덱스'], axis=1)
grp25.columns = grp25.columns.droplevel(1)
grp25

C:\Users\kbjung\AppData\Local\Temp\ipykernel_9616\1778565357.py:5: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp25 = grp25.drop(['NOx구분인덱스'], axis=1)

           NOx(ppm)       배기량(cc)                                      합계
배기량구분               1000이상 2000미만 2000이상 3000미만 3000이상 4000미만  NaN
0         0이상 500미만         94.00        536.00          7.00  NaN 637.00
1      500이상 1000미만         59.00        100.00           NaN 2.00 161.00
2               NaN           NaN         10.00           NaN  NaN  10.00
3                총계        153.00        646.00          7.00 2.00 808.00

### 26\. NOx농도, 차량중량별

In [327]:
grp26 = df.groupby(['NOx구분인덱스', 'NOx구분', '총중량구분인덱스', '총중량구분'], dropna=False).agg({'자동차등록번호':'count'}).reset_index()
grp26 = grp26.rename(columns={'총중량구분':'차량중량(kg)', '자동차등록번호':'측정건수(건)', '차량중량구분':'차량중량(kg)'})
grp26.loc[grp26.shape[0]] = [grp26['NOx구분인덱스'].max() + 1, '총계', np.nan, np.nan, grp26['측정건수(건)'].sum()]
grp26 = grp26.drop(['NOx구분인덱스', '총중량구분인덱스'], axis=1)
grp26

          NOx구분       차량중량(kg)  측정건수(건)
0     0이상 500미만  1000이상 2000미만       39
1     0이상 500미만  2000이상 3000미만      371
2     0이상 500미만  3000이상 4000미만      220
3     0이상 500미만  5000이상 6000미만        7
4  500이상 1000미만  1000이상 2000미만       35
5  500이상 1000미만  2000이상 3000미만      101
6  500이상 1000미만  3000이상 4000미만       24
7  500이상 1000미만            NaN        1
8           NaN  2000이상 3000미만       10
9            총계            NaN      808

In [328]:
grp26 = df.groupby(['NOx구분인덱스', 'NOx구분', '총중량구분인덱스', '총중량구분'], dropna=False).agg({'자동차등록번호':'count'}).unstack(['총중량구분인덱스', '총중량구분']).reset_index()
grp26 = grp26.rename(columns={'NOx구분':'NOx(ppm)', '자동차등록번호':'차량중량(kg)'})
grp26['합계'] = grp26.iloc[:, 2:].sum(axis=1)
grp26.loc[grp26.shape[0]] = [grp26['NOx구분인덱스'].max() + 1, '총계'] + grp26.iloc[:, 2:].sum().to_list()
grp26 = grp26.drop(['NOx구분인덱스'], axis=1)
grp26.columns = grp26.columns.droplevel(1)
grp26

C:\Users\kbjung\AppData\Local\Temp\ipykernel_9616\3803839464.py:5: PerformanceWarning: dropping on a non-lexsorted multi-index without a level parameter may impact performance.
  grp26 = grp26.drop(['NOx구분인덱스'], axis=1)

           NOx(ppm)      차량중량(kg)                                            \
총중량구분               1000이상 2000미만 2000이상 3000미만 3000이상 4000미만 5000이상 6000미만
0         0이상 500미만         39.00        371.00        220.00          7.00
1      500이상 1000미만         35.00        101.00         24.00           NaN
2               NaN           NaN         10.00           NaN           NaN
3                총계         74.00        482.00        244.00          7.00

               합계
총중량구분  NaN
0      NaN 637.00
1     1.00 161.00
2      NaN  10.00
3     1.00 808.00

## 결과 출력

In [133]:
today_date = dt.datetime.today().strftime("%Y%m%d")
today_date

'20230830'

In [134]:
with pd.ExcelWriter(os.path.join(an_fold, f'다차선_통합측정기_측정결과_분석({today_date}).xlsx')) as writer:
    grp1.to_excel(writer, sheet_name='1_매연_경유_차종별', index=False)
    grp2.to_excel(writer, sheet_name='2_매연_경유_연식별', index=False)
    grp3.to_excel(writer, sheet_name='3_매연_경유_등급별', index=False)
    grp4.to_excel(writer, sheet_name='4_매연_경유_배기량별', index=False)
    grp5.to_excel(writer, sheet_name='5_매연_경유_차량중량별', index=False)
    grp6.to_excel(writer, sheet_name='6_매연_경유_매연허용기준별', index=False)

    grp7.to_excel(writer, sheet_name='7_NOx_경유_차종별', index=False)
    grp8.to_excel(writer, sheet_name='8_NOx_경유_연식별', index=False)
    grp9.to_excel(writer, sheet_name='9_NOx_경유_등급별', index=False)
    grp10.to_excel(writer, sheet_name='10_NOx_경유_배기량별', index=False)
    grp11.to_excel(writer, sheet_name='11_NOx_경유_차량중량별', index=False)

    grp12.to_excel(writer, sheet_name='12_매연농도별', index=False)
    grp13.to_excel(writer, sheet_name='13_매연농도_차종별', index=False)
    grp14.to_excel(writer, sheet_name='14_매연농도_연식별', index=False)
    grp15.to_excel(writer, sheet_name='15_매연농도_측정속도별', index=False)
    grp16.to_excel(writer, sheet_name='16_매연농도_등급별', index=False)
    grp17.to_excel(writer, sheet_name='17_매연농도_배기량별', index=False)
    grp18.to_excel(writer, sheet_name='18_매연농도_차량중량별', index=False)
    grp19.to_excel(writer, sheet_name='19_매연농도_매연허용기준별', index=False)

    grp20.to_excel(writer, sheet_name='20_NOx농도별', index=False)
    grp21.to_excel(writer, sheet_name='21_NOx농도_차종별', index=False)
    grp22.to_excel(writer, sheet_name='22_NOx농도_연식별', index=False)
    grp23.to_excel(writer, sheet_name='23_NOx농도_측정속도별', index=False)
    grp24.to_excel(writer, sheet_name='24_NOx농도_등급별', index=False)
    grp25.to_excel(writer, sheet_name='25_NOx농도_배기량별', index=False)
    grp26.to_excel(writer, sheet_name='26_NOx농도_차량중량별', index=False)

In [135]:
sec = time.time() - start_time
print(str(dt.timedelta(seconds=sec)).split('.')[0])

0:00:08

# End