# Library

In [1]:
import pandas as pd
import numpy as np
import os

# [로드] [ODS]자동차 등록정보(CEG_CAR_MIG)

## columns

In [2]:
file_name = 'CEG_CAR_MIG'
col_exc1 = pd.read_excel(f'analysis/ODSvsSTD/[정제]{file_name}.xlsx', sheet_name='ODS_col')

In [3]:
col_exc1

                   컬럼             내용
0             UPDT_DT          수정 일시
1             OWNR_SE         소유자 구분
2               VHRNO         차량등록번호
3        BSPL_LEDO_CD     본거지 법정동 코드
4             CRTN_DT          생성 일시
5               PURPS             용도
6   EMIS_INSP_EFCT_DE     배출가스검사유효일자
7         EMIS_CRTCNO      배출가스 인증번호
8          NOW_MBERNO        현재 회원번호
9             ACQS_DE          취득 일자
10           ACQS_AMT          취득 금액
11         FST_MBERNO        최초 회원번호
12         FST_REG_DE       최초 등록 일자
13              VHCTY             차종
14     VHRNO_NUM_INFO   차량등록번호 숫자 정보
15              VHMNO         차량관리번호
16      VHCL_MNFCT_DE       차량 제작 일자
17        VHCL_YRIDNW          차량 연식
18       VHCL_ERSR_YN       차량 말소 YN
19                VIN           차대번호
20            SRCMNNO         제원관리번호
21           EMIS_GRD        배출가스 등급
22            LEM_KND       저공해조치 종류
23      LEM_STRCHG_YN  저공해조치 구조변경 YN
24             LEM_YN  저공해조치 YN(미사용)
25        NOW_OWNR_NM             미정
26          BSPL_ADRS             미정
27          OWNR_ADRS             미정
28           BSPL_ZIP             미정
29        FST_OWNR_NM             미정
30                RMK             미정
31            USER_ID             미정

In [4]:
col_exc1 = col_exc1.loc[:24]
col_exc1

                   컬럼             내용
0             UPDT_DT          수정 일시
1             OWNR_SE         소유자 구분
2               VHRNO         차량등록번호
3        BSPL_LEDO_CD     본거지 법정동 코드
4             CRTN_DT          생성 일시
5               PURPS             용도
6   EMIS_INSP_EFCT_DE     배출가스검사유효일자
7         EMIS_CRTCNO      배출가스 인증번호
8          NOW_MBERNO        현재 회원번호
9             ACQS_DE          취득 일자
10           ACQS_AMT          취득 금액
11         FST_MBERNO        최초 회원번호
12         FST_REG_DE       최초 등록 일자
13              VHCTY             차종
14     VHRNO_NUM_INFO   차량등록번호 숫자 정보
15              VHMNO         차량관리번호
16      VHCL_MNFCT_DE       차량 제작 일자
17        VHCL_YRIDNW          차량 연식
18       VHCL_ERSR_YN       차량 말소 YN
19                VIN           차대번호
20            SRCMNNO         제원관리번호
21           EMIS_GRD        배출가스 등급
22            LEM_KND       저공해조치 종류
23      LEM_STRCHG_YN  저공해조치 구조변경 YN
24             LEM_YN  저공해조치 YN(미사용)

In [5]:
col_dict1 = {}
for a, b in zip(col_exc1['내용'].to_list(), col_exc1['컬럼'].to_list()):
    col_dict1[a] = b
col_dict1

{'수정 일시': 'UPDT_DT',
 '소유자 구분': 'OWNR_SE',
 '차량등록번호': 'VHRNO',
 '본거지 법정동 코드': 'BSPL_LEDO_CD',
 '생성 일시': 'CRTN_DT',
 '용도': 'PURPS',
 '배출가스검사유효일자': 'EMIS_INSP_EFCT_DE',
 '배출가스 인증번호': 'EMIS_CRTCNO',
 '현재 회원번호': 'NOW_MBERNO',
 '취득 일자': 'ACQS_DE',
 '취득 금액': 'ACQS_AMT',
 '최초 회원번호': 'FST_MBERNO',
 '최초 등록 일자': 'FST_REG_DE',
 '차종': 'VHCTY',
 '차량등록번호 숫자 정보': 'VHRNO_NUM_INFO',
 '차량관리번호': 'VHMNO',
 '차량 제작 일자': 'VHCL_MNFCT_DE',
 '차량 연식': 'VHCL_YRIDNW',
 '차량 말소 YN': 'VHCL_ERSR_YN',
 '차대번호': 'VIN',
 '제원관리번호': 'SRCMNNO',
 '배출가스 등급': 'EMIS_GRD',
 '저공해조치 종류': 'LEM_KND',
 '저공해조치 구조변경 YN': 'LEM_STRCHG_YN',
 '저공해조치 YN(미사용)': 'LEM_YN'}

In [6]:
# 필요한 컬럼만 추출
sel_col1 = [
    '차량관리번호',
    '차량등록번호',
    '본거지 법정동 코드',
    '소유자 구분',
    '차종',
    '용도',
    '차대번호',
    '최초 등록 일자',
    '차량 연식',
    '차량 제작 일자',
    '배출가스검사유효일자',
    '제원관리번호',
    '배출가스 인증번호',
    '배출가스 등급',
    '저공해조치 종류',
    '저공해조치 구조변경 YN',
    '차량 말소 YN',
    '취득 일자',
    '취득 금액',
    ]
col1 = []
for one in sel_col1:
    col1.append(col_dict1[one])
col1

['VHMNO',
 'VHRNO',
 'BSPL_LEDO_CD',
 'OWNR_SE',
 'VHCTY',
 'PURPS',
 'VIN',
 'FST_REG_DE',
 'VHCL_YRIDNW',
 'VHCL_MNFCT_DE',
 'EMIS_INSP_EFCT_DE',
 'SRCMNNO',
 'EMIS_CRTCNO',
 'EMIS_GRD',
 'LEM_KND',
 'LEM_STRCHG_YN',
 'VHCL_ERSR_YN',
 'ACQS_DE',
 'ACQS_AMT']

## [경로]

In [7]:
ods_fold = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\ODS'
ods_path = os.path.join(ods_fold, f'ODS_{file_name}.csv')

In [8]:
# about 5-6m
df1 = pd.read_csv(ods_path, low_memory=False, usecols=col1)

In [9]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29534047 entries, 0 to 29534046
Data columns (total 19 columns):
 #   Column             Dtype
---  ------             -----
 0   VHMNO              object
 1   VHRNO              object
 2   BSPL_LEDO_CD       int64
 3   OWNR_SE            object
 4   VHCTY              object
 5   PURPS              object
 6   VIN                object
 7   FST_REG_DE         int64
 8   VHCL_YRIDNW        int64
 9   VHCL_MNFCT_DE      object
 10  EMIS_INSP_EFCT_DE  float64
 11  SRCMNNO            object
 12  EMIS_CRTCNO        object
 13  EMIS_GRD           object
 14  LEM_KND            float64
 15  LEM_STRCHG_YN      object
 16  VHCL_ERSR_YN       object
 17  ACQS_DE            object
 18  ACQS_AMT           float64
dtypes: float64(3), int64(3), object(13)
memory usage: 4.2+ GB

In [10]:
df1.head()

,VHMNO,VHRNO,BSPL_LEDO_CD,OWNR_SE,VHCTY,PURPS,VIN,FST_REG_DE,VHCL_YRIDNW,VHCL_MNFCT_DE,EMIS_INSP_EFCT_DE,SRCMNNO,EMIS_CRTCNO,EMIS_GRD,LEM_KND,LEM_STRCHG_YN,VHCL_ERSR_YN,ACQS_DE,ACQS_AMT
0,10762211742-01,서울1나4019,1165010700,O,P,P,10762211742,19760308,1976,NaN,19850225.0,10004800000000,NaN,5,NaN,N,N,NaN,0.0
1,KG68T122688*-01,대구1다1476,2711010500,O,P,P,KG68T122688*,19760309,1968,NaN,19760706.0,30220100010946,NaN,5,NaN,N,N,NaN,NaN
2,10762211783-01,인천1마8052,2820010300,O,P,P,10762211783,19760311,1976,NaN,NaN,10004800000000,NaN,5,NaN,N,N,NaN,NaN
3,PN71C018511000000-01,87로9835,4213011200,R,T,P,PN71C018511000000,19760312,1971,NaN,20191220.0,30321400001063,NaN,5,NaN,N,N,20160222,100000.0
4,KMHLA11FPGU060639-01,경남1러3590,4812110500,R,P,P,KMHLA11FPGU060639,19760313,1986,NaN,19930227.0,30381300100968,NaN,5,NaN,N,N,NaN,NaN

In [11]:
df1.columns = sel_col1
df1.head()

,차량관리번호,차량등록번호,본거지 법정동 코드,소유자 구분,차종,용도,차대번호,최초 등록 일자,차량 연식,차량 제작 일자,배출가스검사유효일자,제원관리번호,배출가스 인증번호,배출가스 등급,저공해조치 종류,저공해조치 구조변경 YN,차량 말소 YN,취득 일자,취득 금액
0,10762211742-01,서울1나4019,1165010700,O,P,P,10762211742,19760308,1976,NaN,19850225.0,10004800000000,NaN,5,NaN,N,N,NaN,0.0
1,KG68T122688*-01,대구1다1476,2711010500,O,P,P,KG68T122688*,19760309,1968,NaN,19760706.0,30220100010946,NaN,5,NaN,N,N,NaN,NaN
2,10762211783-01,인천1마8052,2820010300,O,P,P,10762211783,19760311,1976,NaN,NaN,10004800000000,NaN,5,NaN,N,N,NaN,NaN
3,PN71C018511000000-01,87로9835,4213011200,R,T,P,PN71C018511000000,19760312,1971,NaN,20191220.0,30321400001063,NaN,5,NaN,N,N,20160222,100000.0
4,KMHLA11FPGU060639-01,경남1러3590,4812110500,R,P,P,KMHLA11FPGU060639,19760313,1986,NaN,19930227.0,30381300100968,NaN,5,NaN,N,N,NaN,NaN

## 코드화 정보 해석

In [12]:
df1['소유자 구분'].unique()

array(['O', 'R', 'B', 'L', 'F'], dtype=object)

In [13]:
# 소유자 구분
own_dict = {'B':'사업자', 'F':'외국인', 'L':'법인', 'O':'기타', 'R':'주민'}
df1['소유자 구분'] = df1['소유자 구분'].map(own_dict)
df1.head()

,차량관리번호,차량등록번호,본거지 법정동 코드,소유자 구분,차종,용도,차대번호,최초 등록 일자,차량 연식,차량 제작 일자,배출가스검사유효일자,제원관리번호,배출가스 인증번호,배출가스 등급,저공해조치 종류,저공해조치 구조변경 YN,차량 말소 YN,취득 일자,취득 금액
0,10762211742-01,서울1나4019,1165010700,기타,P,P,10762211742,19760308,1976,NaN,19850225.0,10004800000000,NaN,5,NaN,N,N,NaN,0.0
1,KG68T122688*-01,대구1다1476,2711010500,기타,P,P,KG68T122688*,19760309,1968,NaN,19760706.0,30220100010946,NaN,5,NaN,N,N,NaN,NaN
2,10762211783-01,인천1마8052,2820010300,기타,P,P,10762211783,19760311,1976,NaN,NaN,10004800000000,NaN,5,NaN,N,N,NaN,NaN
3,PN71C018511000000-01,87로9835,4213011200,주민,T,P,PN71C018511000000,19760312,1971,NaN,20191220.0,30321400001063,NaN,5,NaN,N,N,20160222,100000.0
4,KMHLA11FPGU060639-01,경남1러3590,4812110500,주민,P,P,KMHLA11FPGU060639,19760313,1986,NaN,19930227.0,30381300100968,NaN,5,NaN,N,N,NaN,NaN

In [14]:
df1['소유자 구분'].unique()

array(['기타', '주민', '사업자', '법인', '외국인'], dtype=object)

In [15]:
df1['차종'].unique()

array(['P', 'T', 'V', 'S', nan], dtype=object)

In [16]:
# 차종
car_cate_dict = {'M':'이륜', 'P':'승용', 'S':'특수', 'T':'화물', 'V':'승합'}
df1['차종'] = df1['차종'].map(car_cate_dict)
df1['차종'].unique()

array(['승용', '화물', '승합', '특수', nan], dtype=object)

In [17]:
df1['용도'].unique()

array(['P', 'B', 'O'], dtype=object)

In [18]:
# 용도
use_dict = {'B':'영업용', 'O':'관용', 'P':'자가용', 'T':'개인택시'}
df1['용도'] = df1['용도'].map(use_dict)
df1['용도'].unique()

array(['자가용', '영업용', '관용'], dtype=object)

In [19]:
df1.head()

,차량관리번호,차량등록번호,본거지 법정동 코드,소유자 구분,차종,용도,차대번호,최초 등록 일자,차량 연식,차량 제작 일자,배출가스검사유효일자,제원관리번호,배출가스 인증번호,배출가스 등급,저공해조치 종류,저공해조치 구조변경 YN,차량 말소 YN,취득 일자,취득 금액
0,10762211742-01,서울1나4019,1165010700,기타,승용,자가용,10762211742,19760308,1976,NaN,19850225.0,10004800000000,NaN,5,NaN,N,N,NaN,0.0
1,KG68T122688*-01,대구1다1476,2711010500,기타,승용,자가용,KG68T122688*,19760309,1968,NaN,19760706.0,30220100010946,NaN,5,NaN,N,N,NaN,NaN
2,10762211783-01,인천1마8052,2820010300,기타,승용,자가용,10762211783,19760311,1976,NaN,NaN,10004800000000,NaN,5,NaN,N,N,NaN,NaN
3,PN71C018511000000-01,87로9835,4213011200,주민,화물,자가용,PN71C018511000000,19760312,1971,NaN,20191220.0,30321400001063,NaN,5,NaN,N,N,20160222,100000.0
4,KMHLA11FPGU060639-01,경남1러3590,4812110500,주민,승용,자가용,KMHLA11FPGU060639,19760313,1986,NaN,19930227.0,30381300100968,NaN,5,NaN,N,N,NaN,NaN

## [출력] [ODS]자동차_등록정보(CEG_CAR_MIG)

In [47]:
# about 4m
df1.to_csv(os.path.join(ods_fold, '[ODS]자동차_등록정보(2022-12-29).csv'), index=False)

## [출력] [ODS][4등급]자동차_등록정보(CEG_CAR_MIG)

In [20]:
df1['배출가스 등급'].unique()

array(['5', 'X', 'T5', '4', '3', 'T4', 'T3', '2', '1', 'T2', nan],
      dtype=object)

In [21]:
df1['배출가스 등급'].value_counts()

2     11803371
3      9890563
1      2870152
5      2378599
4      1898773
X       305339
T2      250282
T3      136844
T5          49
T4          43
Name: 배출가스 등급, dtype: int64

In [22]:
g4 = df1[(df1['배출가스 등급'] == '4') | (df1['배출가스 등급'] == 'T4')]
g4.shape

(1898816, 19)

In [24]:
# about 20s
g4.to_csv(os.path.join(ods_fold, '[ODS][4등급]자동차_등록정보(2022-12-29).csv'), index=False)

## 말소 차량 제거

In [23]:
g4_n = g4[g4['차량 말소 YN'] == 'N'].reset_index(drop=True)
g4_n.shape

(1511251, 19)

### [출력] [ODS][4등급]등록정보(말소적용)

In [24]:
# about 13s
g4_n.to_csv('data/[ODS][G4]자동차_등록정보(말소적용)(2022-12-29).csv', index=False)

# [로드] 자동차 제원정보(CEG_CAR_SRC_MIG)

## columns

In [25]:
file_name = 'CEG_CAR_SRC_MIG'
col_exc1 = pd.read_excel(f'analysis/ODSvsSTD/[정제]{file_name}.xlsx', sheet_name='ODS_col')

In [26]:
col_exc1

             컬럼           내용
0       UPDT_DT        수정 일시
1      CNFRM_DE        승인 일자
2       DELE_YN        삭제 YN
3       CRTN_DT        생성 일시
4      TOT_WGHT         총 중량
5      VHCTY_TY  차종 유형 (소분류)
6      VHCTY_CL        차종 분류
7         VHCTY           차종
8         VHCNM           차명
9       VHCL_HG        차량 높이
10      VHCL_WH        차량 너비
11      VHCL_LT        차량 길이
12      DRV_FRM        구동 형식
13       MKR_NM        제작사 명
14      SRCMNNO       제원관리번호
15   CRYNG_WGHT        적재 중량
16      CAR_FRM       자동차 형식
17    EMPV_WGHT         공차중량
18      PLOR_NM        원산지 명
19         FUEL           연료
20       EGINTY         엔진형식
21      EGINPWR         엔진출력
22   TKCAR_NMPR        승차 인원
23       DSPLVL          배기량
24  GEARBOX_KND       변속기 종류
25    REPCAR_NM           미정
26          RMK           미정
27      USER_ID           미정

In [27]:
col_exc1 = col_exc1.loc[:24]
col_exc1

             컬럼           내용
0       UPDT_DT        수정 일시
1      CNFRM_DE        승인 일자
2       DELE_YN        삭제 YN
3       CRTN_DT        생성 일시
4      TOT_WGHT         총 중량
5      VHCTY_TY  차종 유형 (소분류)
6      VHCTY_CL        차종 분류
7         VHCTY           차종
8         VHCNM           차명
9       VHCL_HG        차량 높이
10      VHCL_WH        차량 너비
11      VHCL_LT        차량 길이
12      DRV_FRM        구동 형식
13       MKR_NM        제작사 명
14      SRCMNNO       제원관리번호
15   CRYNG_WGHT        적재 중량
16      CAR_FRM       자동차 형식
17    EMPV_WGHT         공차중량
18      PLOR_NM        원산지 명
19         FUEL           연료
20       EGINTY         엔진형식
21      EGINPWR         엔진출력
22   TKCAR_NMPR        승차 인원
23       DSPLVL          배기량
24  GEARBOX_KND       변속기 종류

In [28]:
col_dict1 = {}
for a, b in zip(col_exc1['내용'].to_list(), col_exc1['컬럼'].to_list()):
    col_dict1[a] = b
col_dict1

{'수정 일시': 'UPDT_DT',
 '승인 일자': 'CNFRM_DE',
 '삭제 YN': 'DELE_YN',
 '생성 일시': 'CRTN_DT',
 '총 중량': 'TOT_WGHT',
 '차종 유형 (소분류)': 'VHCTY_TY',
 '차종 분류': 'VHCTY_CL',
 '차종': 'VHCTY',
 '차명': 'VHCNM',
 '차량 높이': 'VHCL_HG',
 '차량 너비': 'VHCL_WH',
 '차량 길이': 'VHCL_LT',
 '구동 형식': 'DRV_FRM',
 '제작사 명': 'MKR_NM',
 '제원관리번호': 'SRCMNNO',
 '적재 중량': 'CRYNG_WGHT',
 '자동차 형식': 'CAR_FRM',
 '공차중량': 'EMPV_WGHT',
 '원산지 명': 'PLOR_NM',
 '연료': 'FUEL',
 '엔진형식': 'EGINTY',
 '엔진출력': 'EGINPWR',
 '승차 인원': 'TKCAR_NMPR',
 '배기량': 'DSPLVL',
 '변속기 종류': 'GEARBOX_KND'}

In [29]:
# 필요한 컬럼만 추출
sel_col1 = [
    '제원관리번호',
    '차명',
    '차종',
    '차종 분류',
    '차종 유형 (소분류)',
    '자동차 형식',
    '제작사 명',
    '연료',
    '엔진형식',
    '총 중량',
    '적재 중량',
    '엔진출력',
    '배기량',
    '승차 인원',
    '차량 길이',
    '차량 너비',
    '차량 높이',
    '원산지 명',
    '삭제 YN',
    '승인 일자',
    '구동 형식',
    '변속기 종류',
    ]
col1 = []
for one in sel_col1:
    col1.append(col_dict1[one])
col1

['SRCMNNO',
 'VHCNM',
 'VHCTY',
 'VHCTY_CL',
 'VHCTY_TY',
 'CAR_FRM',
 'MKR_NM',
 'FUEL',
 'EGINTY',
 'TOT_WGHT',
 'CRYNG_WGHT',
 'EGINPWR',
 'DSPLVL',
 'TKCAR_NMPR',
 'VHCL_LT',
 'VHCL_WH',
 'VHCL_HG',
 'PLOR_NM',
 'DELE_YN',
 'CNFRM_DE',
 'DRV_FRM',
 'GEARBOX_KND']

## [경로]

In [30]:
ods_fold = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\ODS'
ods_path = os.path.join(ods_fold, f'ODS_{file_name}.csv')

In [31]:
# about 4s
df1 = pd.read_csv(ods_path, low_memory=False, usecols=col1)

In [32]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545374 entries, 0 to 545373
Data columns (total 22 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   SRCMNNO      545374 non-null  object
 1   VHCNM        545272 non-null  object
 2   VHCTY        545370 non-null  object
 3   VHCTY_CL     531367 non-null  object
 4   VHCTY_TY     531332 non-null  object
 5   CAR_FRM      516295 non-null  object
 6   MKR_NM       529017 non-null  object
 7   FUEL         503254 non-null  object
 8   EGINTY       494157 non-null  object
 9   TOT_WGHT     541702 non-null  float64
 10  CRYNG_WGHT   446181 non-null  float64
 11  EGINPWR      471948 non-null  float64
 12  DSPLVL       510521 non-null  float64
 13  TKCAR_NMPR   545313 non-null  float64
 14  VHCL_LT      514786 non-null  float64
 15  VHCL_WH      514799 non-null  float64
 16  VHCL_HG      514732 non-null  float64
 17  PLOR_NM      540392 non-null  object
 18  DELE_YN      545374 non-null  object
 19  CNFRM_DE     532881 non-null  object
 20  DRV_FRM      114619 non-null  object
 21  GEARBOX_KND  540165 non-null  object
dtypes: float64(8), object(14)
memory usage: 91.5+ MB

In [33]:
df1.head()

,SRCMNNO,VHCNM,VHCTY,VHCTY_CL,VHCTY_TY,CAR_FRM,MKR_NM,FUEL,EGINTY,TOT_WGHT,...,DSPLVL,TKCAR_NMPR,VHCL_LT,VHCL_WH,VHCL_HG,PLOR_NM,DELE_YN,CNFRM_DE,DRV_FRM,GEARBOX_KND
0,B0710004800013305,두성26.2㎥벌크 트레일러,T,특수용도형-특수용도형,L,DS-BS2L-262A,(주) 두성특장차,NaN,-,30880.0,...,NaN,0.0,10100.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
1,B0710004900013305,두성38.1㎥벌크 트레일러,T,특수용도형-특수용도형,L,DS-BS3L-381A,(주) 두성특장차,NaN,-,28770.0,...,NaN,0.0,11750.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
2,B0710005000013306,두성41㎥벌크 트레일러,T,특수용도형-특수용도형,L,DS-BS4L-410A,(주) 두성특장차,NaN,-,30780.0,...,NaN,0.0,12020.0,2490.0,3580.0,대한민국,N,20060921,NaN,X
3,B0710005300013305,두성25.8톤코일트레일러,T,특수용도형-특수용도형,L,DS-LS0A-258A,(주) 두성특장차,NaN,-,30850.0,...,NaN,0.0,9640.0,2490.0,1460.0,대한민국,N,20050906,NaN,X
4,B0710005400013305,두성25.8톤리프팅코일트레일러,T,특수용도형-특수용도형,L,DS-LS0A-258B,(주) 두성특장차,NaN,-,30800.0,...,NaN,0.0,9665.0,2490.0,1515.0,대한민국,N,20050906,NaN,X

In [34]:
df1.columns = sel_col1
df1.head()

,제원관리번호,차명,차종,차종 분류,차종 유형 (소분류),자동차 형식,제작사 명,연료,엔진형식,총 중량,...,배기량,승차 인원,차량 길이,차량 너비,차량 높이,원산지 명,삭제 YN,승인 일자,구동 형식,변속기 종류
0,B0710004800013305,두성26.2㎥벌크 트레일러,T,특수용도형-특수용도형,L,DS-BS2L-262A,(주) 두성특장차,NaN,-,30880.0,...,NaN,0.0,10100.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
1,B0710004900013305,두성38.1㎥벌크 트레일러,T,특수용도형-특수용도형,L,DS-BS3L-381A,(주) 두성특장차,NaN,-,28770.0,...,NaN,0.0,11750.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
2,B0710005000013306,두성41㎥벌크 트레일러,T,특수용도형-특수용도형,L,DS-BS4L-410A,(주) 두성특장차,NaN,-,30780.0,...,NaN,0.0,12020.0,2490.0,3580.0,대한민국,N,20060921,NaN,X
3,B0710005300013305,두성25.8톤코일트레일러,T,특수용도형-특수용도형,L,DS-LS0A-258A,(주) 두성특장차,NaN,-,30850.0,...,NaN,0.0,9640.0,2490.0,1460.0,대한민국,N,20050906,NaN,X
4,B0710005400013305,두성25.8톤리프팅코일트레일러,T,특수용도형-특수용도형,L,DS-LS0A-258B,(주) 두성특장차,NaN,-,30800.0,...,NaN,0.0,9665.0,2490.0,1515.0,대한민국,N,20050906,NaN,X

## 코드화 정보 해석

In [35]:
df1['차종'].unique()

array(['T', 'V', 'P', 'S', nan], dtype=object)

In [36]:
# 차종
car_cate_dict = {'M':'이륜', 'P':'승용', 'S':'특수', 'T':'화물', 'V':'승합'}
df1['차종'] = df1['차종'].map(car_cate_dict)
df1['차종'].unique()

array(['화물', '승합', '승용', '특수', nan], dtype=object)

In [37]:
df1['차종 유형 (소분류)'].unique()

array(['L', 'M', 'S', 'C', nan], dtype=object)

In [38]:
# 용도
use_dict = {'C':'경형', 'L':'대형', 'M':'중형', 'S':'소형'}
df1['차종 유형 (소분류)'] = df1['차종 유형 (소분류)'].map(use_dict)
df1['차종 유형 (소분류)'].unique()

array(['대형', '중형', '소형', '경형', nan], dtype=object)

In [39]:
df1.head()

,제원관리번호,차명,차종,차종 분류,차종 유형 (소분류),자동차 형식,제작사 명,연료,엔진형식,총 중량,...,배기량,승차 인원,차량 길이,차량 너비,차량 높이,원산지 명,삭제 YN,승인 일자,구동 형식,변속기 종류
0,B0710004800013305,두성26.2㎥벌크 트레일러,화물,특수용도형-특수용도형,대형,DS-BS2L-262A,(주) 두성특장차,NaN,-,30880.0,...,NaN,0.0,10100.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
1,B0710004900013305,두성38.1㎥벌크 트레일러,화물,특수용도형-특수용도형,대형,DS-BS3L-381A,(주) 두성특장차,NaN,-,28770.0,...,NaN,0.0,11750.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
2,B0710005000013306,두성41㎥벌크 트레일러,화물,특수용도형-특수용도형,대형,DS-BS4L-410A,(주) 두성특장차,NaN,-,30780.0,...,NaN,0.0,12020.0,2490.0,3580.0,대한민국,N,20060921,NaN,X
3,B0710005300013305,두성25.8톤코일트레일러,화물,특수용도형-특수용도형,대형,DS-LS0A-258A,(주) 두성특장차,NaN,-,30850.0,...,NaN,0.0,9640.0,2490.0,1460.0,대한민국,N,20050906,NaN,X
4,B0710005400013305,두성25.8톤리프팅코일트레일러,화물,특수용도형-특수용도형,대형,DS-LS0A-258B,(주) 두성특장차,NaN,-,30800.0,...,NaN,0.0,9665.0,2490.0,1515.0,대한민국,N,20050906,NaN,X

In [40]:
df1.iloc[:5, 5:]

,자동차 형식,제작사 명,연료,엔진형식,총 중량,적재 중량,엔진출력,배기량,승차 인원,차량 길이,차량 너비,차량 높이,원산지 명,삭제 YN,승인 일자,구동 형식,변속기 종류
0,DS-BS2L-262A,(주) 두성특장차,NaN,-,30880.0,26200.0,NaN,NaN,0.0,10100.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
1,DS-BS3L-381A,(주) 두성특장차,NaN,-,28770.0,23200.0,NaN,NaN,0.0,11750.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
2,DS-BS4L-410A,(주) 두성특장차,NaN,-,30780.0,25000.0,NaN,NaN,0.0,12020.0,2490.0,3580.0,대한민국,N,20060921,NaN,X
3,DS-LS0A-258A,(주) 두성특장차,NaN,-,30850.0,25800.0,NaN,NaN,0.0,9640.0,2490.0,1460.0,대한민국,N,20050906,NaN,X
4,DS-LS0A-258B,(주) 두성특장차,NaN,-,30800.0,25800.0,NaN,NaN,0.0,9665.0,2490.0,1515.0,대한민국,N,20050906,NaN,X

In [41]:
df1['연료'].unique()

array([nan, 'DS', 'GS', 'CN', 'GH', 'LP', 'OT', 'AC', 'EV', 'SH', 'CH',
       'KS', 'DH', 'LH', 'HD', 'LN'], dtype=object)

In [42]:
# 연료
use_dict = {'DS':'경유', 'GS':'휘발유', 'CN':'CNG(압축천연가스)', 'GH':'휘발유 하이브리드', 'LP':'LGP(액화석유가스)', 'OT':'기타연료', 'AC':'알코올', 'EV':'전기', 'SH':'태양열', 'CH':'CNG 하이브리드',
       'KS':'등유', 'DH':'경유 하이브리드', 'LH':'LPG 하이브리드', 'HD':'수소', 'LN':'LNG(액화천연가스)', 'PH':'플러그인 하이브리드', 'X':'무동력'}
df1['연료'] = df1['연료'].map(use_dict)
df1['연료'].unique()

array([nan, '경유', '휘발유', 'CNG(압축천연가스)', '휘발유 하이브리드', 'LGP(액화석유가스)',
       '기타연료', '알코올', '전기', '태양열', 'CNG 하이브리드', '등유', '경유 하이브리드',
       'LPG 하이브리드', '수소', 'LNG(액화천연가스)'], dtype=object)

In [43]:
df1.head()

,제원관리번호,차명,차종,차종 분류,차종 유형 (소분류),자동차 형식,제작사 명,연료,엔진형식,총 중량,...,배기량,승차 인원,차량 길이,차량 너비,차량 높이,원산지 명,삭제 YN,승인 일자,구동 형식,변속기 종류
0,B0710004800013305,두성26.2㎥벌크 트레일러,화물,특수용도형-특수용도형,대형,DS-BS2L-262A,(주) 두성특장차,NaN,-,30880.0,...,NaN,0.0,10100.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
1,B0710004900013305,두성38.1㎥벌크 트레일러,화물,특수용도형-특수용도형,대형,DS-BS3L-381A,(주) 두성특장차,NaN,-,28770.0,...,NaN,0.0,11750.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
2,B0710005000013306,두성41㎥벌크 트레일러,화물,특수용도형-특수용도형,대형,DS-BS4L-410A,(주) 두성특장차,NaN,-,30780.0,...,NaN,0.0,12020.0,2490.0,3580.0,대한민국,N,20060921,NaN,X
3,B0710005300013305,두성25.8톤코일트레일러,화물,특수용도형-특수용도형,대형,DS-LS0A-258A,(주) 두성특장차,NaN,-,30850.0,...,NaN,0.0,9640.0,2490.0,1460.0,대한민국,N,20050906,NaN,X
4,B0710005400013305,두성25.8톤리프팅코일트레일러,화물,특수용도형-특수용도형,대형,DS-LS0A-258B,(주) 두성특장차,NaN,-,30800.0,...,NaN,0.0,9665.0,2490.0,1515.0,대한민국,N,20050906,NaN,X

## [출력] [ODS]자동차_제원정보(CEG_CAR_SRC_MIG)

In [79]:
# about 5s
df1.to_csv(os.path.join(ods_fold, '[ODS]자동차_제원정보(2022-12-29).csv'), index=False)

## [출력] 제원정보 결측치 통계

In [46]:
temp = df1.isnull().sum().reset_index()
temp

          index       0
0        제원관리번호       0
1            차명     102
2            차종       4
3         차종 분류   14007
4   차종 유형 (소분류)   14042
5        자동차 형식   29079
6         제작사 명   16357
7            연료   42120
8          엔진형식   51217
9          총 중량    3672
10        적재 중량   99193
11         엔진출력   73426
12          배기량   34853
13        승차 인원      61
14        차량 길이   30588
15        차량 너비   30575
16        차량 높이   30642
17        원산지 명    4982
18        삭제 YN       0
19        승인 일자   12493
20        구동 형식  430755
21       변속기 종류    5209

In [50]:
temp['col'] = col1
temp = temp[['col', 'index', 0]]
temp

            col        index       0
0       SRCMNNO       제원관리번호       0
1         VHCNM           차명     102
2         VHCTY           차종       4
3      VHCTY_CL        차종 분류   14007
4      VHCTY_TY  차종 유형 (소분류)   14042
5       CAR_FRM       자동차 형식   29079
6        MKR_NM        제작사 명   16357
7          FUEL           연료   42120
8        EGINTY         엔진형식   51217
9      TOT_WGHT         총 중량    3672
10   CRYNG_WGHT        적재 중량   99193
11      EGINPWR         엔진출력   73426
12       DSPLVL          배기량   34853
13   TKCAR_NMPR        승차 인원      61
14      VHCL_LT        차량 길이   30588
15      VHCL_WH        차량 너비   30575
16      VHCL_HG        차량 높이   30642
17      PLOR_NM        원산지 명    4982
18      DELE_YN        삭제 YN       0
19     CNFRM_DE        승인 일자   12493
20      DRV_FRM        구동 형식  430755
21  GEARBOX_KND       변속기 종류    5209

In [51]:
temp.to_excel('analysis/[BD1][G4]제원정보_결측값_통계.xlsx', index=False)

# 코드 마지막