# Library

In [1]:
# import modin.pandas as pd # 경로가 길어지거나 못 읽는 듯
import pandas as pd
import numpy as np
import os

# [ODS]저감장치 부착이력(TB_ERP_ATT_HIS)

## columns

In [2]:
file_name = 'TB_ERP_ATT_HIS'
ex = pd.read_excel(f'analysis/ODSvsSTD/[정제]{file_name}.xlsx', sheet_name='ODS_col')

In [3]:
ex

                  컬럼        내용
0      EMI_RED_TYPE2    저감장치종류
1         PM_EFF_VAL  PM최종저감효율
2            TDMS_YN  TDMS부착여부
3      CONF_CHG_DATE    구조변경일자
4         ATT_ORG_NM     부착업체명
..               ...       ...
98   MAIN_EXP_REC_YN        미정
99      ENGINE_POWER        미정
100      CAR_FUEL_NM        미정
101       CAR_WEIGHT        미정
102    CAR_PASSENGER        미정

[103 rows x 2 columns]

In [4]:
col_dict = {a:b for a, b in zip(ex['컬럼'].to_list(), ex['내용'].to_list())}
col_dict

{'EMI_RED_TYPE2': '저감장치종류',
 'PM_EFF_VAL': 'PM최종저감효율',
 'TDMS_YN': 'TDMS부착여부',
 'CONF_CHG_DATE': '구조변경일자',
 'ATT_ORG_NM': '부착업체명',
 'ATT_DATE': '부착일자',
 'T_CHK_DATE': '탈거승인일',
 'CAR_REG_NO': '차량번호',
 'CAR_SER_NO': '차대번호',
 'CAR_MILE': '주행거리',
 'EMI_RED_REMOVE_YN': '저감장치반납여부',
 'EMI_RED_TYPE1': '저감장치구분',
 'ERP_REG_NO': '저감등록번호',
 'RETURN_CHK_DATE': '재장착확인일자',
 'EQUIP_SER_NO': '장치일련번호',
 'THREE_WAY_CATALYST_RETURN_YN': '삼원촉매장치반납여부',
 'SIDO': '미정',
 'SIGUNGU': '미정',
 'CURR_CAR_REG_NO': '미정',
 'CAR_TYPE_NM': '미정',
 'USAGE': '미정',
 'CAR_YEAR': '미정',
 'FIRST_REG_DATE': '미정',
 'CAR_OWNER_NM': '미정',
 'USER_CONTACT_TEL_NO': '미정',
 'CURR_SIGUNGU': '미정',
 'REG_MODEL_NO': '미정',
 'SMO_CHK_ORG_NM': '미정',
 'MAKER_ORG_CD': '미정',
 'ETC_CONT1': '미정',
 'ETC_CONT2': '미정',
 'ETC_CONT3': '미정',
 'ETC_CONT4': '미정',
 'ETC_CONT5': '미정',
 'SRC_TBL': '미정',
 'CAR_NM': '미정',
 'REC_DATE': '미정',
 'REC_NM': '미정',
 'APL_LAF_CD': '미정',
 'ERP_AID_YN': '미정',
 'ERP_NOT_AID_REASON': '미정',
 'ERP_CHK_STS': '미정',
 'M_DOC_ATTACH_YN': '미정',
 'P_CHK_DATE': '미정',
 'P_CHK_NM': '미정',
 'ERP_AID_CONFIRM_YN': '미정',
 'M_CHK_DATE': '미정',
 'M_CHK_NM': '미정',
 'G_CHK_DATE': '미정',
 'G_CHK_NM': '미정',
 'AIR_MONEY_DATE': '미정',
 'LAF_REC_DATE': '미정',
 'LAF_REC_NM': '미정',
 'AIR_MONEY': '미정',
 'AIR_MONEY_ME': '미정',
 'AID_YEAR': '미정',
 'Y_CHK_DATE': '미정',
 'Y_CHK_NM': '미정',
 'TOT_WEIGHT': '미정',
 'LAS_CHG_DATE': '미정',
 'LAS_CHG_NM': '미정',
 'CALL_DATE': '미정',
 'CALL_RES_INFO': '미정',
 'CAR_DISP': '미정',
 'ENGINE_TYPE': '미정',
 'DISP_TEMPERATURE': '미정',
 'MAX_PRESSURE': '미정',
 'AVG_PRESSURE': '미정',
 'AEA_ASSO_PRINT_ENABLE': '미정',
 'TH_CHK_STS': '미정',
 'CHG_INFO_CD': '미정',
 'AEA_ASSO_PRINT_DATE': '미정',
 'T_CHK_NM': '미정',
 'Z_CHK_DATE': '미정',
 'Z_CHK_NM': '미정',
 'INFO_CHK_ORG_CD': '미정',
 'INFO_CHK_NM': '미정',
 'INFO_CHK_DATE': '미정',
 'INFO_RETURN_REASON': '미정',
 'CAR_OWNER_ADDR1': '미정',
 'CAR_OWNER_ADDR2': '미정',
 'CAR_OWNER_POSTNO': '미정',
 'CAR_TYPE_GB': '미정',
 'LOW_INCOME_GRP_YN': '미정',
 'REST_MONEY': '미정',
 'FNS_MONEY_YN': '미정',
 'AIR_MONEY_ME_DATE': '미정',
 'AIR_MONEY_ME_NM': '미정',
 'PAY_MONEY': '미정',
 'Z_AIR_MONEY': '미정',
 'AIR_MONEY_EQUIP': '미정',
 'AIR_MONEY_EX': '미정',
 'CAR_OWNER_GB': '미정',
 'T_REG_DATE': '미정',
 'T_REASON': '미정',
 'T_REASON_DTL': '미정',
 'DOC_NO': '미정',
 'SUBSIDY_REC_YN': '미정',
 'MAIN_EXP_REC_YN': '미정',
 'ENGINE_POWER': '미정',
 'CAR_FUEL_NM': '미정',
 'CAR_WEIGHT': '미정',
 'CAR_PASSENGER': '미정'}

## [로드]

In [5]:
ods_fold = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\ODS'
ods_path = os.path.join(ods_fold, f'ODS_{file_name}.csv')

In [6]:
# pandas : about 16s
df = pd.read_csv(ods_path, low_memory=False)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 810777 entries, 0 to 810776
Columns: 103 entries, ERP_REG_NO to THREE_WAY_CATALYST_RETURN_YN
dtypes: float64(32), int64(3), object(68)
memory usage: 637.1+ MB

In [8]:
df.head()

,ERP_REG_NO,SIDO,SIGUNGU,CAR_REG_NO,CURR_CAR_REG_NO,CAR_SER_NO,CAR_TYPE_NM,USAGE,CAR_YEAR,FIRST_REG_DATE,...,T_REASON,T_REASON_DTL,DOC_NO,SUBSIDY_REC_YN,MAIN_EXP_REC_YN,ENGINE_POWER,CAR_FUEL_NM,CAR_WEIGHT,CAR_PASSENGER,THREE_WAY_CATALYST_RETURN_YN
0,91008890,경기도,성남시,경기81라6983,NaN,410031134778,소형화물,단거리운행차량,2000,20001009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,91008891,서울시,관악구,서울83고6732,NaN,KN3HDP3362K807243,중형화물,단거리운행차량,2002,20020111.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,91008893,인천시,서구,인천83가2144,NaN,KMCGB17FPVC120970,중형화물,단거리운행차량,1997,19970509.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,91008895,서울시,용산구,서울82도3500,NaN,KMFXKD7BP2U583397,중형화물,단거리운행차량,2002,20020427.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,91008896,경기도,하남시,경기90너3093,NaN,KMFXKS7BP2U560254,소형화물,단거리운행차량,2002,20020219.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
col = [col_dict[x] for x in df.columns]
col

['저감등록번호',
 '미정',
 '미정',
 '차량번호',
 '미정',
 '차대번호',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '부착업체명',
 '미정',
 '부착일자',
 '저감장치구분',
 '저감장치종류',
 '미정',
 '장치일련번호',
 '미정',
 '구조변경일자',
 '주행거리',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '저감장치반납여부',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '탈거승인일',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '재장착확인일자',
 '미정',
 '미정',
 '미정',
 'PM최종저감효율',
 '미정',
 '미정',
 'TDMS부착여부',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '미정',
 '삼원촉매장치반납여부']

In [10]:
df.columns = col
df.head()

,저감등록번호,미정,미정,차량번호,미정,차대번호,미정,미정,미정,미정,...,미정,미정,미정,미정,미정,미정,미정,미정,미정,삼원촉매장치반납여부
0,91008890,경기도,성남시,경기81라6983,NaN,410031134778,소형화물,단거리운행차량,2000,20001009.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,91008891,서울시,관악구,서울83고6732,NaN,KN3HDP3362K807243,중형화물,단거리운행차량,2002,20020111.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,91008893,인천시,서구,인천83가2144,NaN,KMCGB17FPVC120970,중형화물,단거리운행차량,1997,19970509.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,91008895,서울시,용산구,서울82도3500,NaN,KMFXKD7BP2U583397,중형화물,단거리운행차량,2002,20020427.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,91008896,경기도,하남시,경기90너3093,NaN,KMFXKS7BP2U560254,소형화물,단거리운행차량,2002,20020219.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df.iloc[:5, :15]

,저감등록번호,미정,미정,차량번호,미정,차대번호,미정,미정,미정,미정,미정,미정,부착업체명,미정,부착일자
0,91008890,경기도,성남시,경기81라6983,NaN,410031134778,소형화물,단거리운행차량,2000,20001009.0,Encrypted,Encrypted,주식회사한창일급자동차정비,경기도수원시,20041213.0
1,91008891,서울시,관악구,서울83고6732,NaN,KN3HDP3362K807243,중형화물,단거리운행차량,2002,20020111.0,Encrypted,Encrypted,대한통운(주)서울지점,서울시영등포구,20041214.0
2,91008893,인천시,서구,인천83가2144,NaN,KMCGB17FPVC120970,중형화물,단거리운행차량,1997,19970509.0,Encrypted,Encrypted,대광자동차공업사,인천시남구,20041215.0
3,91008895,서울시,용산구,서울82도3500,NaN,KMFXKD7BP2U583397,중형화물,단거리운행차량,2002,20020427.0,Encrypted,Encrypted,대한통운(주)서울지점,서울시영등포구,20041215.0
4,91008896,경기도,하남시,경기90너3093,NaN,KMFXKS7BP2U560254,소형화물,단거리운행차량,2002,20020219.0,Encrypted,Encrypted,한양자동차정비(주),서울시도봉구,20041215.0

In [12]:
df.iloc[:5, 15:30]

,저감장치구분,저감장치종류,미정,장치일련번호,미정,구조변경일자,주행거리,미정,미정,미정,미정,미정,미정,미정,미정
0,엔진개조,NaN,4LP-ER-03,NaN,수원자동차검사소,20041213,4500.0,MAKER_ORG_CD_09,NaN,화물차일반형소형,NaN,단거리운행차량,627,IF_ERP_HIS_XLS_ILOOM,봉고프런티어
1,엔진개조,NaN,4LP-ER-03,NaN,성산자동차검사소,20041214,29500.0,MAKER_ORG_CD_09,NaN,화물차일반형중형,NaN,단거리운행차량,628,IF_ERP_HIS_XLS_ILOOM,봉고프런티어
2,엔진개조,NaN,4LP-ER-04,NaN,인천자동차검사소,20041215,33799.0,MAKER_ORG_CD_09,NaN,화물차덤프형중형,NaN,단거리운행차량,630,IF_ERP_HIS_XLS_ILOOM,현대마이티덤프트럭
3,엔진개조,NaN,4LP-ER-01,NaN,성산자동차검사소,20041215,8443.0,MAKER_ORG_CD_09,NaN,화물차일반형중형,NaN,단거리운행차량,632,IF_ERP_HIS_XLS_ILOOM,포터장축더블캡
4,엔진개조,NaN,4LP-ER-01,NaN,노원자동차검사소,20041215,20142.0,MAKER_ORG_CD_09,NaN,화물차일반형소형,NaN,단거리운행차량,633,IF_ERP_HIS_XLS_ILOOM,포터초장축슈퍼캡

In [13]:
df.iloc[:5, 30:45]

,미정,미정,미정,미정,미정,미정,미정,미정,미정,미정,미정,미정,미정,미정,미정
0,20070905.0,Encrypted,경기 성남시청,NaN,NaN,Y,N,NaN,NaN,N,NaN,NaN,NaN,NaN,20070905.0
1,20041214.0,NaN,서울시청,NaN,NaN,Y,N,NaN,NaN,N,NaN,NaN,NaN,NaN,20041214.0
2,20041215.0,NaN,인천시청,NaN,NaN,Y,N,NaN,NaN,N,NaN,NaN,NaN,NaN,20041215.0
3,20041215.0,NaN,서울시청,NaN,NaN,Y,N,NaN,NaN,N,NaN,NaN,NaN,NaN,20041215.0
4,20041215.0,NaN,경기 하남시청,NaN,NaN,Y,N,NaN,NaN,N,NaN,NaN,NaN,NaN,20041215.0

In [14]:
df1 = df[['저감장치종류', 'TDMS부착여부', '구조변경일자', '부착업체명', '부착일자', '탈거승인일', '차량번호', '차대번호', '저감장치반납여부', '저감장치구분', '삼원촉매장치반납여부']]
df1

,저감장치종류,TDMS부착여부,구조변경일자,부착업체명,부착일자,탈거승인일,차량번호,차대번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부
0,NaN,NaN,20041213,주식회사한창일급자동차정비,20041213.0,NaN,경기81라6983,410031134778,N,엔진개조,NaN
1,NaN,NaN,20041214,대한통운(주)서울지점,20041214.0,NaN,서울83고6732,KN3HDP3362K807243,N,엔진개조,NaN
2,NaN,NaN,20041215,대광자동차공업사,20041215.0,NaN,인천83가2144,KMCGB17FPVC120970,N,엔진개조,NaN
3,NaN,NaN,20041215,대한통운(주)서울지점,20041215.0,NaN,서울82도3500,KMFXKD7BP2U583397,N,엔진개조,NaN
4,NaN,NaN,20041215,한양자동차정비(주),20041215.0,NaN,경기90너3093,KMFXKS7BP2U560254,N,엔진개조,NaN
...,...,...,...,...,...,...,...,...,...,...,...
810772,복합소형,N,20200205,(주)인철스카이정비,20200205.0,NaN,73루1066,KNHMB76136S060237,NaN,1종,NaN
810773,복합소형,N,20200219,주식회사 현대자동차블루핸즈서인천서비스,20200219.0,NaN,01구6813,KMHWP81HP4U600383,NaN,1종,NaN
810774,복합소형,N,20200206,(주)호혜자동차,20200206.0,NaN,52구6335,KMHSH81WP7U170166,NaN,1종,NaN
810775,복합소형,N,20200205,(주)인철스카이정비,20200205.0,NaN,02모2923,KMHSD81VP4U844689,NaN,1종,NaN
810776,복합소형,N,20200205,(주)인철스카이정비,20200205.0,NaN,28주7293,KNAJC52437A713806,NaN,1종,NaN

In [15]:
df1['구조변경일자'].dtype

dtype('int64')

In [16]:
df1['TDMS부착여부'].isnull().sum()

605826

In [17]:
df1['탈거승인일'].isnull().sum()

810599

In [18]:
df1['탈거승인일'].notnull().sum()

178

In [19]:
df1['저감장치반납여부'].value_counts()

N    324898
Y      1132
Name: 저감장치반납여부, dtype: int64

In [20]:
df1['삼원촉매장치반납여부'].value_counts()

N    13694
Name: 삼원촉매장치반납여부, dtype: int64

In [21]:
df1['저감장치구분'].value_counts()

1종        294602
엔진개조      198590
2종        156370
3종        148308
엔진교체        8528
1종+SCR      2304
삼원촉매        2075
Name: 저감장치구분, dtype: int64

## 전처리

In [22]:
df1.shape

(810777, 11)

In [23]:
len(df1['차대번호'].unique())

809255

In [24]:
df1.shape[0] - len(df1['차대번호'].unique())

1522

In [25]:
df1.duplicated(subset=['차대번호'], keep=False)

0         False
1         False
2         False
3         False
4         False
          ...
810772    False
810773    False
810774    False
810775    False
810776    False
Length: 810777, dtype: bool

In [26]:
dupl01 = df1.copy()

In [27]:
dupl01['dupl'] = dupl01.duplicated(subset=['차대번호'], keep=False).to_list()
dupl01.head()

,저감장치종류,TDMS부착여부,구조변경일자,부착업체명,부착일자,탈거승인일,차량번호,차대번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부,dupl
0,NaN,NaN,20041213,주식회사한창일급자동차정비,20041213.0,NaN,경기81라6983,410031134778,N,엔진개조,NaN,False
1,NaN,NaN,20041214,대한통운(주)서울지점,20041214.0,NaN,서울83고6732,KN3HDP3362K807243,N,엔진개조,NaN,False
2,NaN,NaN,20041215,대광자동차공업사,20041215.0,NaN,인천83가2144,KMCGB17FPVC120970,N,엔진개조,NaN,False
3,NaN,NaN,20041215,대한통운(주)서울지점,20041215.0,NaN,서울82도3500,KMFXKD7BP2U583397,N,엔진개조,NaN,False
4,NaN,NaN,20041215,한양자동차정비(주),20041215.0,NaN,경기90너3093,KMFXKS7BP2U560254,N,엔진개조,NaN,False

In [28]:
dupl02 = dupl01[dupl01['dupl'] == True].reset_index(drop=True)
dupl02.head()

,저감장치종류,TDMS부착여부,구조변경일자,부착업체명,부착일자,탈거승인일,차량번호,차대번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부,dupl
0,DOC,NaN,20041228,NaN,20041228.0,NaN,경기92거4014,KMFXKD7BPYU362126,N,3종,NaN,True
1,DOC,NaN,20041010,NaN,20041010.0,NaN,경기72너3256,KN2DNM931YK025998,N,3종,NaN,True
2,DOC,NaN,20071214,용도자동차공업,20070303.0,NaN,인천80라7856,KMFXKS7BPXU254255,N,3종,NaN,True
3,DOC,NaN,20051128,(주)고양현대자동차공업,20051128.0,NaN,경기87다2649,KNCSD0622XS450830,N,3종,NaN,True
4,DOC,NaN,20051213,덕계공업사(검사소),20051213.0,NaN,경기84가8699,KNCSD0322VS326775,N,3종,NaN,True

In [29]:
dupl02.sort_values(['차대번호', '구조변경일자', '부착일자', '저감장치구분', '저감장치반납여부', '삼원촉매장치반납여부', '탈거승인일', 'TDMS부착여부'], 
      ascending=[True,        False,          False,     False,          False,              False,                  False,        False  ]).head(50)

,저감장치종류,TDMS부착여부,구조변경일자,부착업체명,부착일자,탈거승인일,차량번호,차대번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부,dupl
1798,DOC,NaN,20061102,삼성자동차공업(주)(대전),20061102.0,NaN,대전70나4688,0,NaN,3종,NaN,True
1801,DOC,NaN,20061102,삼성자동차공업(주)(대전),20061102.0,NaN,대전70가7228,0,NaN,3종,NaN,True
1800,DOC,NaN,20061030,삼성자동차공업(주)(대전),20061030.0,NaN,대전70가8242,0,NaN,3종,NaN,True
1799,DOC,NaN,20061027,삼성자동차공업(주)(대전),20061027.0,NaN,대전70라4728,0,NaN,3종,NaN,True
1263,자연대형,NaN,20070523,㈜창신종합중기정비,20070523.0,NaN,대구82아2027,410034331682,N,1종,NaN,True
1631,자연대형,NaN,20070523,㈜창신종합중기정비,20070523.0,NaN,대구82아2027,410034331682,NaN,1종,NaN,True
505,자연대형,NaN,20061019,신동성자동차공업사,20061019.0,NaN,서울81로1412,440034310393,N,1종,NaN,True
1485,자연중형,NaN,20051124,NaN,20051124.0,NaN,서울81로1412,440034310393,Y,1종,NaN,True
506,자연대형,NaN,20061013,신동성자동차공업사,20061013.0,NaN,서울81로1410,440034310394,N,1종,NaN,True
1482,자연중형,NaN,20051123,NaN,20051123.0,NaN,서울81로1410,440034310394,Y,1종,NaN,True
374,자연대형,NaN,20061020,신동성자동차공업사,20061020.0,NaN,서울81로1411,440034310395,N,1종,NaN,True
1421,자연중형,NaN,20051123,NaN,20051123.0,NaN,서울81로1411,440034310395,Y,1종,NaN,True
2705,복합중형,NaN,20080813,우리오토라인,20080813.0,NaN,서울82더1686,440034310675,NaN,1종,NaN,True
92,자연중형,NaN,20051223,명성자동차,20051223.0,NaN,서울82더1686,440034310675,N,1종,NaN,True
457,복합중형,NaN,20061016,수원자동차1급공업사,20061016.0,NaN,경기91가9160,440134311136,N,1종,NaN,True
1379,자연중형,NaN,20060104,NaN,20060104.0,NaN,경기91가9160,440134311136,Y,1종,NaN,True
456,복합중형,NaN,20061017,수원자동차1급공업사,20061017.0,NaN,경기91가9480,440234311876,N,1종,NaN,True
1514,자연중형,NaN,20060111,NaN,20060111.0,NaN,경기91가9480,440234311876,Y,1종,NaN,True
515,복합중형,NaN,20061017,(주)남양공업사,20061017.0,NaN,서울80무1271,440234312230,N,1종,NaN,True
1525,자연중형,NaN,20051124,NaN,20051124.0,NaN,서울80무1271,440234312230,Y,1종,NaN,True
458,복합중형,NaN,20061017,수원자동차1급공업사,20061017.0,NaN,경기91가9694,440234312476,N,1종,NaN,True
1524,자연중형,NaN,20060112,NaN,20060112.0,NaN,경기91가9694,440234312476,Y,1종,NaN,True
3009,복합중형,N,20171212,(주)하나자동차공업사,20171212.0,NaN,인천15라6934,DCP-55Z-0031,NaN,1종,N,True
2965,복합중형,N,20160225,태원자동차중기공업사,20160225.0,NaN,인천15라6934,DCP-55Z-0031,NaN,1종,N,True
1319,자연대형,NaN,20070831,(주)중산자동차정비검사소,20070831.0,NaN,76로5471,KL2UL61FDXP001119,N,1종,NaN,True
1371,자연대형,NaN,20050720,NaN,20050720.0,NaN,76로5471,KL2UL61FDXP001119,Y,1종,NaN,True
1309,자연대형,NaN,20070831,(주)중산자동차정비검사소,20070831.0,NaN,76로5456,KL2UL61FDXP001120,N,1종,NaN,True
1510,자연대형,NaN,20050718,NaN,20050718.0,NaN,76로5456,KL2UL61FDXP001120,Y,1종,NaN,True
1313,자연대형,NaN,20070831,(주)중산자동차정비검사소,20070831.0,NaN,76로5488,KL2UL61FDXP001121,N,1종,NaN,True
1436,자연대형,NaN,20050718,NaN,20050718.0,NaN,76로5488,KL2UL61FDXP001121,Y,1종,NaN,True
1317,자연대형,NaN,20070831,(주)중산자동차정비검사소,20070831.0,NaN,76로5462,KL2UL61FDXP001122,N,1종,NaN,True
1397,자연대형,NaN,20050720,NaN,20050720.0,NaN,76로5462,KL2UL61FDXP001122,Y,1종,NaN,True
2988,복합대형,N,20171018,(주)사능자동차공업사,20171018.0,NaN,서울06자6072,KL3K4DVA14K001426,NaN,1종,N,True
2985,복합대형,N,20170627,(주)사능자동차공업사,20170627.0,NaN,서울06자6072,KL3K4DVA14K001426,NaN,1종,N,True
2903,자연대형,NaN,20061221,혜민자동차공업,20061221.0,NaN,경기89아3939,KL3K9AEA13K003911,NaN,1종,NaN,True
2088,자연대형,NaN,20061221,(주)혜민종합정비,20061218.0,NaN,부산92아2112,KL3K9AEA13K003911,NaN,1종,NaN,True
3020,자연대형+SCR,N,20190517,(주)하나자동차공업사,20190517.0,NaN,서울87아1827,KL3K9CWF17K000047,NaN,1종+SCR,NaN,True
3019,자연대형+SCR,N,20190426,(주)하나자동차공업사,20190426.0,20190426.0,서울87아1827,KL3K9CWF17K000047,NaN,1종+SCR,NaN,True
2981,복합대형,N,20170905,(주)하나자동차공업사,20170905.0,NaN,서울88아1632,KL3P9CNF24K004232,NaN,1종,NaN,True
2992,복합대형,N,20160623,성원자동차공업사,20160623.0,NaN,서울88아1632,KL3P9CNF24K004232,NaN,1종,NaN,True
2968,복합대형,N,20170228,북항자동차정비검사소,20170228.0,NaN,인천86자9202,KL3P9CVF12K000476,NaN,1종,NaN,True
1214,자연대형,NaN,20070503,삼흥모터스㈜,20070503.0,NaN,인천86자9202,KL3P9CVF12K000476,N,1종,NaN,True
2348,자연대형,NaN,20101019,(주)현대중앙카독크,20101019.0,NaN,경기95자8868,KL3WE60C1YK000256,NaN,1종,NaN,True
1849,복합대형,NaN,20100315,(주)우리에프앤티,20100315.0,NaN,경기95자8868,KL3WE60C1YK000256,NaN,1종,NaN,True
1353,자연대형,NaN,20071011,수원자동차검사정비㈜,20071011.0,NaN,서울88아6732,KL3XD70C1TK000474,N,1종,NaN,True
1434,자연대형,NaN,20051206,NaN,20051206.0,NaN,서울88아6732,KL3XD70C1TK000474,Y,1종,NaN,True
1562,복합중형,NaN,20081128,성신자동차,20081128.0,NaN,경기90거5591,KMCGC17EPXC103628,NaN,1종,NaN,True
1535,NaN,NaN,20080728,예원에스피,20080728.0,NaN,경기90거5591,KMCGC17EPXC103628,NaN,2종,NaN,True
1561,복합중형,NaN,20080425,경기자동차공업사,20080425.0,NaN,90무4190,KMCGC17FPSC100262,NaN,1종,NaN,True
1261,pDPF,NaN,20070126,경기자동차공업사,20070126.0,NaN,90무4190,KMCGC17FPSC100262,N,2종,NaN,True

### [출력] 차대번호 중복 샘플

In [30]:
dupl02.sort_values(['차대번호', '구조변경일자', '부착일자', '저감장치구분', '저감장치반납여부', '삼원촉매장치반납여부', '탈거승인일', 'TDMS부착여부'], 
      ascending=[True,        False,          False,     False,          False,              False,                  False,        False  ]).to_excel('analysis2/[BD3][저감장치부착이력]차대번호_중복_샘플.xlsx', index=False)

### 차대번호 중복 처리
- 구조변경일자 최신
- 부착일자 최신
- 나머지 컬럼 notnull 값 우선

In [31]:
df1.sort_values(['차대번호', '구조변경일자', '부착일자', '저감장치구분', '저감장치반납여부', '삼원촉매장치반납여부', '탈거승인일', 'TDMS부착여부'], 
      ascending=[True,        False,          False,     False,          False,              False,                  False,        False  ]).head(20)

,저감장치종류,TDMS부착여부,구조변경일자,부착업체명,부착일자,탈거승인일,차량번호,차대번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부
757567,소형,N,20191031,명성지게차센터,20191031.0,NaN,서울04가4116,*5ZK00529*,NaN,엔진교체,N
431711,DOC,NaN,20061102,삼성자동차공업(주)(대전),20061102.0,NaN,대전70나4688,0,NaN,3종,NaN
431715,DOC,NaN,20061102,삼성자동차공업(주)(대전),20061102.0,NaN,대전70가7228,0,NaN,3종,NaN
431714,DOC,NaN,20061030,삼성자동차공업(주)(대전),20061030.0,NaN,대전70가8242,0,NaN,3종,NaN
431713,DOC,NaN,20061027,삼성자동차공업(주)(대전),20061027.0,NaN,대전70라4728,0,NaN,3종,NaN
705496,복합대형,N,20180309,(주)사능자동차공업사,20180309.0,NaN,경기14도6384,000039,NaN,1종,N
705213,복합대형,N,20180219,(주)사능자동차공업사,20180219.0,NaN,서울14가8096,000128,NaN,1종,N
684932,복합대형,N,20170626,㈜사능자동차공업사,20170626.0,NaN,서울06타5735,000223,NaN,1종,N
677751,중형,N,20160630,두산지게차A/S,20160630.0,NaN,경기04타2768,00036,NaN,엔진교체,N
687653,복합대형,N,20170926,(주)사능자동차공업사,20170926.0,NaN,서울14다6143,000380,NaN,1종,N
697168,복합대형,N,20180409,(주)사능자동차공업사,20180409.0,NaN,서울06차8039,000391,NaN,1종,N
732325,복합대형,N,20190416,(주)서천제일자동차공업사,20190416.0,NaN,경기14노6134,000393,NaN,1종,N
698013,복합대형,N,20171117,(주)사능자동차공업사,20171117.0,NaN,서울14나8898,000527,NaN,1종,N
706324,복합대형,N,20171226,(유)제일자동차공업사,20171226.0,NaN,전북14바7352,000603,NaN,1종,N
733038,복합대형,N,20190315,(주)케이디플러스(남양주),20190315.0,NaN,경기14도8816,000667,NaN,1종,N
714273,복합대형,N,20180824,현대종합정비-백석동(인천),20180824.0,NaN,인천14마7691,000869,NaN,1종,N
701718,복합대형,N,20180615,㈜사능자동차공업사,20180615.0,NaN,경기14도7292,000870,NaN,1종,N
704822,복합대형,N,20180314,(주)인철스카이정비,20180314.0,NaN,경기14다7184,001115,NaN,1종,N
687630,복합대형,N,20170915,㈜하나자동차공업사,20170915.0,NaN,서울06파7710,001207,NaN,1종,N
697680,복합대형,N,20180308,(주)주왕(수원),20180308.0,NaN,서울06아7844,001334,NaN,1종,N

In [32]:
df2 = df1.sort_values(['차대번호', '구조변경일자', '부착일자', '저감장치구분', '저감장치반납여부', '삼원촉매장치반납여부', '탈거승인일', 'TDMS부착여부'], 
      ascending=[True,        False,          False,     False,          False,              False,                  False,        False  ]).reset_index(drop=True).drop_duplicates(subset='차대번호').reset_index(drop=True)
df2.head()

,저감장치종류,TDMS부착여부,구조변경일자,부착업체명,부착일자,탈거승인일,차량번호,차대번호,저감장치반납여부,저감장치구분,삼원촉매장치반납여부
0,소형,N,20191031,명성지게차센터,20191031.0,NaN,서울04가4116,*5ZK00529*,NaN,엔진교체,N
1,DOC,NaN,20061102,삼성자동차공업(주)(대전),20061102.0,NaN,대전70나4688,0,NaN,3종,NaN
2,복합대형,N,20180309,(주)사능자동차공업사,20180309.0,NaN,경기14도6384,000039,NaN,1종,N
3,복합대형,N,20180219,(주)사능자동차공업사,20180219.0,NaN,서울14가8096,000128,NaN,1종,N
4,복합대형,N,20170626,㈜사능자동차공업사,20170626.0,NaN,서울06타5735,000223,NaN,1종,N

In [33]:
df1.shape, df2.shape

((810777, 11), (809255, 11))

In [34]:
len(df2['차대번호'].unique())

809255

#### [출력] 차대번호 중복 처리

In [35]:
# about 4s
df2.to_csv(os.path.join(ods_fold, '[ODS]저감장치부착이력(중복차대제거)(한글컬럼)(2022.12.29).csv'), index=False, encoding='cp949')

## 결측치 통계

In [36]:
g = df1.isnull().sum().reset_index()
g.columns = ['한글컬럼', '결측치']
g

          한글컬럼     결측치
0       저감장치종류  223879
1     TDMS부착여부  605826
2       구조변경일자       0
3        부착업체명    9145
4         부착일자       2
5        탈거승인일  810599
6         차량번호       0
7         차대번호       0
8     저감장치반납여부  484747
9       저감장치구분       0
10  삼원촉매장치반납여부  797083

In [37]:
col_dict1 = {a:b for b, a in zip(ex['컬럼'].to_list(), ex['내용'].to_list())}
col_dict1

{'저감장치종류': 'EMI_RED_TYPE2',
 'PM최종저감효율': 'PM_EFF_VAL',
 'TDMS부착여부': 'TDMS_YN',
 '구조변경일자': 'CONF_CHG_DATE',
 '부착업체명': 'ATT_ORG_NM',
 '부착일자': 'ATT_DATE',
 '탈거승인일': 'T_CHK_DATE',
 '차량번호': 'CAR_REG_NO',
 '차대번호': 'CAR_SER_NO',
 '주행거리': 'CAR_MILE',
 '저감장치반납여부': 'EMI_RED_REMOVE_YN',
 '저감장치구분': 'EMI_RED_TYPE1',
 '저감등록번호': 'ERP_REG_NO',
 '재장착확인일자': 'RETURN_CHK_DATE',
 '장치일련번호': 'EQUIP_SER_NO',
 '삼원촉매장치반납여부': 'THREE_WAY_CATALYST_RETURN_YN',
 '미정': 'CAR_PASSENGER'}

In [38]:
g['컬럼'] = [col_dict1[x] for x in g['한글컬럼']]
g = g[['컬럼', '한글컬럼', '결측치']]
g

                              컬럼        한글컬럼     결측치
0                  EMI_RED_TYPE2      저감장치종류  223879
1                        TDMS_YN    TDMS부착여부  605826
2                  CONF_CHG_DATE      구조변경일자       0
3                     ATT_ORG_NM       부착업체명    9145
4                       ATT_DATE        부착일자       2
5                     T_CHK_DATE       탈거승인일  810599
6                     CAR_REG_NO        차량번호       0
7                     CAR_SER_NO        차대번호       0
8              EMI_RED_REMOVE_YN    저감장치반납여부  484747
9                  EMI_RED_TYPE1      저감장치구분       0
10  THREE_WAY_CATALYST_RETURN_YN  삼원촉매장치반납여부  797083

### [출력]

In [39]:
g.to_excel('analysis2/[BD3][통계]저감장치부착이력_결측치.xlsx', index=False)

In [40]:
df1.to_csv(os.path.join(ods_fold, '[ODS]저감장치부착이력(한글컬럼)(2022.12.29).csv'), index=False)

# 코드 마지막