# Library

In [1]:
# import modin.pandas as pd # 경로가 길어지거나 못 읽는 듯
import pandas as pd
import numpy as np
import os

# [ODS]자동차 등록정보(CEG_CAR_MIG)

## columns

In [2]:
file_name = 'CEG_CAR_MIG'
col_exc = pd.read_excel(f'analysis/ODSvsSTD/[정제]{file_name}.xlsx', sheet_name='ODS_col')

In [3]:
col_exc

                   컬럼             내용
0             UPDT_DT          수정 일시
1             OWNR_SE         소유자 구분
2               VHRNO         차량등록번호
3        BSPL_LEDO_CD     본거지 법정동 코드
4             CRTN_DT          생성 일시
5               PURPS             용도
6   EMIS_INSP_EFCT_DE     배출가스검사유효일자
7         EMIS_CRTCNO      배출가스 인증번호
8          NOW_MBERNO        현재 회원번호
9             ACQS_DE          취득 일자
10           ACQS_AMT          취득 금액
11         FST_MBERNO        최초 회원번호
12         FST_REG_DE       최초 등록 일자
13              VHCTY             차종
14     VHRNO_NUM_INFO   차량등록번호 숫자 정보
15              VHMNO         차량관리번호
16      VHCL_MNFCT_DE       차량 제작 일자
17        VHCL_YRIDNW          차량 연식
18       VHCL_ERSR_YN       차량 말소 YN
19                VIN           차대번호
20            SRCMNNO         제원관리번호
21           EMIS_GRD        배출가스 등급
22            LEM_KND       저공해조치 종류
23      LEM_STRCHG_YN  저공해조치 구조변경 YN
24             LEM_YN  저공해조치 YN(미사용)
25        NOW_OWNR_NM             미정
26          BSPL_ADRS             미정
27          OWNR_ADRS             미정
28           BSPL_ZIP             미정
29        FST_OWNR_NM             미정
30                RMK             미정
31            USER_ID             미정

In [4]:
col_dict = {}
for a, b in zip(col_exc['컬럼'].to_list(), col_exc['내용'].to_list()):
    col_dict[a] = b
col_dict

{'UPDT_DT': '수정 일시',
 'OWNR_SE': '소유자 구분',
 'VHRNO': '차량등록번호',
 'BSPL_LEDO_CD': '본거지 법정동 코드',
 'CRTN_DT': '생성 일시',
 'PURPS': '용도',
 'EMIS_INSP_EFCT_DE': '배출가스검사유효일자',
 'EMIS_CRTCNO': '배출가스 인증번호',
 'NOW_MBERNO': '현재 회원번호',
 'ACQS_DE': '취득 일자',
 'ACQS_AMT': '취득 금액',
 'FST_MBERNO': '최초 회원번호',
 'FST_REG_DE': '최초 등록 일자',
 'VHCTY': '차종',
 'VHRNO_NUM_INFO': '차량등록번호 숫자 정보',
 'VHMNO': '차량관리번호',
 'VHCL_MNFCT_DE': '차량 제작 일자',
 'VHCL_YRIDNW': '차량 연식',
 'VHCL_ERSR_YN': '차량 말소 YN',
 'VIN': '차대번호',
 'SRCMNNO': '제원관리번호',
 'EMIS_GRD': '배출가스 등급',
 'LEM_KND': '저공해조치 종류',
 'LEM_STRCHG_YN': '저공해조치 구조변경 YN',
 'LEM_YN': '저공해조치 YN(미사용)',
 'NOW_OWNR_NM': '미정',
 'BSPL_ADRS': '미정',
 'OWNR_ADRS': '미정',
 'BSPL_ZIP': '미정',
 'FST_OWNR_NM': '미정',
 'RMK': '미정',
 'USER_ID': '미정'}

## [로드]

In [5]:
ods_fold = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\ODS'
ods_path = os.path.join(ods_fold, f'ODS_{file_name}.csv')

In [6]:
# pandas : about 5-6m
# modin : error 파일 경로 긴 문제?
df = pd.read_csv(ods_path, low_memory=False, index_col=0)

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29534047 entries, 0 to 29534046
Data columns (total 32 columns):
 #   Column             Dtype
---  ------             -----
 0   VHMNO              object
 1   VHRNO              object
 2   BSPL_LEDO_CD       int64
 3   OWNR_SE            object
 4   VHCTY              object
 5   PURPS              object
 6   NOW_OWNR_NM        object
 7   NOW_MBERNO         object
 8   BSPL_ADRS          object
 9   OWNR_ADRS          object
 10  VIN                object
 11  FST_REG_DE         int64
 12  VHCL_YRIDNW        int64
 13  VHCL_MNFCT_DE      object
 14  EMIS_INSP_EFCT_DE  float64
 15  SRCMNNO            object
 16  EMIS_CRTCNO        object
 17  EMIS_GRD           object
 18  LEM_YN             object
 19  LEM_KND            float64
 20  LEM_STRCHG_YN      object
 21  BSPL_ZIP           float64
 22  VHRNO_NUM_INFO     int64
 23  VHCL_ERSR_YN       object
 24  FST_OWNR_NM        object
 25  FST_MBERNO         object
 26  ACQS_DE            object
 27  ACQS_AMT           float64
 28  RMK                object
 29  CRTN_DT            object
 30  UPDT_DT            object
 31  USER_ID            object
dtypes: float64(4), int64(4), object(24)
memory usage: 7.3+ GB

In [8]:
df.head()

,VHMNO,VHRNO,BSPL_LEDO_CD,OWNR_SE,VHCTY,PURPS,NOW_OWNR_NM,NOW_MBERNO,BSPL_ADRS,OWNR_ADRS,...,VHRNO_NUM_INFO,VHCL_ERSR_YN,FST_OWNR_NM,FST_MBERNO,ACQS_DE,ACQS_AMT,RMK,CRTN_DT,UPDT_DT,USER_ID
0,10762211742-01,서울1나4019,1165010700,O,P,P,3C89752E624558D6234883FF31231256,FFFB77E175610478415F654BFE77B2E7,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,...,14019,N,3C89752E624558D6234883FF31231256,7C71D518B5666D98E792700DA807B211,NaN,0.0,NaN,19/06/22,NaN,SYSTEM
1,KG68T122688*-01,대구1다1476,2711010500,O,P,P,A716E948EFD514847BD5C77D9B054F8A,NaN,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,...,11476,N,A716E948EFD514847BD5C77D9B054F8A,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
2,10762211783-01,인천1마8052,2820010300,O,P,P,0F243BB4751963E628E19A5BCD6CFFCB,NaN,6A0C78943819F407C87E00116981877E301F7677D1A003...,6A0C78943819F407C87E00116981877E301F7677D1A003...,...,18052,N,FAABC328957C8639B00F98FDA7073664,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
3,PN71C018511000000-01,87로9835,4213011200,R,T,P,73CFB46180AD3302B1A9F45E550EF6E5,DBFCB87570199614FFBB9FA11DCD4675,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,...,879835,N,0C20DFD151DBF872DF3867ABE606A587,CCF2FFB275E6DC4551E1E717CEC86A32,20160222,100000.0,NaN,19/06/22,NaN,SYSTEM
4,KMHLA11FPGU060639-01,경남1러3590,4812110500,R,P,P,0132B746078DFA5BA833D6906AD06A13,6194C458F73E4656322A364FEA4E9441,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,...,13590,N,D5845F55A1C2E8D7B93CC9E6A38B3319,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM

In [9]:
col = [col_dict[x] for x in df.columns]
col

['차량관리번호',
 '차량등록번호',
 '본거지 법정동 코드',
 '소유자 구분',
 '차종',
 '용도',
 '미정',
 '현재 회원번호',
 '미정',
 '미정',
 '차대번호',
 '최초 등록 일자',
 '차량 연식',
 '차량 제작 일자',
 '배출가스검사유효일자',
 '제원관리번호',
 '배출가스 인증번호',
 '배출가스 등급',
 '저공해조치 YN(미사용)',
 '저공해조치 종류',
 '저공해조치 구조변경 YN',
 '미정',
 '차량등록번호 숫자 정보',
 '차량 말소 YN',
 '미정',
 '최초 회원번호',
 '취득 일자',
 '취득 금액',
 '미정',
 '생성 일시',
 '수정 일시',
 '미정']

In [10]:
df.columns = col
df.head()

,차량관리번호,차량등록번호,본거지 법정동 코드,소유자 구분,차종,용도,미정,현재 회원번호,미정,미정,...,차량등록번호 숫자 정보,차량 말소 YN,미정,최초 회원번호,취득 일자,취득 금액,미정,생성 일시,수정 일시,미정
0,10762211742-01,서울1나4019,1165010700,O,P,P,3C89752E624558D6234883FF31231256,FFFB77E175610478415F654BFE77B2E7,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,...,14019,N,3C89752E624558D6234883FF31231256,7C71D518B5666D98E792700DA807B211,NaN,0.0,NaN,19/06/22,NaN,SYSTEM
1,KG68T122688*-01,대구1다1476,2711010500,O,P,P,A716E948EFD514847BD5C77D9B054F8A,NaN,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,...,11476,N,A716E948EFD514847BD5C77D9B054F8A,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
2,10762211783-01,인천1마8052,2820010300,O,P,P,0F243BB4751963E628E19A5BCD6CFFCB,NaN,6A0C78943819F407C87E00116981877E301F7677D1A003...,6A0C78943819F407C87E00116981877E301F7677D1A003...,...,18052,N,FAABC328957C8639B00F98FDA7073664,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
3,PN71C018511000000-01,87로9835,4213011200,R,T,P,73CFB46180AD3302B1A9F45E550EF6E5,DBFCB87570199614FFBB9FA11DCD4675,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,...,879835,N,0C20DFD151DBF872DF3867ABE606A587,CCF2FFB275E6DC4551E1E717CEC86A32,20160222,100000.0,NaN,19/06/22,NaN,SYSTEM
4,KMHLA11FPGU060639-01,경남1러3590,4812110500,R,P,P,0132B746078DFA5BA833D6906AD06A13,6194C458F73E4656322A364FEA4E9441,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,...,13590,N,D5845F55A1C2E8D7B93CC9E6A38B3319,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM

## 코드화 정보 해석

In [11]:
df['소유자 구분'].unique()

array(['O', 'R', 'B', 'L', 'F'], dtype=object)

In [12]:
# 소유자 구분
own_dict = {'B':'사업자', 'F':'외국인', 'L':'법인', 'O':'기타', 'R':'주민'}
df['소유자 구분'] = df['소유자 구분'].map(own_dict)
df.head()

,차량관리번호,차량등록번호,본거지 법정동 코드,소유자 구분,차종,용도,미정,현재 회원번호,미정,미정,...,차량등록번호 숫자 정보,차량 말소 YN,미정,최초 회원번호,취득 일자,취득 금액,미정,생성 일시,수정 일시,미정
0,10762211742-01,서울1나4019,1165010700,기타,P,P,3C89752E624558D6234883FF31231256,FFFB77E175610478415F654BFE77B2E7,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,...,14019,N,3C89752E624558D6234883FF31231256,7C71D518B5666D98E792700DA807B211,NaN,0.0,NaN,19/06/22,NaN,SYSTEM
1,KG68T122688*-01,대구1다1476,2711010500,기타,P,P,A716E948EFD514847BD5C77D9B054F8A,NaN,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,...,11476,N,A716E948EFD514847BD5C77D9B054F8A,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
2,10762211783-01,인천1마8052,2820010300,기타,P,P,0F243BB4751963E628E19A5BCD6CFFCB,NaN,6A0C78943819F407C87E00116981877E301F7677D1A003...,6A0C78943819F407C87E00116981877E301F7677D1A003...,...,18052,N,FAABC328957C8639B00F98FDA7073664,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
3,PN71C018511000000-01,87로9835,4213011200,주민,T,P,73CFB46180AD3302B1A9F45E550EF6E5,DBFCB87570199614FFBB9FA11DCD4675,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,...,879835,N,0C20DFD151DBF872DF3867ABE606A587,CCF2FFB275E6DC4551E1E717CEC86A32,20160222,100000.0,NaN,19/06/22,NaN,SYSTEM
4,KMHLA11FPGU060639-01,경남1러3590,4812110500,주민,P,P,0132B746078DFA5BA833D6906AD06A13,6194C458F73E4656322A364FEA4E9441,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,...,13590,N,D5845F55A1C2E8D7B93CC9E6A38B3319,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM

In [13]:
df['소유자 구분'].unique()

array(['기타', '주민', '사업자', '법인', '외국인'], dtype=object)

In [14]:
df['차종'].unique()

array(['P', 'T', 'V', 'S', nan], dtype=object)

In [15]:
# 차종
car_cate_dict = {'M':'이륜', 'P':'승용', 'S':'특수', 'T':'화물', 'V':'승합'}
df['차종'] = df['차종'].map(car_cate_dict)
df['차종'].unique()

array(['승용', '화물', '승합', '특수', nan], dtype=object)

In [16]:
df['용도'].unique()

array(['P', 'B', 'O'], dtype=object)

In [17]:
# 용도
use_dict = {'B':'영업용', 'O':'관용', 'P':'자가용', 'T':'개인택시'}
df['용도'] = df['용도'].map(use_dict)
df['용도'].unique()

array(['자가용', '영업용', '관용'], dtype=object)

In [18]:
df.head()

,차량관리번호,차량등록번호,본거지 법정동 코드,소유자 구분,차종,용도,미정,현재 회원번호,미정,미정,...,차량등록번호 숫자 정보,차량 말소 YN,미정,최초 회원번호,취득 일자,취득 금액,미정,생성 일시,수정 일시,미정
0,10762211742-01,서울1나4019,1165010700,기타,승용,자가용,3C89752E624558D6234883FF31231256,FFFB77E175610478415F654BFE77B2E7,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,94CF4601CD36E37259A508CDB9CF1BF2E583F1FA06E4C9...,...,14019,N,3C89752E624558D6234883FF31231256,7C71D518B5666D98E792700DA807B211,NaN,0.0,NaN,19/06/22,NaN,SYSTEM
1,KG68T122688*-01,대구1다1476,2711010500,기타,승용,자가용,A716E948EFD514847BD5C77D9B054F8A,NaN,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,FB1685B2F216C8F517B246583C52ECA58997FF03014780...,...,11476,N,A716E948EFD514847BD5C77D9B054F8A,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
2,10762211783-01,인천1마8052,2820010300,기타,승용,자가용,0F243BB4751963E628E19A5BCD6CFFCB,NaN,6A0C78943819F407C87E00116981877E301F7677D1A003...,6A0C78943819F407C87E00116981877E301F7677D1A003...,...,18052,N,FAABC328957C8639B00F98FDA7073664,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM
3,PN71C018511000000-01,87로9835,4213011200,주민,화물,자가용,73CFB46180AD3302B1A9F45E550EF6E5,DBFCB87570199614FFBB9FA11DCD4675,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,26F22501FA02CE68011BC524C18450B9F42F7479B268F8...,...,879835,N,0C20DFD151DBF872DF3867ABE606A587,CCF2FFB275E6DC4551E1E717CEC86A32,20160222,100000.0,NaN,19/06/22,NaN,SYSTEM
4,KMHLA11FPGU060639-01,경남1러3590,4812110500,주민,승용,자가용,0132B746078DFA5BA833D6906AD06A13,6194C458F73E4656322A364FEA4E9441,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,D6E42385110B0C268E42FCB99F442B91B9FB08B6708219...,...,13590,N,D5845F55A1C2E8D7B93CC9E6A38B3319,NaN,NaN,NaN,NaN,19/06/22,NaN,SYSTEM

## [출력] [ODS]자동차_등록정보(CEG_CAR_MIG)

In [19]:
# about 4m
df.to_csv(os.path.join(ods_fold, '[ODS]자동차_등록정보(한글컬럼)(2022-12-29).csv'), index=False)

In [20]:
df['배출가스 등급'].unique()

array(['5', 'X', 'T5', '4', '3', 'T4', 'T3', '2', '1', 'T2', nan],
      dtype=object)

In [21]:
df['배출가스 등급'].isnull().sum()

32

In [22]:
df['배출가스 등급'].value_counts()

2     11803371
3      9890563
1      2870152
5      2378599
4      1898773
X       305339
T2      250282
T3      136844
T5          49
T4          43
Name: 배출가스 등급, dtype: int64

## [출력] [ODS][1등급]자동차_등록정보(CEG_CAR_MIG)

In [23]:
g1 = df[(df['배출가스 등급'] == '1')]
g1.shape

(2870152, 32)

In [24]:
# about 1m
g1.to_csv(os.path.join(ods_fold, '[ODS][G1]자동차_등록정보(한글컬럼)(2022-12-29).csv'), index=False, encoding='cp949')

## [출력] [ODS][2등급]자동차_등록정보(CEG_CAR_MIG)

In [25]:
g2 = df[(df['배출가스 등급'] == '2') | (df['배출가스 등급'] == 'T2')]
g2.shape

(12053653, 32)

In [26]:
# about 5m
g2.to_csv(os.path.join(ods_fold, '[ODS][G2]자동차_등록정보(한글컬럼)(2022-12-29).csv'), index=False, encoding='cp949')

## [출력] [ODS][3등급]자동차_등록정보(CEG_CAR_MIG)

In [27]:
g3 = df[(df['배출가스 등급'] == '3') | (df['배출가스 등급'] == 'T3')]
g3.shape

(10027407, 32)

In [28]:
# about 4m
g3.to_csv(os.path.join(ods_fold, '[ODS][G3]자동차_등록정보(한글컬럼)(2022-12-29).csv'), index=False, encoding='cp949')

## [출력] [ODS][4등급]자동차_등록정보(CEG_CAR_MIG)

In [29]:
g4 = df[(df['배출가스 등급'] == '4') | (df['배출가스 등급'] == 'T4')]
g4.shape

(1898816, 32)

In [30]:
# about 50s
g4.to_csv(os.path.join(ods_fold, '[ODS][G4]자동차_등록정보(한글컬럼)(2022-12-29).csv'), index=False, encoding='cp949')

## [출력] [ODS][5등급]자동차_등록정보(CEG_CAR_MIG)

In [31]:
g5 = df[(df['배출가스 등급'] == '5') | (df['배출가스 등급'] == 'T5')]
g5.shape

(2378648, 32)

In [32]:
# about 1m
g5.to_csv(os.path.join(ods_fold, '[ODS][G5]자동차_등록정보(한글컬럼)(2022-12-29).csv'), index=False, encoding='cp949')

## 말소 차량 제거

In [33]:
g1_n = g1[g1['차량 말소 YN'] == 'N'].reset_index(drop=True)
g1_n.shape

(2771395, 32)

In [34]:
g2_n = g2[g2['차량 말소 YN'] == 'N'].reset_index(drop=True)
g2_n.shape

(11207727, 32)

In [35]:
g3_n = g3[g3['차량 말소 YN'] == 'N'].reset_index(drop=True)
g3_n.shape

(8759431, 32)

In [36]:
g4_n = g4[g4['차량 말소 YN'] == 'N'].reset_index(drop=True)
g4_n.shape

(1511251, 32)

In [37]:
g5_n = g5[g5['차량 말소 YN'] == 'N'].reset_index(drop=True)
g5_n.shape

(1154762, 32)

### [출력] [ODS][1등급]등록정보(말소적용)

In [38]:
# about 1m
g1_n.to_csv('data/[ODS][G1]자동차_등록정보(말소적용)(한글컬럼)(2022-12-29).csv', index=False, encoding='cp949')

### [출력] [ODS][2등급]등록정보(말소적용)

In [39]:
# about 5m
g2_n.to_csv('data/[ODS][G2]자동차_등록정보(말소적용)(한글컬럼)(2022-12-29).csv', index=False, encoding='cp949')

### [출력] [ODS][3등급]등록정보(말소적용)

In [40]:
# about 
g3_n.to_csv('data/[ODS][G3]자동차_등록정보(말소적용)(한글컬럼)(2022-12-29).csv', index=False, encoding='cp949')

### [출력] [ODS][4등급]등록정보(말소적용)

In [41]:
# about 40s
g4_n.to_csv('data/[ODS][필수][G4]자동차_등록정보(말소적용)(한글컬럼)(2022-12-29).csv', index=False, encoding='cp949')

### [출력] [ODS][5등급]등록정보(말소적용)

In [42]:
# about 30s
g5_n.to_csv('data/[ODS][필수][G5]자동차_등록정보(말소적용)(한글컬럼)(2022-12-29).csv', index=False, encoding='cp949')

# [STD]자동차 등록정보(CEG_CAR_MIG)

## columns

In [22]:
file_name = 'CEG_CAR_MIG'
col_exc = pd.read_excel(f'analysis/ODSvsSTD/[정제]{file_name}.xlsx', sheet_name='STD_col')

In [23]:
col_exc

                     컬럼           내용
0              MDFCN_DT         수정일시
1       VHCL_OWNR_CL_CD    차량소유자분류코드
2                 VHRNO      자동차등록번호
3          BSPL_STDG_CD     본거지법정동코드
4           VHCL_REG_DT       차량등록일시
5             PURPS_CD2        용도코드2
6   EXTGAS_INSP_VLD_YMD   배출가스검사유효일자
7     EXHST_GAS_CERT_NO     배출가스인증번호
8            NOW_MBR_NO       현재회원번호
9              ACQS_YMD         취득일자
10             ACQS_AMT         취득금액
11          FRST_MBR_NO       최초회원번호
12         FRST_REG_YMD       최초등록일자
13             VHCTY_CD         차종코드
14      VHRNO_FGRE_INFO  자동차등록번호숫자정보
15          VHCL_MNG_NO       차량관리번호
16       VHCL_FBCTN_YMD       차량제작일자
17               YRIDNW           연식
18         VHCL_ERSR_YN       차량말소여부
19                  VIN         차대번호
20          MANP_MNG_NO       제원관리번호
21     EXHST_GAS_GRD_CD       배출가스등급
22           LEM_KND_CD    저공해조치종류코드
23         STRCT_CHG_YN       구조변경여부
24               LEM_YN      저공해조치여부

## [로드]

In [26]:
std_fold = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\STD'
std_path = os.path.join(std_fold, f'STD_{file_name}.csv')

In [29]:
# about 5m
df = pd.read_csv(std_path, low_memory=False, index_col=0)

In [30]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 29415224 entries, 0 to 29415223
Data columns (total 25 columns):
 #   Column               Dtype
---  ------               -----
 0   ACQS_AMT             float64
 1   ACQS_YMD             object
 2   BSPL_STDG_CD         int64
 3   VHCL_REG_DT          object
 4   EXHST_GAS_CERT_NO    object
 5   EXHST_GAS_GRD_CD     object
 6   EXTGAS_INSP_VLD_YMD  float64
 7   FRST_MBR_NO          object
 8   FRST_REG_YMD         int64
 9   LEM_KND_CD           object
 10  STRCT_CHG_YN         object
 11  LEM_YN               object
 12  NOW_MBR_NO           object
 13  VHCL_OWNR_CL_CD      object
 14  PURPS_CD2            object
 15  MANP_MNG_NO          object
 16  MDFCN_DT             object
 17  VHCL_ERSR_YN         object
 18  VHCL_FBCTN_YMD       object
 19  YRIDNW               int64
 20  VHCTY_CD             object
 21  VHCL_MNG_NO          object
 22  VHRNO_FGRE_INFO      int64
 23  VIN                  object
 24  VHRNO                object
dtypes: float64(2), int64(4), object(19)
memory usage: 5.7+ GB

In [31]:
df.head()

,ACQS_AMT,ACQS_YMD,BSPL_STDG_CD,VHCL_REG_DT,EXHST_GAS_CERT_NO,EXHST_GAS_GRD_CD,EXTGAS_INSP_VLD_YMD,FRST_MBR_NO,FRST_REG_YMD,LEM_KND_CD,...,MANP_MNG_NO,MDFCN_DT,VHCL_ERSR_YN,VHCL_FBCTN_YMD,YRIDNW,VHCTY_CD,VHCL_MNG_NO,VHRNO_FGRE_INFO,VIN,VHRNO
0,16021818.0,19991223.0,4143010700,19/06/22,WMY-HD-32,A0504,20200103.0,9C2FF7B407F565542EA253B130102D0B,20000104,NaN,...,10106100220001,20/01/31,Y,19991218.0,2000,A31P,KMHEN41BPYA238745-01,533594,KMHEN41BPYA238745,경기53다3594
1,2719000.0,20051202.0,3020011200,19/06/22,YMY-HD-32,A0503,20060129.0,A84539EBB3CB78D7532B50FEAEAB4238,20000104,NaN,...,10141200040000,21/11/06,N,19991223.0,2000,A31V,KMJMFH7NPYU011317-01,772064,KMJMFH7NPYU011317,경기77나2064
2,2075000.0,20050613.0,4182032521,19/06/22,SMY-KM-17,A0505,20060916.0,1ACE318DC0166546C627CBF3773DD873,20000104,NaN,...,10019100250002,21/07/04,N,19991224.0,2000,A31P,KNAJA5265YA807977-01,436396,KNAJA5265YA807977,43나6396
3,0.0,20090323.0,4372025031,19/06/22,NaN,A0503,20220809.0,0CD8307FC8B1A597990BF5D0B8F2CCC7,20000104,NaN,...,10126100050000,21/10/23,Y,19991201.0,2000,A31P,KMHGU41BPYU005951-01,13446,KMHGU41BPYU005951,01두3446
4,9892000.0,19991228.0,4145011800,19/06/22,NaN,A0503,20040103.0,C3E8C67B82BD2614F16B20EBF0746AFD,20000104,NaN,...,10077600240016,NaN,N,19991228.0,2000,A31P,KLAJA69VDYK459822-01,537611,KLAJA69VDYK459822,서울53고7611

In [32]:
df = df[col_exc['컬럼']]
df.head()

,MDFCN_DT,VHCL_OWNR_CL_CD,VHRNO,BSPL_STDG_CD,VHCL_REG_DT,PURPS_CD2,EXTGAS_INSP_VLD_YMD,EXHST_GAS_CERT_NO,NOW_MBR_NO,ACQS_YMD,...,VHCL_MNG_NO,VHCL_FBCTN_YMD,YRIDNW,VHCL_ERSR_YN,VIN,MANP_MNG_NO,EXHST_GAS_GRD_CD,LEM_KND_CD,STRCT_CHG_YN,LEM_YN
0,20/01/31,A27R,경기53다3594,4143010700,19/06/22,A08P,20200103.0,WMY-HD-32,9C2FF7B407F565542EA253B130102D0B,19991223.0,...,KMHEN41BPYA238745-01,19991218.0,2000,Y,KMHEN41BPYA238745,10106100220001,A0504,NaN,N,A14N
1,21/11/06,A27R,경기77나2064,3020011200,19/06/22,A08P,20060129.0,YMY-HD-32,369E7C1895771FEF7BDEC961CF397599,20051202.0,...,KMJMFH7NPYU011317-01,19991223.0,2000,N,KMJMFH7NPYU011317,10141200040000,A0503,NaN,N,A14N
2,21/07/04,A27R,43나6396,4182032521,19/06/22,A08P,20060916.0,SMY-KM-17,E342A76E825BF26541EFCA167A3B9F37,20050613.0,...,KNAJA5265YA807977-01,19991224.0,2000,N,KNAJA5265YA807977,10019100250002,A0505,NaN,N,A14N
3,21/10/23,A27R,01두3446,4372025031,19/06/22,A08P,20220809.0,NaN,B7041B69C9E43FEFB0520C6731CE164F,20090323.0,...,KMHGU41BPYU005951-01,19991201.0,2000,Y,KMHGU41BPYU005951,10126100050000,A0503,NaN,N,A14N
4,NaN,A27R,서울53고7611,4145011800,19/06/22,A08P,20040103.0,NaN,C3E8C67B82BD2614F16B20EBF0746AFD,19991228.0,...,KLAJA69VDYK459822-01,19991228.0,2000,N,KLAJA69VDYK459822,10077600240016,A0503,NaN,N,A14N

In [33]:
df.columns = col_exc['내용']
df.head()

내용,수정일시,차량소유자분류코드,자동차등록번호,본거지법정동코드,차량등록일시,용도코드2,배출가스검사유효일자,배출가스인증번호,현재회원번호,취득일자,...,차량관리번호,차량제작일자,연식,차량말소여부,차대번호,제원관리번호,배출가스등급,저공해조치종류코드,구조변경여부,저공해조치여부
0,20/01/31,A27R,경기53다3594,4143010700,19/06/22,A08P,20200103.0,WMY-HD-32,9C2FF7B407F565542EA253B130102D0B,19991223.0,...,KMHEN41BPYA238745-01,19991218.0,2000,Y,KMHEN41BPYA238745,10106100220001,A0504,NaN,N,A14N
1,21/11/06,A27R,경기77나2064,3020011200,19/06/22,A08P,20060129.0,YMY-HD-32,369E7C1895771FEF7BDEC961CF397599,20051202.0,...,KMJMFH7NPYU011317-01,19991223.0,2000,N,KMJMFH7NPYU011317,10141200040000,A0503,NaN,N,A14N
2,21/07/04,A27R,43나6396,4182032521,19/06/22,A08P,20060916.0,SMY-KM-17,E342A76E825BF26541EFCA167A3B9F37,20050613.0,...,KNAJA5265YA807977-01,19991224.0,2000,N,KNAJA5265YA807977,10019100250002,A0505,NaN,N,A14N
3,21/10/23,A27R,01두3446,4372025031,19/06/22,A08P,20220809.0,NaN,B7041B69C9E43FEFB0520C6731CE164F,20090323.0,...,KMHGU41BPYU005951-01,19991201.0,2000,Y,KMHGU41BPYU005951,10126100050000,A0503,NaN,N,A14N
4,NaN,A27R,서울53고7611,4145011800,19/06/22,A08P,20040103.0,NaN,C3E8C67B82BD2614F16B20EBF0746AFD,19991228.0,...,KLAJA69VDYK459822-01,19991228.0,2000,N,KLAJA69VDYK459822,10077600240016,A0503,NaN,N,A14N

In [37]:
df.columns

Index(['수정일시', '차량소유자분류코드', '자동차등록번호', '본거지법정동코드', '차량등록일시', '용도코드2',
       '배출가스검사유효일자', '배출가스인증번호', '현재회원번호', '취득일자', '취득금액', '최초회원번호', '최초등록일자',
       '차종코드', '자동차등록번호숫자정보', '차량관리번호', '차량제작일자', '연식', '차량말소여부', '차대번호',
       '제원관리번호', '배출가스등급', '저공해조치종류코드', '구조변경여부', '저공해조치여부'],
      dtype='object', name='내용')

## 코드화 정보 해석

In [34]:
df['차량소유자분류코드'].unique()

array(['A27R', 'A27B', 'A27L', 'A27F', 'A27O'], dtype=object)

In [35]:
# 소유자 구분
own_dict = {'A27B':'사업자', 'A27F':'외국인', 'A27L':'법인', 'A27O':'기타', 'A27R':'주민'}
df['차량소유자분류코드'] = df['차량소유자분류코드'].map(own_dict)
df.head()

내용,수정일시,차량소유자분류코드,자동차등록번호,본거지법정동코드,차량등록일시,용도코드2,배출가스검사유효일자,배출가스인증번호,현재회원번호,취득일자,...,차량관리번호,차량제작일자,연식,차량말소여부,차대번호,제원관리번호,배출가스등급,저공해조치종류코드,구조변경여부,저공해조치여부
0,20/01/31,주민,경기53다3594,4143010700,19/06/22,A08P,20200103.0,WMY-HD-32,9C2FF7B407F565542EA253B130102D0B,19991223.0,...,KMHEN41BPYA238745-01,19991218.0,2000,Y,KMHEN41BPYA238745,10106100220001,A0504,NaN,N,A14N
1,21/11/06,주민,경기77나2064,3020011200,19/06/22,A08P,20060129.0,YMY-HD-32,369E7C1895771FEF7BDEC961CF397599,20051202.0,...,KMJMFH7NPYU011317-01,19991223.0,2000,N,KMJMFH7NPYU011317,10141200040000,A0503,NaN,N,A14N
2,21/07/04,주민,43나6396,4182032521,19/06/22,A08P,20060916.0,SMY-KM-17,E342A76E825BF26541EFCA167A3B9F37,20050613.0,...,KNAJA5265YA807977-01,19991224.0,2000,N,KNAJA5265YA807977,10019100250002,A0505,NaN,N,A14N
3,21/10/23,주민,01두3446,4372025031,19/06/22,A08P,20220809.0,NaN,B7041B69C9E43FEFB0520C6731CE164F,20090323.0,...,KMHGU41BPYU005951-01,19991201.0,2000,Y,KMHGU41BPYU005951,10126100050000,A0503,NaN,N,A14N
4,NaN,주민,서울53고7611,4145011800,19/06/22,A08P,20040103.0,NaN,C3E8C67B82BD2614F16B20EBF0746AFD,19991228.0,...,KLAJA69VDYK459822-01,19991228.0,2000,N,KLAJA69VDYK459822,10077600240016,A0503,NaN,N,A14N

In [36]:
df['차량소유자분류코드'].unique()

array(['주민', '사업자', '법인', '외국인', '기타'], dtype=object)

In [38]:
df['차종코드'].unique()

array(['A31P', 'A31V', 'A31T', 'A31S', nan], dtype=object)

In [40]:
# 차종
car_cate_dict = {'A31M':'이륜', 'A31P':'승용', 'A31S':'특수', 'A31T':'화물', 'A31V':'승합'}
df['차종코드'] = df['차종코드'].map(car_cate_dict)
df['차종코드'].unique()

array(['승용', '승합', '화물', '특수', nan], dtype=object)

In [41]:
df['용도코드2'].unique()

array(['A08P', 'A08B', 'A08O'], dtype=object)

In [42]:
# 용도
use_dict = {'A08B':'영업용', 'A08O':'관용', 'A08P':'자가용', 'A08T':'개인택시'}
df['용도코드2'] = df['용도코드2'].map(use_dict)
df['용도코드2'].unique()

array(['자가용', '영업용', '관용'], dtype=object)

In [43]:
df.head()

내용,수정일시,차량소유자분류코드,자동차등록번호,본거지법정동코드,차량등록일시,용도코드2,배출가스검사유효일자,배출가스인증번호,현재회원번호,취득일자,...,차량관리번호,차량제작일자,연식,차량말소여부,차대번호,제원관리번호,배출가스등급,저공해조치종류코드,구조변경여부,저공해조치여부
0,20/01/31,주민,경기53다3594,4143010700,19/06/22,자가용,20200103.0,WMY-HD-32,9C2FF7B407F565542EA253B130102D0B,19991223.0,...,KMHEN41BPYA238745-01,19991218.0,2000,Y,KMHEN41BPYA238745,10106100220001,A0504,NaN,N,A14N
1,21/11/06,주민,경기77나2064,3020011200,19/06/22,자가용,20060129.0,YMY-HD-32,369E7C1895771FEF7BDEC961CF397599,20051202.0,...,KMJMFH7NPYU011317-01,19991223.0,2000,N,KMJMFH7NPYU011317,10141200040000,A0503,NaN,N,A14N
2,21/07/04,주민,43나6396,4182032521,19/06/22,자가용,20060916.0,SMY-KM-17,E342A76E825BF26541EFCA167A3B9F37,20050613.0,...,KNAJA5265YA807977-01,19991224.0,2000,N,KNAJA5265YA807977,10019100250002,A0505,NaN,N,A14N
3,21/10/23,주민,01두3446,4372025031,19/06/22,자가용,20220809.0,NaN,B7041B69C9E43FEFB0520C6731CE164F,20090323.0,...,KMHGU41BPYU005951-01,19991201.0,2000,Y,KMHGU41BPYU005951,10126100050000,A0503,NaN,N,A14N
4,NaN,주민,서울53고7611,4145011800,19/06/22,자가용,20040103.0,NaN,C3E8C67B82BD2614F16B20EBF0746AFD,19991228.0,...,KLAJA69VDYK459822-01,19991228.0,2000,N,KLAJA69VDYK459822,10077600240016,A0503,NaN,N,A14N

## [출력] [STD]자동차_등록정보(CEG_CAR_MIG)

In [44]:
# about 6m
df.to_csv(os.path.join(std_fold, '[STD][필수]자동차_등록정보(한글컬럼)(2022-12-29).csv'), index=False)

# [로드] 자동차 제원정보(CEG_CAR_SRC_MIG)

## columns

In [35]:
file_name = 'CEG_CAR_SRC_MIG'
col_exc1 = pd.read_excel(f'analysis/ODSvsSTD/[정제]{file_name}.xlsx', sheet_name='ODS_col')

In [36]:
col_exc1

             컬럼           내용
0       UPDT_DT        수정 일시
1      CNFRM_DE        승인 일자
2       DELE_YN        삭제 YN
3       CRTN_DT        생성 일시
4      TOT_WGHT         총 중량
5      VHCTY_TY  차종 유형 (소분류)
6      VHCTY_CL        차종 분류
7         VHCTY           차종
8         VHCNM           차명
9       VHCL_HG        차량 높이
10      VHCL_WH        차량 너비
11      VHCL_LT        차량 길이
12      DRV_FRM        구동 형식
13       MKR_NM        제작사 명
14      SRCMNNO       제원관리번호
15   CRYNG_WGHT        적재 중량
16      CAR_FRM       자동차 형식
17    EMPV_WGHT         공차중량
18      PLOR_NM        원산지 명
19         FUEL           연료
20       EGINTY         엔진형식
21      EGINPWR         엔진출력
22   TKCAR_NMPR        승차 인원
23       DSPLVL          배기량
24  GEARBOX_KND       변속기 종류
25    REPCAR_NM           미정
26          RMK           미정
27      USER_ID           미정

In [37]:
col_exc1 = col_exc1.loc[:24]
col_exc1

             컬럼           내용
0       UPDT_DT        수정 일시
1      CNFRM_DE        승인 일자
2       DELE_YN        삭제 YN
3       CRTN_DT        생성 일시
4      TOT_WGHT         총 중량
5      VHCTY_TY  차종 유형 (소분류)
6      VHCTY_CL        차종 분류
7         VHCTY           차종
8         VHCNM           차명
9       VHCL_HG        차량 높이
10      VHCL_WH        차량 너비
11      VHCL_LT        차량 길이
12      DRV_FRM        구동 형식
13       MKR_NM        제작사 명
14      SRCMNNO       제원관리번호
15   CRYNG_WGHT        적재 중량
16      CAR_FRM       자동차 형식
17    EMPV_WGHT         공차중량
18      PLOR_NM        원산지 명
19         FUEL           연료
20       EGINTY         엔진형식
21      EGINPWR         엔진출력
22   TKCAR_NMPR        승차 인원
23       DSPLVL          배기량
24  GEARBOX_KND       변속기 종류

In [38]:
col_dict1 = {}
for a, b in zip(col_exc1['내용'].to_list(), col_exc1['컬럼'].to_list()):
    col_dict1[a] = b
col_dict1

{'수정 일시': 'UPDT_DT',
 '승인 일자': 'CNFRM_DE',
 '삭제 YN': 'DELE_YN',
 '생성 일시': 'CRTN_DT',
 '총 중량': 'TOT_WGHT',
 '차종 유형 (소분류)': 'VHCTY_TY',
 '차종 분류': 'VHCTY_CL',
 '차종': 'VHCTY',
 '차명': 'VHCNM',
 '차량 높이': 'VHCL_HG',
 '차량 너비': 'VHCL_WH',
 '차량 길이': 'VHCL_LT',
 '구동 형식': 'DRV_FRM',
 '제작사 명': 'MKR_NM',
 '제원관리번호': 'SRCMNNO',
 '적재 중량': 'CRYNG_WGHT',
 '자동차 형식': 'CAR_FRM',
 '공차중량': 'EMPV_WGHT',
 '원산지 명': 'PLOR_NM',
 '연료': 'FUEL',
 '엔진형식': 'EGINTY',
 '엔진출력': 'EGINPWR',
 '승차 인원': 'TKCAR_NMPR',
 '배기량': 'DSPLVL',
 '변속기 종류': 'GEARBOX_KND'}

In [39]:
# 필요한 컬럼만 추출
sel_col1 = [
    '제원관리번호',
    '차명',
    '차종',
    '차종 분류',
    '차종 유형 (소분류)',
    '자동차 형식',
    '제작사 명',
    '연료',
    '엔진형식',
    '총 중량',
    '적재 중량',
    '엔진출력',
    '배기량',
    '승차 인원',
    '차량 길이',
    '차량 너비',
    '차량 높이',
    '원산지 명',
    '삭제 YN',
    '승인 일자',
    '구동 형식',
    '변속기 종류',
    ]
col1 = []
for one in sel_col1:
    col1.append(col_dict1[one])
col1

['SRCMNNO',
 'VHCNM',
 'VHCTY',
 'VHCTY_CL',
 'VHCTY_TY',
 'CAR_FRM',
 'MKR_NM',
 'FUEL',
 'EGINTY',
 'TOT_WGHT',
 'CRYNG_WGHT',
 'EGINPWR',
 'DSPLVL',
 'TKCAR_NMPR',
 'VHCL_LT',
 'VHCL_WH',
 'VHCL_HG',
 'PLOR_NM',
 'DELE_YN',
 'CNFRM_DE',
 'DRV_FRM',
 'GEARBOX_KND']

## [경로]

In [40]:
ods_fold = 'D:\과업\[한국환경공단]자동차_환경_빅데이터_구축_2차\data\ODS'
ods_path = os.path.join(ods_fold, f'ODS_{file_name}.csv')

In [41]:
# about 4s
df1 = pd.read_csv(ods_path, low_memory=False, usecols=col1)

In [42]:
df1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 545374 entries, 0 to 545373
Data columns (total 22 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   SRCMNNO      545374 non-null  object
 1   VHCNM        545272 non-null  object
 2   VHCTY        545370 non-null  object
 3   VHCTY_CL     531367 non-null  object
 4   VHCTY_TY     531332 non-null  object
 5   CAR_FRM      516295 non-null  object
 6   MKR_NM       529017 non-null  object
 7   FUEL         503254 non-null  object
 8   EGINTY       494157 non-null  object
 9   TOT_WGHT     541702 non-null  float64
 10  CRYNG_WGHT   446181 non-null  float64
 11  EGINPWR      471948 non-null  float64
 12  DSPLVL       510521 non-null  float64
 13  TKCAR_NMPR   545313 non-null  float64
 14  VHCL_LT      514786 non-null  float64
 15  VHCL_WH      514799 non-null  float64
 16  VHCL_HG      514732 non-null  float64
 17  PLOR_NM      540392 non-null  object
 18  DELE_YN      545374 non-null  object
 19  CNFRM_DE     532881 non-null  object
 20  DRV_FRM      114619 non-null  object
 21  GEARBOX_KND  540165 non-null  object
dtypes: float64(8), object(14)
memory usage: 91.5+ MB

In [43]:
df1.head()

,SRCMNNO,VHCNM,VHCTY,VHCTY_CL,VHCTY_TY,CAR_FRM,MKR_NM,FUEL,EGINTY,TOT_WGHT,...,DSPLVL,TKCAR_NMPR,VHCL_LT,VHCL_WH,VHCL_HG,PLOR_NM,DELE_YN,CNFRM_DE,DRV_FRM,GEARBOX_KND
0,B0710004800013305,두성26.2㎥벌크 트레일러,T,특수용도형-특수용도형,L,DS-BS2L-262A,(주) 두성특장차,NaN,-,30880.0,...,NaN,0.0,10100.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
1,B0710004900013305,두성38.1㎥벌크 트레일러,T,특수용도형-특수용도형,L,DS-BS3L-381A,(주) 두성특장차,NaN,-,28770.0,...,NaN,0.0,11750.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
2,B0710005000013306,두성41㎥벌크 트레일러,T,특수용도형-특수용도형,L,DS-BS4L-410A,(주) 두성특장차,NaN,-,30780.0,...,NaN,0.0,12020.0,2490.0,3580.0,대한민국,N,20060921,NaN,X
3,B0710005300013305,두성25.8톤코일트레일러,T,특수용도형-특수용도형,L,DS-LS0A-258A,(주) 두성특장차,NaN,-,30850.0,...,NaN,0.0,9640.0,2490.0,1460.0,대한민국,N,20050906,NaN,X
4,B0710005400013305,두성25.8톤리프팅코일트레일러,T,특수용도형-특수용도형,L,DS-LS0A-258B,(주) 두성특장차,NaN,-,30800.0,...,NaN,0.0,9665.0,2490.0,1515.0,대한민국,N,20050906,NaN,X

In [44]:
df1.columns = sel_col1
df1.head()

,제원관리번호,차명,차종,차종 분류,차종 유형 (소분류),자동차 형식,제작사 명,연료,엔진형식,총 중량,...,배기량,승차 인원,차량 길이,차량 너비,차량 높이,원산지 명,삭제 YN,승인 일자,구동 형식,변속기 종류
0,B0710004800013305,두성26.2㎥벌크 트레일러,T,특수용도형-특수용도형,L,DS-BS2L-262A,(주) 두성특장차,NaN,-,30880.0,...,NaN,0.0,10100.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
1,B0710004900013305,두성38.1㎥벌크 트레일러,T,특수용도형-특수용도형,L,DS-BS3L-381A,(주) 두성특장차,NaN,-,28770.0,...,NaN,0.0,11750.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
2,B0710005000013306,두성41㎥벌크 트레일러,T,특수용도형-특수용도형,L,DS-BS4L-410A,(주) 두성특장차,NaN,-,30780.0,...,NaN,0.0,12020.0,2490.0,3580.0,대한민국,N,20060921,NaN,X
3,B0710005300013305,두성25.8톤코일트레일러,T,특수용도형-특수용도형,L,DS-LS0A-258A,(주) 두성특장차,NaN,-,30850.0,...,NaN,0.0,9640.0,2490.0,1460.0,대한민국,N,20050906,NaN,X
4,B0710005400013305,두성25.8톤리프팅코일트레일러,T,특수용도형-특수용도형,L,DS-LS0A-258B,(주) 두성특장차,NaN,-,30800.0,...,NaN,0.0,9665.0,2490.0,1515.0,대한민국,N,20050906,NaN,X

## 코드화 정보 해석

In [45]:
df1['차종'].unique()

array(['T', 'V', 'P', 'S', nan], dtype=object)

In [46]:
# 차종
car_cate_dict = {'M':'이륜', 'P':'승용', 'S':'특수', 'T':'화물', 'V':'승합'}
df1['차종'] = df1['차종'].map(car_cate_dict)
df1['차종'].unique()

array(['화물', '승합', '승용', '특수', nan], dtype=object)

In [47]:
df1['차종 유형 (소분류)'].unique()

array(['L', 'M', 'S', 'C', nan], dtype=object)

In [48]:
# 용도
use_dict = {'C':'경형', 'L':'대형', 'M':'중형', 'S':'소형'}
df1['차종 유형 (소분류)'] = df1['차종 유형 (소분류)'].map(use_dict)
df1['차종 유형 (소분류)'].unique()

array(['대형', '중형', '소형', '경형', nan], dtype=object)

In [49]:
df1.head()

,제원관리번호,차명,차종,차종 분류,차종 유형 (소분류),자동차 형식,제작사 명,연료,엔진형식,총 중량,...,배기량,승차 인원,차량 길이,차량 너비,차량 높이,원산지 명,삭제 YN,승인 일자,구동 형식,변속기 종류
0,B0710004800013305,두성26.2㎥벌크 트레일러,화물,특수용도형-특수용도형,대형,DS-BS2L-262A,(주) 두성특장차,NaN,-,30880.0,...,NaN,0.0,10100.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
1,B0710004900013305,두성38.1㎥벌크 트레일러,화물,특수용도형-특수용도형,대형,DS-BS3L-381A,(주) 두성특장차,NaN,-,28770.0,...,NaN,0.0,11750.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
2,B0710005000013306,두성41㎥벌크 트레일러,화물,특수용도형-특수용도형,대형,DS-BS4L-410A,(주) 두성특장차,NaN,-,30780.0,...,NaN,0.0,12020.0,2490.0,3580.0,대한민국,N,20060921,NaN,X
3,B0710005300013305,두성25.8톤코일트레일러,화물,특수용도형-특수용도형,대형,DS-LS0A-258A,(주) 두성특장차,NaN,-,30850.0,...,NaN,0.0,9640.0,2490.0,1460.0,대한민국,N,20050906,NaN,X
4,B0710005400013305,두성25.8톤리프팅코일트레일러,화물,특수용도형-특수용도형,대형,DS-LS0A-258B,(주) 두성특장차,NaN,-,30800.0,...,NaN,0.0,9665.0,2490.0,1515.0,대한민국,N,20050906,NaN,X

In [50]:
df1.iloc[:5, 5:]

,자동차 형식,제작사 명,연료,엔진형식,총 중량,적재 중량,엔진출력,배기량,승차 인원,차량 길이,차량 너비,차량 높이,원산지 명,삭제 YN,승인 일자,구동 형식,변속기 종류
0,DS-BS2L-262A,(주) 두성특장차,NaN,-,30880.0,26200.0,NaN,NaN,0.0,10100.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
1,DS-BS3L-381A,(주) 두성특장차,NaN,-,28770.0,23200.0,NaN,NaN,0.0,11750.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
2,DS-BS4L-410A,(주) 두성특장차,NaN,-,30780.0,25000.0,NaN,NaN,0.0,12020.0,2490.0,3580.0,대한민국,N,20060921,NaN,X
3,DS-LS0A-258A,(주) 두성특장차,NaN,-,30850.0,25800.0,NaN,NaN,0.0,9640.0,2490.0,1460.0,대한민국,N,20050906,NaN,X
4,DS-LS0A-258B,(주) 두성특장차,NaN,-,30800.0,25800.0,NaN,NaN,0.0,9665.0,2490.0,1515.0,대한민국,N,20050906,NaN,X

In [51]:
df1['연료'].unique()

array([nan, 'DS', 'GS', 'CN', 'GH', 'LP', 'OT', 'AC', 'EV', 'SH', 'CH',
       'KS', 'DH', 'LH', 'HD', 'LN'], dtype=object)

In [52]:
# 연료
use_dict = {'DS':'경유', 'GS':'휘발유', 'CN':'CNG(압축천연가스)', 'GH':'휘발유 하이브리드', 'LP':'LGP(액화석유가스)', 'OT':'기타연료', 'AC':'알코올', 'EV':'전기', 'SH':'태양열', 'CH':'CNG 하이브리드',
       'KS':'등유', 'DH':'경유 하이브리드', 'LH':'LPG 하이브리드', 'HD':'수소', 'LN':'LNG(액화천연가스)', 'PH':'플러그인 하이브리드', 'X':'무동력'}
df1['연료'] = df1['연료'].map(use_dict)
df1['연료'].unique()

array([nan, '경유', '휘발유', 'CNG(압축천연가스)', '휘발유 하이브리드', 'LGP(액화석유가스)',
       '기타연료', '알코올', '전기', '태양열', 'CNG 하이브리드', '등유', '경유 하이브리드',
       'LPG 하이브리드', '수소', 'LNG(액화천연가스)'], dtype=object)

In [53]:
df1.head()

,제원관리번호,차명,차종,차종 분류,차종 유형 (소분류),자동차 형식,제작사 명,연료,엔진형식,총 중량,...,배기량,승차 인원,차량 길이,차량 너비,차량 높이,원산지 명,삭제 YN,승인 일자,구동 형식,변속기 종류
0,B0710004800013305,두성26.2㎥벌크 트레일러,화물,특수용도형-특수용도형,대형,DS-BS2L-262A,(주) 두성특장차,NaN,-,30880.0,...,NaN,0.0,10100.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
1,B0710004900013305,두성38.1㎥벌크 트레일러,화물,특수용도형-특수용도형,대형,DS-BS3L-381A,(주) 두성특장차,NaN,-,28770.0,...,NaN,0.0,11750.0,2490.0,3650.0,대한민국,N,20050906,NaN,X
2,B0710005000013306,두성41㎥벌크 트레일러,화물,특수용도형-특수용도형,대형,DS-BS4L-410A,(주) 두성특장차,NaN,-,30780.0,...,NaN,0.0,12020.0,2490.0,3580.0,대한민국,N,20060921,NaN,X
3,B0710005300013305,두성25.8톤코일트레일러,화물,특수용도형-특수용도형,대형,DS-LS0A-258A,(주) 두성특장차,NaN,-,30850.0,...,NaN,0.0,9640.0,2490.0,1460.0,대한민국,N,20050906,NaN,X
4,B0710005400013305,두성25.8톤리프팅코일트레일러,화물,특수용도형-특수용도형,대형,DS-LS0A-258B,(주) 두성특장차,NaN,-,30800.0,...,NaN,0.0,9665.0,2490.0,1515.0,대한민국,N,20050906,NaN,X

## [출력] [ODS]자동차_제원정보(CEG_CAR_SRC_MIG)

In [79]:
# about 5s
df1.to_csv(os.path.join(ods_fold, '[ODS][필수]자동차_제원정보(한글컬럼)(2022-12-29).csv'), index=False)

# 코드 마지막